{{ newsitem.text|raw }}

<h6 style="font-weight:normal">
    <em>Cet email a été envoyé automatiquement, merci de ne pas y répondre.</em><br>
    <em>Si ce message ne s'affiche pas correctement, <a href="https://upont.enpc.fr/publications/{{ newsitem.slug }}" title="Aller sur uPont">tu peux aussi le voir sur uPont</a>.</em><br>
    <a href="https://upont.enpc.fr/eleves/modifier-profil" title="Profil uPont">Modifier ses préférences mail</a>
</h6>
