<div up-row wrap>
    <div up-col-xs="100%" up-col-sm="100%" up-col-md="100%" up-col="50%" ng-if="!playing && !end">
        <div class="up-ticket">
            <h2>Le jeu</h2>

            Présentation, règles trucs très intéressants<br>

            <div up-row center>
                <button ng-click="post()">Jouer !</button>
            </div>
        </div>
    </div>

    <div up-col-xs="100%" up-col-sm="100%" up-col-md="100%" up-col="50%" ng-if="!playing && !end">
        <div class="up-ticket">
            <h2>Highscore</h2>

            <em>À venir...</em>
        </div>
    </div>

    <div up-col-xs="100%" up-col-sm="100%" up-col-md="100%" up-col="100%" ng-if="playing && !end">
        <div class="up-ticket">
            <div up-col-xs="100%" up-col-sm="100%" up-col="50%" up-row padded center>
                Chronomètre : {{ (clock - start)/1000 | formatDuration }}
            </div>

            <br>

            <div up-row padded center>
                <div up-col-xs="50%" up-col-sm="50%" up-col-md="30%" up-col="25%">
                    <div class="up-image-container">
                        <div class="up-image" ng-style="{ 'background-image' : 'url(' + picture + ')' }"></div>
                    </div>
                </div>
            </div>

            <div class="centering">
                <br>
                <button up-col-xs="100%" up-col-sm="100%" up-col="33%" ng-click="next(0)">{{ name1 }}</button>
                <button up-col-xs="100%" up-col-sm="100%" up-col="33%" ng-click="next(1)">{{ name2 }}</button>
                <button up-col-xs="100%" up-col-sm="100%" up-col="33%" ng-click="next(2)">{{ name3 }}</button>
            </div>
        </div>
    </div>

    <div up-col-xs="100%" up-col-sm="100%" up-col-md="100%" up-col="50%" ng-if="end">
        <div class="up-ticket">
            <div ng-repeat="face in gameData.list_users" up-col-xs="100%" up-col-sm="100%" up-col-md="100%" up-col="100%" up-row wrap padded>
                <div up-col="30%">
                    <div class="up-image-container">
                        <div class="up-image" ng-style="{ 'background-image' : 'url({{ face.image | urlFile }})' }"></div>
                    </div>
                </div>

                <div up-col="70%">
                    <h3>Réponse <span ng-if="face.result">juste !</span><span ng-if="!face.result">fausse !</span></h3>

                    <div up-col="100%">
                        <div ng-if="face.result">
                            Il s'agissait bien de <b>{{ face[face.answer] }}</b>.
                        </div>

                        <div ng-if="!face.result">
                            Tu as répondu <b>{{ face[face.answered] }}</b> alors que la réponse correcte était <b>{{ face[face.answer] }}</b>.

                            <h4>Pénalité de temps : 5 secondes</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div up-col-xs="100%" up-col-sm="100%" up-col-md="100%" up-col="50%" ng-if="end">
        <div class="up-ticket">
            <h3>Temps</h3>

            Ton score total est de tructruc.

            <div up-col="100%">
                <div class up-row center>
                    <button ng-click="post()">Rejouer !</button>
                </div>
            </div>
        </div>
    </div>
</div>
