<div class="up-column up-zone-picker up-ticket">
    <div up-row left>
        <a ui-sref="root.users.students.list" up-state-active>Ponts'binoscope</a>
        <a ui-sref="root.users.students.simple({slug: $root.me.username})" up-state-active="root.users.students.simple">Voir le profil</a>
        <a ui-sref="root.users.students.modify" up-state-active ng-if="!$root.isAdmissible">Modifier le profil</a>
        <a ui-sref="root.users.students.game" up-state-active ng-if="!$root.isAdmissible">Le jeu</a>
    </div>
</div>

<div ui-view root-state="root.users.students" autoscroll="false"></div>
