<aside col class="Aside">
    <header col="space-around start" class="Aside__header  text-center">
        <div flex="100" class="padded">
            <a ng-hide="$root.surprise" class="Logo" ui-sref="root.users.publications.index"></a>
            <a ng-show="$root.surprise" class="Logo  Logo--pr0n" target="_blank" href="http://www.youporn.com"></a>
        </div>

        <up-search flex="100"></up-search>
    </header>

    <section class="Aside__middle">
        <nav>
            <a class="Aside__navlink" ui-sref="root.users.publications.index" up-state-active>
                <i class="fa fa-comment"></i> News
            </a>
            <a class="Aside__navlink  flex-hide-md  flex-hide-lg" ui-sref="root.users.messages" up-state-active>
                <i class="fa fa-comments"></i> Messages
            </a>
            <a class="Aside__navlink" ui-sref="root.users.calendar" up-state-active>
                <i class="fa fa-calendar"></i> Calendrier
            </a>
            <a class="Aside__navlink" ui-sref="root.users.assos.list" up-state-active="root.users.assos">
                <i class="fa fa-thumbs-o-up"></i> Assos
            </a>
            <a class="Aside__navlink" ui-sref="root.users.students.list" up-state-active="root.users.students" id="link-students">
                <i class="fa fa-graduation-cap"></i> Élèves
            </a>
            <a class="Aside__navlink" ui-sref="root.users.resources.courses.list" up-state-active="root.users.resources">
                <i class="fa fa-suitcase"></i> Ressources
            </a>
            <a class="Aside__navlink" ui-sref="root.users.ponthub.category.list" up-state-active="root.users.ponthub">
                <i class="fa fa-film"></i> PontHub
            </a>
            <a class="Aside__navlink" ng-if="!$root.isAdmissible" ui-sref="root.users.students.modify({slug: $root.me.username})" up-state-active>
                <i class="fa fa-star"></i> Profil
            </a>
            <a class="Aside__navlink" ng-if="$root.isAdmin" ui-sref="root.users.admin.students" up-state-active="root.users.admin">
                <i class="fa fa-wrench"></i> Zone Admin
            </a>
        </nav>

        <hr class="Aside__separator">

        <section class="padded">
            <a class="Link  Link--reverse" title="Faire une remarque sur uPont"
               ng-if="!$root.isAdmissible" ui-sref="root.users.assos.ki">
                <i class="fa fa-bullhorn"></i> Aide-nous et donne ton avis
            </a><br>

            <span ng-hide="$root.me.balance == null">
                <i class="fa fa-beer"></i> Compte Foyer : {{ $root.me.balance | number:2 }} €</i><br>
                <a class="Link  Link--reverse" target="_blank" href="https://lydia-app.com/collect/foyer-enpc-rechargement" title="Rechargement via Lydia"><i class="fa fa-thumbs-up"></i> Recharger...</a>
            </span><br>

            <a class="Link  Link--reverse" title="Voir les achievements" ui-sref="root.users.students.simple({slug:$root.me.username})">
                <i class="fa fa-{{ level.image }}"></i> {{ level.name }}
            </a><br>

            <i class="fa fa-child"></i> En ligne :
            <span ng-repeat="user in online">
                <span ng-if="$index < 10" up-user user="user">{{ user.nick }}<span ng-if="$index != online.length-1 && $index < 9">,</span></span>
            </span>
            <span ng-if="online.length > 10">et {{ online.length - 10 }} autre{{ online.length == 11 ? ' utilisateur' : 's utilisateurs' }}.</span><br>
        </section>
    </section>

    <footer col="space-around end" class="Aside__footer  text-center">
        <section flex="100">
            <span class="clickable" ng-click="$root.switchTheme()">
                <input class="clickable" type="checkbox" ng-checked="$root.theme == 'dark'">&nbsp;Thème sombre
            </span><br>


            <a class="Link  Link--reverse" target="_blank" href="https://trello.com/b/a7pIk6zk/upont" title="Board Trello de uPont">
                <i class="fa fa-trello"></i>
                uPont {{ version.version }}.{{ version.major }}.{{ version.minor }}
            </a>
            &nbsp;&nbsp;-&nbsp;&nbsp;
            <a class="Link  Link--reverse" title="Se déconnecter" ng-click="logout()">
                <i class="fa fa-sign-out"></i> Déconnexion
            </a><br>


            <a class="Link  Link--reverse" target="_blank" title="Repo GitHub de uPont"
               ng-href="https://github.com/KIClubinfo/upont/commit/{{ version.build }}">
                <i class="fa fa-github"></i> Build {{ version.build }}
            </a>
            &nbsp;({{ version.date | formatDate }})
        </section>
    </footer>
</aside>
