<div class="padded" row="space-between start">
    <div class="btn-group">
        <button
            class="btn btn-primary"
            mwl-date-modifier
            date="calendarDay"
            decrement="calendarView">
            <i class="fa fa-chevron-left"></i>
        </button>

        <button
            class="btn btn-default"
            mwl-date-modifier
            date="calendarDay"
            set-to-today>
            <i class="fa fa-clock-o"></i>
        </button>

        <button
            class="btn btn-primary"
            mwl-date-modifier
            date="calendarDay"
            increment="calendarView">
          <i class="fa fa-chevron-right"></i>
        </button>
    </div>

    <div><h3 style="margin:0 auto; margin-top: 5px;">{{ calendarTitle | ucfirst }}</h3></div>

    <div class="btn-group pull-right">
        <label class="btn btn-primary" ng-class="{'active':calendarView=='year'}"  ng-click="setView('year')">Année</label>
        <label class="btn btn-primary" ng-class="{'active':calendarView=='month'}" ng-click="setView('month')">Mois</label>
        <label class="btn btn-primary" ng-class="{'active':calendarView=='week'}"  ng-click="setView('week')">Semaine</label>
        <label class="btn btn-primary" ng-class="{'active':calendarView=='day'}"   ng-click="setView('day')">Jour</label>
    </div>
</div>

<mwl-calendar
    view="calendarView"
    current-day="calendarDay"
    events="events"
    view-title="calendarTitle"
    day-view-start="08:00"
    day-view-end="23:00"
    day-view-split="60"
    on-event-click="eventClicked(calendarEvent)"
    on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
    edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
    delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
    on-edit-event-click="eventEdited(calendarEvent)"
    on-delete-event-click="eventDeleted(calendarEvent)"
    auto-open="true">
</mwl-calendar>
