<nav class="Topbar">
    <header class="Topbar__header" row="space-between center">
        <div flex="15" row="center stretch">
            <a class="Link  Link--reverse  padded" ng-click="$root.showTopMenu=!$root.showTopMenu">
                <i class="fa  fa-bars  huge"></i>
            </a>
        </div>
        <up-search flex="60"></up-search>
        <div flex="15" row="center stretch">
            <a ng-hide="$root.surprise" class="Logo" ui-sref="root.users.publications.index"></a>
        </div>
    </header>

    <ul class="Ticket Topbar__dropdown" flex="100" ng-show="$root.showTopMenu" ng-click="$root.showTopMenu=!$root.showTopMenu">
        <li><a class="Topbar__link  Link  Link--reverse" ui-sref="root.users.publications.index"><i class="fa fa-comment"></i>News</a></li>
        <li><a class="Topbar__link  Link  Link--reverse" ui-sref="root.users.messages"><i class="fa fa-comments"></i>Messages</a></li>
        <li><a class="Topbar__link  Link  Link--reverse" ui-sref="root.users.calendar"><i class="fa fa-calendar"></i>Calendrier</a></li>
        <li><a class="Topbar__link  Link  Link--reverse" ui-sref="root.users.assos.list"><i class="fa fa-thumbs-o-up"></i>Assos</a></li>
        <li><a class="Topbar__link  Link  Link--reverse" ui-sref="root.users.students.list"><i class="fa fa-graduation-cap"></i>Élèves</a></li>
        <li><a class="Topbar__link  Link  Link--reverse" ui-sref="root.users.resources.courses.list"><i class="fa fa-suitcase"></i>Ressources</a></li>
        <li><a class="Topbar__link  Link  Link--reverse" ui-sref="root.users.ponthub.category.list"><i class="fa fa-film"></i>PontHub</a></li>
        <li><a class="Topbar__link  Link  Link--reverse" ui-sref="root.users.students.modify"><i class="fa fa-address-card-o"></i>Profil</a></li>
        <li ng-if="$root.isAdmin"><a class="Topbar__link  Link  Link--reverse" ui-sref="root.users.admin.students"><i class="fa fa-wrench"></i>Zone Admin</a></li>
        <li><a class="Topbar__link  Link  Link--reverse" ui-sref="root.users.connection"><i class="fa fa-power-off"></i>Tableau de bord</a></li>
    </ul>
</nav>
