<div class="up-tour-container"  ng-class="{'up-tour-shown': !$root.me.tour}">
    <div class="up-tour-toggle" ng-click="off()">
        <i class="fa fa-times fa-block up-clickable" title="Stopper le tuto"></i>
    </div>
    <div class="up-tour">
        <div class="up-tour-content" up-row>
            <div class="up-tour-controls">
                <h3>uPont Tour</h3>
                <i class="fa fa-chevron-left up-clickable" ng-class="{'fa-tour-disabled': step == 0}" ng-click="previous()"></i>
                <i class="fa fa-{{ icon }} up-tour-icon"></i>
                <i class="fa fa-chevron-right up-clickable" ng-click="next()"></i>
            </div>
            <div class="up-tour-text" ng-bind-html="text"></div>
        </div>
    </div>
</div>
