<footer class="Tour" ng-class="{'Tour--shown': !$root.me.tour}">
    <div class="Tour__toggle" ng-click="off()">
        <i class="fa  fa-times" title="Stopper le tuto"></i>
    </div>
    <div row="start start" class="padded">
        <aside col="space-between space-between" class="Tour__controls  text-center">
            <h3>uPont Tour</h3>

            <div row="space-around center" class="padded">
                <i class="fa  fa-chevron-left  clickable"
                   ng-class="{'Tour__controls--disabled': step == 0}"
                   ng-click="previous()"></i>

                <i class="fa  fa-{{ icon }}  Tour__icon"></i>

                <i class="fa  fa-chevron-right  Link  Link--reverse"
                   ng-click="next()"></i>
            </div>
        </aside>
        <section class="Tour__text" ng-bind-html="text"></section>
    </div>
</footer>
