<aside>
    <div class="up-aside-top-bar" ng-controller="Search_Ctrl">
        <div class="centering up-logo">
            <a class="up-logo-link" ui-sref="root.home"></a>
        </div>
        <div class="up-sb">
            <i class="fa fa-search"></i>
            <input class="search" type="text" ng-model="searchValue" placeholder="Rechercher" ng-change="doSearch(searchValue)" />
        </div>
        <div class="up-sb-results" ng-show="searchResults.posts.length || searchResults.clubs.length || searchResults.files.length">
            <!-- <div class="up-sb-section" up-row ng-if="searchResults.users.length">
                <div class="up-sb-cell up-sb-title" up-col="25%">ÉLÈVES</div>
                <div class="up-sb-cell" up-col="75%">
                    <div class="up-sb-item" ng-repeat="user in searchResults.users | limitTo:4">
                        <img class="up-profil-picture" ng-src="{{$root.me.image_url | urlFile}}" alt=""/> {{user.name}}
                    </div>
                </div>
            </div> -->
            <!-- <div class="up-sb-section" up-row ng-if="searchResults.posts.length">
                <div class="up-sb-cell up-sb-title" up-col="25%">POSTS</div>
                <div class="up-sb-cell" up-col="75%">
                    <div class="up-sb-item" ng-repeat="post in searchResults.posts| limitTo:4">
                        <img class="up-profil-picture" ng-src="{{post.image  | urlFile}}" alt=""/> {{post.name}}
                    </div>
                </div>
            </div> -->
            <div class="up-sb-section" up-row ng-if="searchResults.clubs.length">
                <div class="up-sb-cell up-sb-title" up-col="25%">CLUBS</div>
                <div class="up-sb-cell" up-col="75%">
                    <div class="up-sb-item" ng-repeat="club in searchResults.clubs| limitTo:4">
                        <a ng-click="resetSearch()" ui-sref="{{ redirect(club) }}">
                            <img class="up-profil-picture" ng-src="{{ club.image_url | urlFile}}" alt="Logo de l'assos"/> {{ club.name }}
                        </a>
                    </div>
                </div>
            </div>
            <div class="up-sb-section" up-row ng-if="searchResults.files.length">
                <div class="up-sb-cell up-sb-title" up-col="25%">PONTHUB</div>
                <div class="up-sb-cell" up-col="75%">
                    <div class="up-sb-item" ng-repeat="file in searchResults.files | limitTo:4">
                        <a ng-click="resetSearch()" ui-sref="{{ redirect(file) }}">
                            <img ng-if="file.image_url" class="up-profil-picture" ng-src="{{ file.image_url | urlFile}}" alt="Image du fichier"/>
                            <i ng-if="!file.image_url" class="fa fa-{{ icon(file) }}"></i>
                            {{ file.name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="up-aside-menu">
        <div><a ui-sref="root.home" up-state-active><i class="fa fa-comment"></i> News</a>
        </div>
        <div><a ui-sref="root.ponthub.liste" up-state-active="root.ponthub"><i class="fa fa-film"></i> PontHub</a>
        </div>
        <div><a ui-sref="root.channels.liste" up-state-active="root.channels"><i class="fa fa-thumbs-o-up"></i> Assos</a>
        </div>
        <!--<div><a ui-sref="root.promo.trombi" up-state-active="root.promo"><i class="fa fa-graduation-cap"></i> Promo</a>
        </div>
        <div><a ui-sref="root.ki.contact" up-state-active="root.ki"><i class="fa fa-flash"></i> KI</a>
        </div>
        <div><a ui-sref="root.cours" up-state-active><i class="fa fa-briefcase"></i> Cours</a>
        </div>-->
        <div><a ui-sref="root.calendrier" up-state-active><i class="fa fa-calendar"></i> Calendrier</a>
        </div>
        <div><a ui-sref="root.profile" up-state-active><i class="fa fa-star"></i> Profil</a>
        </div>
        <div ng-if="$root.isAdmin"><a ui-sref="root.admin" up-state-active><i class="fa fa-wrench"></i> Zone Admin</a>
        </div>
    </div>
    <hr>
    <div class="up-aside-middle">
        <div>
            <div ng-hide="foyer == null"><i class="fa fa-beer"></i> Compte Foyer : {{ foyer }} <i class="fa fa-euro"></i></div>
        </div>
        <div>
            <i class="fa fa-child"></i> En ligne :
            <span ng-repeat="user in online">
                <span ng-if="$index < 15">{{ user.nick }}</span><span ng-if="$index != online.length-1 && $index < 14">,</span>
            </span>
            <span ng-if="online.length > 15">et {{ online.length - 15 }} autre{{ online.length == 16 ? ' utilisateur' : 's utilisateurs' }}.</span>
        </div>
    </div>
    <div class="up-aside-footer">
        <div class="up-deconnection"><a ng-click="logout()"><i class="fa fa-sign-out"></i> Déconnexion</a>
        </div>
        <div>
            <span class="unbold" ng-click="$root.switchTheme()" style="cursor: pointer">
                <input type="checkbox" ng-checked="$root.theme == 'dark'">&nbsp;Thème sombre
            </span>
        </div>
        <div class="up-version">uPont {{ version.version }}.{{ version.major }}.{{ version.minor }}
            <br> Build <a ng-href="https://github.com/KIClubinfo/upont/commit/{{ version.build }}" title="Repo GitHub de uPont">{{ version.build }}</a> ({{ version.date | formatDate }})</div>
    </div>
</aside>
