<aside>
    <div><a ui-sref="home" ui-sref-active="active"><i class="fa fa-comment"></i> News</a>
    </div>
    <div><a ui-sref="ponthub" ui-sref-active="active"><i class="fa fa-film"></i> PontHub</a>
    </div>
    <div><a ui-sref="channels" ui-sref-active="active"><i class="fa fa-thumbs-o-up"></i> Assos</a>
    </div>
    <!--<div><a ui-sref="promo" ui-sref-active="active"><i class="fa fa-graduation-cap"></i> Promo</a>
    </div>
    <div><a ui-sref="ki" ui-sref-active="active"><i class="fa fa-flash"></i> KI</a>
    </div>
    <div><a ui-sref="cours" ui-sref-active="active"><i class="fa fa-briefcase"></i> Cours</a>
    </div>-->
    <div><a ui-sref="calendrier" ui-sref-active="active"><i class="fa fa-calendar"></i> Calendrier</a>
    </div>
    <div><a ui-sref="profil" ui-sref-active="active"><i class="fa fa-star"></i> Profil</a>
    </div>
</aside>
