<aside>
    <div class="up-aside-menu">
        <div><a ui-sref="root.home" up-state-active="root.home"><i class="fa fa-comment"></i> News</a>
        </div>
        <div><a ui-sref="root.ponthub.liste" up-state-active="root.ponthub"><i class="fa fa-film"></i> PontHub</a>
        </div>
        <div><a ui-sref="root.channels.liste" up-state-active="root.channels"><i class="fa fa-thumbs-o-up"></i> Assos</a>
        </div>
        <!--<div><a ui-sref="root.promo.trombi" up-state-active="root.promo"><i class="fa fa-graduation-cap"></i> Promo</a>
        </div>
        <div><a ui-sref="root.ki.contact" up-state-active="root.ki"><i class="fa fa-flash"></i> KI</a>
        </div>
        <div><a ui-sref="root.cours" up-state-active><i class="fa fa-briefcase"></i> Cours</a>
        </div>-->
        <div><a ui-sref="root.calendrier" up-state-active><i class="fa fa-calendar"></i> Calendrier</a>
        </div>
        <div><a ui-sref="root.profil" up-state-active><i class="fa fa-star"></i> Profil</a>
        </div>
    </div>
    <hr>
    <div class="up-aside-middle">
        <div>
            <div ng-hide="foyer == null"><i class="fa fa-beer"></i> Compte Foyer : {{ foyer }} <i class="fa fa-euro"></i></div>
        </div>

        <div>
            <div>
                <i class="fa fa-child"></i> En ligne :
                <span ng-repeat="user in online">
                    <span>{{ user.nick }}</span><span ng-if="$index != online.length-1">,</span>
                </span>
            </div>
        </div>
    </div>
    <div class="up-aside-footer">
        <hr>
        <div class="up-deconnection"><a ng-click="logout()"><i class="fa fa-sign-out"></i> Déconnexion</a>
        </div>
        <div>
            <span class="unbold" ng-click="$root.switchTheme()" style="cursor: pointer">
                <input type="checkbox" ng-checked="$root.theme == 'dark'">&nbsp;Thème sombre
            </span>
        </div>
        <div class="up-version">uPont {{ version.version }}.{{ version.major }}.{{ version.minor }}
            <br> Build {{ version.build }} ({{ version.date | formatDate }})</div>
    </div>
</aside>
