<div up-row padded right>
    <div class="up-likes up-clickable" ng-click="upvote(url);" ng-class="{active : objet.like}">
        <i class="fa fa-thumbs-o-up"></i> {{ objet.likes >= 0 ? objet.likes : 0 }}
    </div>

    <div class="up-likes up-clickable" ng-click="downvote(url);" ng-class="{active : objet.dislike}">
        <i class="fa fa-thumbs-o-down"></i> {{ objet.dislikes >= 0 ? objet.dislikes : 0 }}
    </div>

    <div class="up-likes">
        <i class="fa fa-comment"></i> {{ objet.comments }}
    </div>
</div>

<hr>

<div>
    <div ng-if="shownComments < 0 && comments.length > 3">
        <h3 class="up-likes up-clickable" ng-click="openComments()" ng-class="{active : shownComments > 0 }" >Afficher {{ comments.length+shownComments }} {{ comments.length+shownComments == 1 ? 'commentaire précédent' : 'commentaires précédents' }}</h3>
    </div>
    <div class="up-comment" ng-repeat="comment in comments | orderBy: date | limitTo: shownComments" up-row left>
        <img up-col="7%" class="up-profile-picture" ng-src="{{comment.author.image_url | urlFile}}"/>
        <div up-col="93%">
            <strong>{{ comment.author.nick }} : </strong>
            <span ng-bind-html="comment.text | nl2br"></span><br>
            {{ comment.date | fromNow }}&nbsp;
            <span class="up-likes up-clickable" ng-click="likeComment(comment)"  ng-class="{active : comment.like}">
                <i class="fa fa-thumbs-o-up"></i> {{ comment.likes >= 0 ? comment.likes : 0 }}
            </span>
            &nbsp;
            <span class="up-likes up-clickable" ng-click="dislikeComment(comment)"  ng-class="{active : comment.dislike}">
                <i class="fa fa-thumbs-o-down"></i> {{ comment.dislikes >= 0 ? comment.dislikes : 0 }}
            </span>
        </div>
    </div>
    <form up-row left ng-submit="submitComment(commentText)" autocomplete="off">
        <img class="up-profile-picture" ng-src="{{ $root.me.image_url | urlFile }}" />
        <textarea class="up-col-xs-12 comment-textarea" ng-model="commentText"
                  placeholder="Ajouter un commentaire" msd-elastic
                  ng-keyup="$event.keyCode == 13 && !$event.shiftKey ? submitComment(commentText) : null"></textarea>
    </form>
</div>
