<span class="addon" ng-click="toggleCategories()">
    <i class="fa fa-angle-down"></i> {{ $root.searchCategory }}
    <ul class="select" ng-show="showCategories">
        <!--<li ng-click="changeCategory('Utilisateurs', searchValue)">Utilisateurs</li>-->
        <li ng-click="changeCategory('Ponthub', searchValue)">Ponthub</li>
        <li ng-click="changeCategory('Assos', searchValue)">Assos</li>
        <!--<li>Publication</li>
        <li>Cours</li>
        <li>Annale</li>
        <li>Tag</li>-->
    </ul>
</span>

<div class="up-autocomplete">
    <input class="search" type="text" ng-model="searchValue" placeholder="Rechercher quelque chose..."
           ng-keyup="doSearch(searchValue)"/>
    <ul class="suggestions" ng-if="searchResults.length">
        <li ng-repeat="result in searchResults"
            ng-bind-html="result.name | match: searchValue"
            ng-click="redirect(result)"
            class="up-clickable"></li>
    </ul>
</div>
<span class="addon"><i class="fa fa-search"></i></span>
