<div class="up-ticket" ng-hide="event.entry_method != 'Shotgun'">
    <h1>{{ event.name }} - Shotgun</h1>

    <!-- Si on a pas shotgunné -->
    <div ng-hide="shotgunned || shotgun.position" class="up-shotgun centering" up-row wrap left>
        <div up-col-xs="100%" up-col-sm="100%" up-col="50%" class="status">
            <p><i class="fa fa-bolt"></i></p>
            <p>Shotgun !<br>
            (attention, uPont ne soigne pas le shotgun précoce)</p>
        </div>

        <div up-col-xs="100%" up-col-sm="100%" up-col="50%">
            <form ng-submit="shotgunEvent()" class="center">
                <textarea placeholder="Ta motivation ici" rows="5"
                ng-model="motivation" ngMinlength="1" required></textarea>
            </form>
            <br>
            <button class="btn btn-default" ng-click="shotgunEvent()">Shotgunner !</button>
        </div>
    </div>

    <!-- Si on a shotgunné -->
    <div ng-show="shotgunned || shotgun.position" class="up-shotgun centering" up-row wrap left>

        <!-- Si le shotgun a réussi -->
        <div ng-hide="!shotgun.status" up-col-xs="100%" up-col-sm="100%" up-col="50%" class="status">
            <p><i class="fa fa-smile-o"></i></p>
            <p>Shotgun réussi !<br>
            Tu arrives en {{ shotgun.position | formatPosition }} position !<br>
            Un petit mot de la part de l'organisateur :<br><br>
            {{ shotgun.shotgunText }}</p>
        </div>

        <div ng-hide="!shotgun.status" up-col-xs="100%" up-col-sm="100%" up-col="50%">
            <button class="btn btn-default" ng-click="deleteShotgun()">Annuler le shotgun</button>
        </div>

        <!-- Si le shotgun a été fait trop tôt -->
        <div ng-hide="shotgun.status || shotgun.position != 0" up-col-xs="100%" up-col-sm="100%" up-col="50%" class="status">
            <p><i class="fa fa-frown-o"></i></p>
            <p>Shotgun raté !<br>
            En voulant aller trop vite, tu as répondu trop tôt...</p>
        </div>

        <!-- Si on arrive sur liste d'attente -->
        <div ng-hide="shotgun.status || shotgun.position === 0" up-col-xs="100%" up-col-sm="100%" up-col="50%" class="status">
            <p><i class="fa fa-meh-o"></i></p>
            <p>Shotgun raté !<br>
            Tu n'as pas répondu à temps, mais tu es quand même en {{ shotgun.waitingList | formatPosition }} position sur la liste d'attente.</p>
        </div>

        <div ng-hide="shotgun.status || shotgun.position === 0" up-col-xs="100%" up-col-sm="100%" up-col="50%">
            <button class="btn btn-default" ng-click="deleteShotgun()">Annuler le shotgun</button>
        </div>
    </div>
</div>

<div class="up-ticket" ng-show="event.entry_method != 'Shotgun'">
    <h1>Impossible de shotgunner cet event !</h1>
</div>

<div class="up-ticket">
    <h1>Classement des meilleurs shotgunners</h1>

    <p>À venir...</p>
</div>
