<div class="up-topbar">
    <a ng-click="$root.showTopMenu=!$root.showTopMenu" class="up-topbar-open">
        <span class="bars"></span>
    </a>
    <div ng-click="" class="up-topbar-search">
        <!-- <i class="fa fa-search fa-lg"></i> -->
    </div>
    <a ui-sref="root.home" class="up-topbar-title">
        <span class="up-logo-link"></span>
    </a>
</div>
<div class="up-topbar-menu" ng-show="$root.showTopMenu">
    <div class="caret"><i class="fa fa-caret-up fa-2x"></i></div>
    <ul ng-click="$root.showTopMenu=!$root.showTopMenu">
        <li><a class="up-topbar-link" ui-sref="root.home"><i class="fa fa-comment"></i>News</a>
        </li>
        <li><a class="up-topbar-link" ui-sref="root.messages"><i class="fa fa-comments"></i>Messages</a>
        </li>
        <li><a class="up-topbar-link" ui-sref="root.calendrier"><i class="fa fa-calendar"></i>Calendrier</a>
        </li>
        <li><a class="up-topbar-link" ui-sref="root.channels.liste"><i class="fa fa-thumbs-o-up"></i>Assos</a>
        </li>
        <!--<li><a ui-sref="root.promo.trombi"><i class="fa fa-graduation-cap"></i>Promo</a>
        </li>
        <li><a ui-sref="root.ki.contact"><i class="fa fa-flash"></i>KI</a>
        </li>
        <li><a ui-sref="root.cours"><i class="fa fa-briefcase"></i>Cours</a>
        </li>-->
        <li><a class="up-topbar-link" ui-sref="root.ponthub.liste"><i class="fa fa-film"></i>PontHub</a>
        </li>
        <li><a class="up-topbar-link" ui-sref="root.profile"><i class="fa fa-star"></i>Profil</a>
        </li>
        <li ng-if="$root.isAdmin"><a class="up-topbar-link no-underline" ui-sref="root.admin"><i class="fa fa-wrench"></i>Zone Admin</a>
        </li>
    </ul>
</div>
