<div class="Ticket">
    <section class="padded">
        <h1>Créer une assos</h1>

        <form row wrap ng-submit="post(club)" autocomplete="off">
            <div flex="100" flex-md="50" class="padded">
                <input class="Input" type="text" ng-model="club.fullname" placeholder="Nom long" autofocus>
            </div>

            <div flex="100" flex-md="50" class="padded">
                <input class="Input" type="text" ng-model="club.name" placeholder="Nom court">
            </div>

            <div flex="100" flex-md="50" class="padded">
                <select class="Input" ng-model="club.category">
                    <option value="" disabled selected>Catégorie</option>
                    <option value="asso">Association</option>
                    <optgroup label="Clubs du BDE">
                        <option value="club-gastronomique">Gastronomie</option>
                        <option value="club-artistique">Art</option>
                        <option value="club-divertissement">Divertissement</option>
                        <option value="club-culturel">Culture (débat, échanges...)</option>
                        <option value="autre">Autre</option>
                    </optgroup>
                </select>
            </div>

            <div flex="100" class="padded" row="end center">
            	<button flex="50" flex-md="15" class="Button">Créer</button>
            </div>
        </form>
    </section>
</div>
