<div up-row wrap>
    <div up-col-xs="100%" up-col-sm="100%" up-col-md="100%" up-col="50%">
        <div class="up-ticket">
            <h2>La Playlist</h2>

            Tu peux dès maintenant voter pour la playlist du Foyer ! Publie un lien YouTube de ce que t'as envie d'écouter.<br>
            <br>
            <form class="publish-container" ng-submit="post(link)" up-row wrap padded autocomplete="off">
                <input up-col-xs="100%" up-col="50%" ng-model="link" placeholder="Du bon gros son" id="focus-input" />
                <button up-col-xs="100%" up-col="50%" class="up-btn up-btn-default">Envoyer !</button>
            </form>
        </div>

        <div class="up-ticket" ng-repeat="item in youtube.data">
            <div up-row center>
                <youtube-video video-url="item.url"></youtube-video>
            </div>
            <div ng-if="$root.me.username == item.user.username" up-row right padded>
                 <a title="Supprimer la video" ng-click="delete(item)">Supprimer</a>
            </div>
            <br ng-if="$root.me.username != item.user.username">
            <div up-likes objet="item" url="'youtubes/' + item.slug"></div>
        </div>
    </div>

    <div up-col-xs="100%" up-col-sm="100%" up-col-md="100%" up-col="50%">
        <div class="up-ticket">
            <h2>Hall Of Fame</h1>

            Ici sont recensés les plus gros buveurs... attention, seuls les méritants <em>(c'est à dire ceux avec un compte Foyer en positif...)</em> pourront rentrer dans ce classement prestigieux !<br>

            <table class="up-table" up-col="90%">
                <thead>
                    <tr>
                        <th><a ng-click="predicate = 'litres_bus'; reverse=!reverse">Litres bus</a></th>
                        <th><a ng-click="predicate = 'nom'; reverse=!reverse">Élève</a></th>
                        <th><a ng-click="predicate = 'promo'; reverse=!reverse">Promo</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in stats | orderBy:predicate:reverse">
                        <td>{{ user.litres_bus }} L</td>
                        <td>{{ user.nom }}</span></td>
                        <td>{{ user.promo }}</td>
                    </tr>
                    <tr ng-hide="stats.length">
                        <td>Rien à afficher</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
