<div up-row wrap>
    <div up-col-xs="100%" up-col-sm="100%" up-col-md="100%" up-col="50%">
        <div class="up-ticket">
            <h2>Feedback uPont</h2>

            Si tu as des fonctionnalités à suggérer ou des bugs à rapporter, c'est ici ! N'oublie pas de regarder d'abord si la remarque est déjà mentionnée :)<br>
            <br>
            <form class="publish-container" ng-submit="post(msg, false)" up-row wrap right autocomplete="off">
                <textarea ng-model="msg" placeholder="Ce qui te passe par la tête... ce que tu aimes, ce que tu n'aimes pas, un bug..." msd-elastic id="focus-input"></textarea>
                <div up-col-xs="100%" up-col-sm="100%" up-col-md="33%" up-col="33%"><button up-col="100%" class="up-btn up-btn-default">Envoyer !</button></div>
            </form>
        </div>

        <div ng-include="'views/users/assos/fix.html'" ng-repeat="fix in fixes.data | filter:{fix:false}"></div>
    </div>

    <div up-col-xs="100%" up-col-sm="100%" up-col-md="100%" up-col="50%">
        <div class="up-ticket">
            <h2>Contacte le KI !</h1>

            Un problème ? Ton ordi plante ? Tu n'as plus Internet chez toi ? <a style="color: inherit !important" href="https://www.youtube.com/watch?v=vh3tuL_DVsE" target="_blank">Une horde de martiens t'attaque ?</a> Le KI essayera de résoudre au mieux tes problèmes.<br>
            <br>
            <form class="publish-container" ng-submit="post(fix, true)" up-row wrap right autocomplete="off">
                <textarea ng-model="fix" placeholder="Une explication la plus détaillée possible du problème." msd-elastic></textarea>
                <div up-col-xs="100%" up-col-sm="100%" up-col-md="33%" up-col="33%"><button up-col="100%" class="up-btn up-btn-default">Envoyer !</button></div>
            </form>
        </div>

        <div ng-include="'views/users/assos/fix.html'" ng-repeat="fix in ownFixes.data | filter:{fix:true}"></div>

        <div ng-if="isFromKI" class="up-ticket">
            <h2>Problèmes en attente</h2>

            Tu vois ces demandes parce que tu es membre du KI... à toi de les résoudre au mieux !
        </div>

        <div ng-if="isFromKI" ng-include="'views/users/assos/fix.html'" ng-repeat="fix in fixes.data | filter:{fix:true}"></div>
    </div>
</div>
