<div class="up-ticket up-zone-picker">
    <div ng-if="club.banner_url" class="up-zp-image"><img ng-src="{{ club.banner_url | urlFile }}" alt="Bannière de l'assos" />
    </div>
    <div class="up-row left">
        <a ui-sref="root.users.assos.simple.publications" up-state-active>Activité</a>
        <!-- <a ui-sref="root.clubs.simple.presentation" up-state-active>Présentation</a> -->
        <a ng-if="isAdmin || $root.hasRight(club.slug)" ui-sref="root.users.assos.simple.modify" ui-sref-active="active">Gestion</a>
    </div>
</div>

<div ui-view up-spinner autoscroll="false"></div>
