<div class="up-ticket up-zone-picker">
    <div ng-if="club.banner_url" class="up-zp-image"><img ng-src="{{ club.banner_url | urlFile }}" alt="Bannière de l'assos" />
    </div>
    <div class="up-row left">
        <a ui-sref="root.users.assos.simple.publications" up-state-active>{{ club.full_name }} <span ng-if="club.full_name !== club.name">({{ club.name }})</span></a>
        <a ng-if="(isAdmin || $root.hasClub(club.slug) || club.presentation !== undefined) && !club.administration" ui-sref="root.users.assos.simple.presentation" ui-sref-active="active">Présentation</a>
        <a ng-if="club.slug == 'ki'" ui-sref="root.users.assos.ki" ui-sref-active="active">Dépannage</a>
        <a ng-if="club.slug == 'foyer'" ui-sref="root.users.assos.foyer" ui-sref-active="active">C'est TON Foyer</a>
        <a ng-if="isAdmin || $root.hasClub(club.slug)" ui-sref="root.users.assos.simple.modify" ui-sref-active="active">Gestion</a>
    </div>
</div>

<div ui-view up-spinner autoscroll="false"></div>
