<div class="Ticket">
    <div row="center start" style="margin-bottom: 0.5em;">
        <div class="btn-group pull-right">
            <label class="btn" ng-class="{'btn-primary': todayActive, 'btn-default': !todayActive}" ng-click="today()">Aujourd'hui</label>
            <label class="btn" ng-class="{'btn-primary': !todayActive, 'btn-default': todayActive}" ng-click="tomorrow()">Demain</label>
        </div>
    </div>

    <mwl-calendar
        class="up-index-calendar"
        view="calendarView"
        view-date="calendarDay"
        events="calendarEvents"
        day-view-start="08:00"
        day-view-end="23:59"
        day-view-split="60"
        auto-open="true">
    </mwl-calendar>
</div>
