<div flex="100">
    <section class="Ticket">
        <h1>Le Pontlyvalent</h1>
        <br>

        <p>Ici tu peux déposer des commentaires sur tous les élèves de ta promo ! Les meilleurs commentaires sur chaque élève seront retenus pour le Pontlyvalent.</p><br>

        <div row wrap>
            <article flex="100" flex-md="50">
                <h2>Publier un commentaire</h2>
                <br>

                <div class="Search padded">
                    <label for="search-input-post">
                        <div row class="Search__input" ng-class="{'Search__input--focused': displaySearchPost}">
                            <i flex="15" class="fa fa-search" style="padding-top:3px"></i>
                            <input flex="85" type="text" placeholder="Élève"
                                   ng-change="searchUserPost(searchPost)" ng-model="searchPost"
                                   ng-focus="displaySearchPost=true" ng-blur="displaySearchPost=false"
                                   ng-init="displaySearchPost=false;hoverSearchPost=false" id="search-input-post"/>
                        </div>
                    </label>
                    <section class="Search__results  Ticket" ng-mouseenter="hoverSearchPost=true" ng-mouseleave="hoverSearchPost=false" ng-show="(displaySearchPost || hoverSearchPost) && searchResultsPost.length">
                        <section class="Results" row>
                            <div class="Results__cell" flex="75">
                                <div class="Results__item" row="space-between center" ng-repeat="result in searchResultsPost | limitTo: 5" ng-click="addComment(result.slug, result.name)">
                                    <div class="Image" flex="20">
                                        <div class="Image__filler" ng-style="{ 'background-image' : 'url({{ result.image_url | thumb | urlFile }})' }"></div>
                                    </div>
                                    <div flex="75" ng-bind-html="result.name | match: searchPost"></div>
                                </div>
                            </div>
                        </section>
                    </section>
                </div>
            </article>
        </div>
    </section>

    <section class="Ticket" flex="100">
        <h2>Mes entrées</h2>

        <table class="Table" flex="90">
            <thead>
                <tr>
                    <th flex="5"></th>
                    <th flex="25">Élève</th>
                    <th flex="70">Entrée</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in comments.data | orderBy: ['target.first_name', 'target.last_name'] | filter: {author: {username: $root.me.username}}">
                    <td><i class="fa fa-pencil" ng-click="addComment(item.target.username, item.target.nick)"></i>  <i class="fa fa-trash" ng-click="deleteComment(item.target.username)"></i></td>
                    <td>{{ item.target.first_name }} {{ item.target.last_name }}</td>
                    <td>{{ item.text }}</td>
                </tr>

                <tr ng-hide="comments.data.length">
                    <td></td>
                    <td><i>Aucune entrée à afficher</i></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section ng-if="$root.hasClub('bde')" flex="100">
        <div class="Ticket">
            <h2>Résultats généraux</h2>

            <div flex="25" class="padded">
                <div class="padded">
                    <input class="Input" ng-model="searchName" placeholder="Filtrer selon le nom">
                </div>
            </div>
            <table class="Table" flex="90">
                <thead>
                    <tr>
                        <th flex="25">Élève</th>
                        <th flex="75">Entrée</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in comments.data | orderBy: ['target.first_name', 'target.last_name'] | filter: {target: {$: searchName}}" ng-hide="item.target.username == $root.me.username">
                        <td>{{ item.target.first_name }} {{ item.target.last_name }}</td>
                        <td>{{ item.text }}</td>
                    </tr>

                    <tr ng-hide="comments.data.length">
                        <td></td>
                        <td><i>Aucune entrée à afficher</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

<div flex="100" class="Ticket" ng-if="!hasClub('bde')">
    Le Pontlyvalent est fermé.
</div>
