<div class="Ticket">
    <section class="padded">
        <h1>Créer un utilisateur</h1>

        <form row wrap ng-submit="post(firstName, lastName, email)" autocomplete="off">
            <div flex="100" flex-md="50" class="padded">
                <input class="Input" type="text" ng-model="firstName" placeholder="Prénom" autofocus>
            </div>

            <div flex="100" flex-md="50" class="padded">
                <input class="Input" type="text" ng-model="lastName" placeholder="Nom">
            </div>

            <div flex="100" flex-md="50" class="padded">
                <input class="Input" type="email" ng-model="email" placeholder="Email">
            </div>

            <div flex="100" class="padded" row="end center">
            	<button flex="50" flex-md="15" class="Button">Créer</button>
            </div>
        </form>
    </section>

    <section class="padded">
        <h2>Créer plusieurs utilisateurs</h2>

        <form row="start center" wrap ng-submit="import()" autocomplete="off">
            <label for="fileUpload" flex="100" flex-md="50" class="padded clickable">
                <i class="fa fa-file-excel-o"></i>
                Fichier CSV
            </label>
            <div flex="100" flex-md="50" class="padded">
                <input class="Input" type="file" name="file" id="fileUpload" onchange="angular.element(this).scope().uploadFile(this.files)"/>
            </div>

            <div flex="100" class="padded" row="end center">
            	<button flex="50" flex-md="15" class="Button">Importer</button>
            </div>
        </form>

        <p>
            <strong>Doit être structuré sous la forme :</strong><br><br>

            <kbd class="code">gender,lastName,firstName,email,origin,dept,promo</kbd><br>
            Merci de faire bien attention à ce que les champs "promo,departement,origine" soient des valeurs disponibles dans les &lt;select&gt; de uPont et que le champ mail soit sous la forme prenom.nom@[eleves.]enpc.fr.
        </p>
    </section>
</div>
