Bonjour {{ name }},

Vous recevez ce mail parce que vous avez demandé une réinitialisation de votre mot de passe upont.enpc.fr.
Pour continuer la procédurer et réinitialiser votre mot de passe, cliquez sur le lien suivant :
<a href="https://upont.enpc.fr/reset/{{ token }}">http://upont.enpc.fr/reset/{{ token }}</a>

Si vous n'avez pas demandé cette réinitialisation, veuillez contacter les administrateurs à l'adresse <a href="mailto:clubinfo@clubinfo.enpc.fr">clubinfo@clubinfo.enpc.fr</a>

Le KI
