<aside col class="Aside">
    <header col="space-around start" class="Aside__header  text-center">
        <div flex="100" class="padded">
            <a ng-hide="$root.surprise" class="Logo" ui-sref="root.users.publications.index"></a>
            <a ng-show="$root.surprise" class="Logo  Logo--pr0n" target="_blank" href="http://www.youporn.com"></a>
        </div>

        <up-search flex="100"></up-search>
    </header>

    <section class="Aside__middle">
        <nav>
            <a class="Aside__navlink" ui-sref="root.users.publications.index" up-state-active>
                <i class="fa fa-comment"></i> News
            </a>
            <a class="Aside__navlink  flex-hide-md  flex-hide-lg" ui-sref="root.users.messages" up-state-active>
                <i class="fa fa-comments"></i> Messages
            </a>
            <a class="Aside__navlink" ui-sref="root.users.calendar" up-state-active>
                <i class="fa fa-calendar"></i> Calendrier
            </a>
            <a class="Aside__navlink" ui-sref="root.users.assos.list" up-state-active="root.users.assos">
                <i class="fa fa-thumbs-o-up"></i> Assos
            </a>
            <a class="Aside__navlink" ui-sref="root.users.students.list" up-state-active="root.users.students" id="link-students">
                <i class="fa fa-graduation-cap"></i> Élèves
            </a>
            <a class="Aside__navlink" ui-sref="root.users.resources.courses.list" up-state-active="root.users.resources">
                <i class="fa fa-suitcase"></i> Ressources
            </a>
            <div ng-if="$root.isStudentNetwork">
                <a class="Aside__navlink" ui-sref="root.users.ponthub.category.list" up-state-active="root.users.ponthub">
                    <i class="fa fa-film"></i> PontHub
                </a>
            </div>
            <a class="Aside__navlink" ng-if="!$root.isAdmissible" ui-sref="root.users.students.modify({slug: $root.username})" up-state-active>
                <i class="fa fa-address-card-o"></i> Profil
            </a>
            <a class="Aside__navlink" ng-if="$root.isAdmin" ui-sref="root.users.admin.students" up-state-active="root.users.admin">
                <i class="fa fa-wrench"></i> Zone Admin
            </a>
        </nav>

        <hr class="Aside__separator">

        <div ng-include="'src/app/js/controllers/users/infos.html'"></div>
    </section>

    <div ng-include="'src/app/js/controllers/users/footer.html'"></div>
</aside>
