<div class="up-column up-zone-picker up-ticket">
    <div class="up-zp-image"><img src="img/ponthub.png" alt="" />
    </div>
    <div up-row left>
        <a ui-sref="ponthub.category({ category: 'films' })" ui-sref-active="active">Films</a>
        <a ui-sref="ponthub.category({ category: 'series' })" ui-sref-active="active">Séries</a>
        <a ui-sref="ponthub.category({ category: 'musiques' })" ui-sref-active="active">Musiques</a>
        <a ui-sref="ponthub.category({ category: 'jeux' })" ui-sref-active="active">Jeux</a>
        <a ui-sref="ponthub.category({ category: 'logiciels' })" ui-sref-active="active">Logiciels</a>
        <a ui-sref="ponthub.category({ category: 'autres' })" ui-sref-active="active">Autres</a>
    </div>
</div>

<div ui-view autoscroll="false"></div>
