<div class="up-ticket">
    <h1>Rangement :</h1>

    <div up-row padded center>
        <div up-col-xs="100%" up-col-sm="100%" up-col="50%" class="centering">
            <img ng-src="{{ url + element.image_url }}" class="up-profile-page-picture">
        </div>
    </div>

    <div class="up-profile-form">
        <!-- Suggestions Imdb/Gracenote -->
        <form ng-if="type == 'albums' || type == 'series' || type == 'movies'" up-row padded left wrap autocomplete="off">
            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <i class="fa fa-search"></i>
                Recherche
            </div>
            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input class="up-col-xs-12" type="text" ng-model="criteria" ng-init="criteria=element.name" placeholder="Critère"/>
            </div>

            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <i class="fa fa-question"></i>
                Propositions
            </div>
            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <select ng-model="proposition">
                    <option ng-repeat="item in propositions" value="{{ item.id }}" ng-selected="$index === 0">{{ item.name }} - {{ item.year }} ({{ item.type }})</option>
                </select>
            </div>

            <div up-col="100%" up-row right>
                <button ng-click="search(criteria)" up-col-xs="100%" up-col-sm="100%" up-col="25%" class="up-btn up-btn-lg up-btn-primary" style="margin-right: 10px;">Rechercher</button>
                <button ng-click="fill(proposition)" up-col-xs="100%" up-col-sm="100%" up-col="25%" class="up-btn up-btn-lg up-btn-default">Remplir</button>
            </div>
        </form>
        <hr>



        <form up-row padded left wrap ng-submit="submitFile(element, imageUrl, filePicture)" autocomplete="off">
            <div up-col="25%">
                <i class="fa fa-arrow-right"></i>
                Chemin
            </div>
            <div up-col="75%">
                <input class="up-col-xs-12" type="text" ng-model="element.path" disabled/>
            </div>

            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <i class="fa fa-font"></i>
                Nom
            </div>
            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input class="up-col-xs-12" type="text" ng-model="element.name" placeholder="Nom apparent dans Ponthub"/>
            </div>

            <div ng-if="type != 'albums' && type != 'series'" up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <i class="fa fa-hdd-o"></i>
                Taille
            </div>
            <div ng-if="type != 'albums' && type != 'series'" up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input class="up-col-xs-12" type="text" ng-value="element.size | formatSize" disabled/>
            </div>

            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <i class="fa fa-user"></i>
                Artiste
            </div>
            <div ng-if="type == 'movies' || type == 'series'" up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input class="up-col-xs-12" type="text" ng-model="element.director" placeholder="Steven Spielberg"/>
            </div>
            <div ng-if="type == 'albums'" up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input class="up-col-xs-12" type="text" ng-model="element.artist" placeholder="AC/DC"/>
            </div>
            <div ng-if="type == 'softwares'" up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input class="up-col-xs-12" type="text" ng-model="element.author" placeholder="Microsoft"/>
            </div>
            <div ng-if="type == 'games'" up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input class="up-col-xs-12" type="text" ng-model="element.studio" placeholder="Relic"/>
            </div>

            <div ng-if="type != 'others'" up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <i class="fa fa-calendar"></i>
                Année
            </div>
            <div ng-if="type != 'others'" up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input class="up-col-xs-12" type="text" ng-model="element.year" placeholder="Année"/>
            </div>

            <div ng-if="type == 'softwares'" up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <i class="fa fa-terminal"></i>
                Version
            </div>
            <div ng-if="type == 'softwares'" up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input class="up-col-xs-12" type="text" ng-model="element.version" placeholder="2.0.4"/>
            </div>

            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <i class="fa fa-align-left"></i>
                Description
            </div>
            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <textarea class="up-col-xs-12" ng-model="element.description" placeholder="Description"></textarea>
            </div>

            <div ng-if="type == 'movies' || type == 'series'" up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <i class="fa fa-star"></i>
                Classement Imdb
            </div>
            <div ng-if="type == 'movies' || type == 'series'" up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input class="up-col-xs-12" type="text" ng-model="element.rating" disabled/>
            </div>

            <div ng-if="type == 'movies' || type == 'series'" up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <i class="fa fa-clock-o"></i>
                Durée
            </div>
            <div ng-if="type == 'movies' || type == 'series'" up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input class="up-col-xs-12" type="text" ng-model="element.duration" placeholder="Durée en secondes"/>
            </div>

            <div ng-if="type == 'games'" up-col-xs="100%" up-col-sm="100%" up-col="50%"></div>

            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <i class="fa fa-map-marker"></i>
                Genres
            </div>
            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input type="text" class="up-col-xs-12" ng-model="element.genres" placeholder="Documentaire,Sport" />
            </div>

            <div ng-if="type == 'movies' || type == 'series'" up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <i class="fa fa-users"></i>
                Acteurs
            </div>
            <div ng-if="type == 'movies' || type == 'series'" up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input type="text" class="up-col-xs-12" ng-model="element.actors_list" placeholder="Bruce Willis,Angelina Jolie" />
            </div>

            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <i class="fa fa-tags"></i>
                Tags
            </div>
            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input type="text" class="up-col-xs-12" ng-model="element.tags" placeholder="Pumping,Manger" />
            </div>

            <div ng-if="type == 'series'" up-col-xs="100%" up-col-sm="100%" up-col="50%"></div>

            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <i class="fa fa-file-image-o"></i>
                Image (url)
            </div>
            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input type="text" class="up-col-xs-12" ng-model="imageUrl" placeholder="http://..." />
            </div>

            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <i class="fa fa-file-image-o"></i>
                Image (upload)
            </div>
            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input type="file" class="up-col-xs-12" ng-model="filePicture" base-sixty-four-input>
            </div>

            <div ng-if="type == 'movies' || type == 'series'" up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input type="checkbox" ng-model="element.vo">&nbsp;VO
            </div>
            <div ng-if="type == 'movies' || type == 'series'" up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input type="checkbox" ng-model="element.vf">&nbsp;VF
            </div>
            <div ng-if="type == 'movies' || type == 'series'" up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input type="checkbox" ng-model="element.vost">&nbsp;VOST
            </div>
            <div ng-if="type == 'movies' || type == 'series'" up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input type="checkbox" ng-model="element.vostfr">&nbsp;VOSTFR
            </div>
            <div ng-if="type == 'movies' || type == 'series'" up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input type="checkbox" ng-model="element.hd">&nbsp;HD
            </div>

            <div up-col="100%" up-row right>
                <button up-col-xs="100%" up-col-sm="100%" up-col="25%" class="up-btn up-btn-lg up-btn-default">Modifier !</button>
            </div>
        </form>
    </div>
</div>

<div class="up-ticket">
    <h1>Synchronisation</h1>
    <div up-row left wrap>
        <div up-col-xs="100%" up-col-sm="100%" up-col="50%">
            <h2>Calendrier ICS</h2>
            <p>Synchronise le calendrier uPont avec ton smartphone/ton ordinateur pour être certain(e) de ne rien rater ! Regarde vite comment faire ci-dessous pour accéder à cette fonctionnalité géniale :</p>

            <div up-row wrap padded center>
                <a ng-href="{{ $root.url + 'users/' + token + '/calendar' }}" up-col-xs="100%" up-col-sm="100%" up-col="50%" class="up-btn up-btn-lg up-btn-default centering">Synchroniser !</a>
            </div>

            <h3 ng-click="open('iOS')" class="up-clickable">
                <i class="fa" ng-class="{'fa-plus-square-o': openICS != 'iOS', 'fa-minus-square-o': openICS == 'iOS'}"></i> iOS
            </h3>

            <p ng-show="openICS == 'iOS'">
            </p>

            <h3 ng-click="open('android')" class="up-clickable">
                <i class="fa" ng-class="{'fa-plus-square-o': openICS != 'android', 'fa-minus-square-o': openICS == 'android'}"></i> Android
            </h3>

            <p ng-show="openICS == 'android'">
            </p>

            <h3 ng-click="open('mac')" class="up-clickable">
                <i class="fa" ng-class="{'fa-plus-square-o': openICS != 'mac', 'fa-minus-square-o': openICS == 'mac'}"></i> Mac (Calendar)
            </h3>

            <p ng-show="openICS == 'mac'">
            </p>

            <h3 ng-click="open('google')" class="up-clickable">
                <i class="fa" ng-class="{'fa-plus-square-o': openICS != 'google', 'fa-minus-square-o': openICS == 'google'}"></i> Google Calendar
            </h3>

            <p ng-show="openICS == 'google'">
                <strong>1.</strong> Clique sur "Ajouter par URL" dans la catégorie "Autres agendas" de Calendar.<br>
                <img class="img-responsive" src="img/tuto-ics-google-calendar-1.png" alt="Cliquer sur ajouter par URL"/>
                <strong>2.</strong> Copie-colle le lien suivant : <a ng-href="$root.url + 'users/' + token + '/calendar'" title="Calendrier ICS">{{ $root.url + 'users/' + token + '/calendar' }}</a>.<br>
                <img class="img-responsive" src="img/tuto-ics-google-calendar-2.png" alt="Copier coller le lien"/>
                <strong>3.</strong> Valide et c'est terminé !<br>
                <strong>Attention ! Ne partage pas le lien, c'est un lien personnalisé...</strong>
            </p>

            <h3 ng-click="open('thunderbird')" class="up-clickable">
                <i class="fa" ng-class="{'fa-plus-square-o': openICS != 'thunderbird', 'fa-minus-square-o': openICS == 'thunderbird'}"></i> Thunderbird
            </h3>


            <p ng-show="openICS == 'thunderbird'">
                <strong>1.</strong> Clique droit dans le menu de gauche dans la partie "Agendar" et fait "Nouvel Agenda".<br>
                <img class="img-responsive" src="img/tuto-ics-thunderbird-1.png" alt="Cliquer sur ajouter par URL"/>
                <strong>2.</strong> Choisir "Sur le réseau".<br>
                <img class="img-responsive" src="img/tuto-ics-thunderbird-2.png" alt="Choisir sur le réseau"/>
                <strong>3.</strong> Copie-colle le lien suivant : <a ng-href="$root.url + 'users/' + token + '/calendar'" title="Calendrier ICS">{{ $root.url + 'users/' + token + '/calendar' }}</a>.<br>
                <img class="img-responsive" src="img/tuto-ics-thunderbird-3.png" alt="Copier coller le lien"/>
                <strong>4.</strong> Valide et c'est terminé !<br>
                <strong>Attention ! Ne partage pas le lien, c'est un lien personnalisé...</strong>
            </p>
        </div>







        <div up-col-xs="100%" up-col-sm="100%" up-col="50%">
            <h2>Smartphones</h2>

            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Identifiant</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="device in devices">
                        <td>{{ device.type }}</td>
                        <td>{{ device.device }}</td>
                    </tr>
                    <tr ng-hide="devices.length">
                        <td>Aucun téléphone enregistré !</td>
                        <td>Télécharge l'appli mobile !</td>
                    </tr>
                </tbody>
            </table>
            <br>

            <div up-row wrap padded space-around>
                <a href="https://play.google.com/store/apps/details?id=youPont.mobile&hl=fr_CA"
                   title="Lien vers le Play Store"
                   up-col-xs="100%" up-col-sm="100%" up-col="30%"
                   class="up-btn up-btn-lg up-btn-default centering">Android</a>
                <a href=""
                   title="Lien vers l'Apple Store"
                   up-col-xs="100%" up-col-sm="100%" up-col="30%"
                   class="up-btn up-btn-lg up-btn-default centering">iOS</a>
                <!--<a href="" title="Lien vers le Windows Store" up-col-xs="100%" up-col-sm="100%" up-col="30%" class="up-btn up-btn-default centering">Windows Phone</a>-->
            </div>
        </div>
    </div>
</div>
<!--
<div class="up-ticket">
    <h1>Cours suivis</h1>
    <div class="clearfix"></div>
</div>
-->
<div class="up-ticket">
    <h1>Channels suivis</h1>
    <div up-row padded left wrap>
        <div up-row padded ng-repeat="club in clubs | orderBy:'name'" up-col="33%" up-col-xs="100%">
            <div up-col="33%"><img class="img-responsive" src="{{ club.image_url | urlFile}}" />
            </div>
            <div up-col="66%">
                <h2><a ui-sref="root.channels.simple.publications({ slug: club.slug})">{{ club.name }}</a></h2>
                <button class="up-btn up-btn-default" ng-show="club.suivi" ng-click="unsubscribe(club.slug);">Suivi</button>
                <button class="up-btn up-btn-primary" ng-show="!club.suivi" ng-click="subscribe(club.slug);">Suivre</button>
            </div>
        </div>
    </div>
</div>
