<div up-col="100%" up-row left padded class="up-ticket">
    <div up-col="25%">
        <a ui-sref="ponthub.category">
            <img class="img-responsive up-img-ponthub" src="{{ element.image_url | urlFile }}" alt="Image du fichier" />
        </a>
        <div up-row>
            <div ng-if="element.vo"><span class="label label-upont">VO</span></div>
            <div ng-if="element.vf"><span class="label label-upont">VF</span></div>
            <div ng-if="element.vost"><span class="label label-upont">VOST</span></div>
            <div ng-if="element.hd"><span class="label label-upont">HD</span></div>
        </div>
    </div>
    <div up-col="75%">
        <h1>{{ element.name }}</h1>
        <p>{{ element.description }}</p>
        <ul class="up-ph-list-infos">
            <li ng-if="element.year">Année de sortie : {{ element.year }}</li>
            <li ng-if="element.genres && element.genres.length">Genres : <span ng-repeat="genre in element.genres">{{ genre }}{{$last ? '' : ', '}}</span>
            </li>
            <li ng-if="element.actors_list && element.actors_list.length">Acteurs : <span ng-repeat="actor in element.actors_list">{{ actor }}{{$last ? '' : ', '}}</span>
            </li>
            <li ng-if="element.artist">Artiste : {{ element.artist }}</li>

            <li ng-if="element.studio">Studio : {{ element.studio }}</li>
            <li ng-if="element.director">Réalisateur : {{ element.director }}</li>

            <li ng-if="element.duration">Durée : {{ element.duration | formatDuration }}</li>


            <li ng-if="element.size">Taille : {{ element.size | formatSize }}</li>

            <li ng-if="element.rating">Note Rotten Tomatoes : {{ element.rating+'%' }}</li>
        </ul>

        <div ng-if="saisons" ng-repeat="saison in saisons">
            <h2>Saison {{ $index+1 }}</h2>

            <h4 ng-repeat="episode in saison | orderBy:['name']">
                <a class="up-ticket-link" ng-href="{{ url + 'series/' + element.slug + '/episodes/' + episode.slug + '/download' }}">
                    {{ episode.name }}
                </a>
            </h4>
        </div>

        <div ng-if="!saisons">
            <a href=""></a>
        </div>
    </div>
</div>
