<div class="up-ticket">
    <!-- Eventuels ribbons -->
    <div ng-if="popular(element.downloads)" class="ribbon-wrapper">
        <div class="ribbon ribbon-popular">POPULAIRE</div>
    </div>
    <div ng-if="element.added > lastWeek" class="ribbon-wrapper">
        <div class="ribbon ribbon-new">NOUVEAU</div>
    </div>

    <div up-col="100%" up-row left padded>
        <!-- Image du fichier -->
        <div up-col="25%" ng-if="element.image_url">
            <a ng-class="{'no-click': (category == 'series' || category == 'musiques')}" ng-click="(category != 'series' && category != 'musiques') ? download():false">
                <img class="img-responsive up-img-ponthub" src="{{ element.image_url | urlFile }}" alt="Image du fichier" />
            </a>
            <div up-row padded center>
                <div ng-if="element.vo"><span class="label label-upont">VO</span></div>
                <div ng-if="element.vf"><span class="label label-upont">VF</span></div>
                <div ng-if="element.vost"><span class="label label-upont">VOST</span></div>
                <div ng-if="element.hd"><span class="label label-upont">HD</span></div>
            </div>
        </div>

        <!-- Détails sur le fichier -->
        <div up-col="75%">
            <h1>{{ element.name }}</h1>
            <p>{{ element.description }}</p>
            <ul class="up-ph-list-infos">
                <li ng-if="element.year"><strong>Année de sortie :</strong> {{ element.year }}</li>
                <li ng-if="element.genres && element.genres.length > 1">
                    <strong>Genres :</strong>
                    <span ng-repeat="genre in element.genres">{{ genre }}{{$last ? '' : ', '}}</span>
                </li>
                <li ng-if="element.actors_list && element.actors_list.length > 1">
                    <strong>Acteurs :</strong>
                    <span ng-repeat="actor in element.actors_list">{{ actor }}{{$last ? '' : ', '}}</span>
                </li>
                <li ng-if="element.artist"><strong>Artiste :</strong> {{ element.artist }}</li>
                <li ng-if="element.studio"><strong>Studio :</strong> {{ element.studio }}</li>
                <li ng-if="element.director"><strong>Réalisateur :</strong> {{ element.director }}</li>
                <li ng-if="element.duration"><strong>Durée :</strong> {{ element.duration | formatDuration }}</li>
                <li ng-if="element.size"><strong>Taille :</strong> {{ element.size | formatSize }}</li>
                <li ng-if="element.rating"><strong>Note Rotten Tomatoes :</strong> {{ element.rating+'%' }}</li>
                <li ng-if="countDownloads() != 0"><strong>Téléchargé :</strong> {{ countDownloads() }} fois</li>
                <li ng-if="countDownloads() != 0"><strong>Ajout :</strong> {{ element.added | formatDate }} fois</li>

                <h4 ng-if="category != 'series' && category != 'musiques'">
                    <button class="up-btn up-btn-lg up-btn-default" ng-click="download()">
                        <i class="fa fa-download"></i>
                        Télécharger !
                    </button>
                </h4>
            </ul>

            <!-- Cas des séries -->
            <div ng-if="saisons">
                <div ng-repeat="saison in saisons track by $index" ng-if="saison">
                    <h2 ng-click="open($index)" class="up-clickable">
                        <i class="fa fa-plus-square-o"></i> Saison {{ $index+1 }}
                    </h2>

                    <ul class="up-list" ng-show="openSeason == $index">
                        <li ng-repeat="episode in saison | orderBy:['name']">
                            <a ng-click="download(url + 'series/' + element.slug + '/episodes/' + episode.slug + '/download')">
                                {{ episode.name }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Cas des albums -->
            <div ng-if="musics">
                <ul class="up-list">
                    <li ng-repeat="music in musics | orderBy:['name']">
                        <a ng-click="download(url + 'albums/' + element.slug + '/musics/' + music.slug + '/download')">
                            {{ music.name }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div up-likes objet="element" url="type + '/' + element.slug"></div>
</div>
