<div row="space-between start" class="padded" ng-if="!isExterieur">
    <div col flex="100" flex-md="66">
        <div ng-include="'controllers/users/publications/post.html'"></div>
        <div ng-include="'controllers/users/publications/list.html'"></div>
    </div>

    <div col flex="33" class="flex-hide-xs  flex-hide-sm">
        <div ng-if="!$root.isAdmissible" class="Ticket">
            <div row="center start" style="margin-bottom: 0.5em;">
                <div class="btn-group pull-right">
                    <label class="btn" ng-class="{'btn-primary': todayActive, 'btn-default': !todayActive}" ng-click="today()">Aujourd'hui</label>
                    <label class="btn" ng-class="{'btn-primary': !todayActive, 'btn-default': todayActive}" ng-click="tomorrow()">Demain</label>
                </div>
            </div>

            <mwl-calendar
                class="up-index-calendar"
                view="calendarView"
                current-day="calendarDay"
                events="calendarEvents"
                view-title="calendarTitle"
                day-view-start="08:00"
                day-view-end="23:00"
                day-view-split="60"
                auto-open="true">
            </mwl-calendar>
        </div>

        <div class="Ticket" ng-if="$root.isAdmissible">
            <h3>Ceci est uPont, l'intranet des Ponts !</h3>
            <p class="text-justify">
                Cher admissible, tu as le privilège de pouvoir accéder à ce site !<br>
                Ainsi, tu pourras parcourir la plupart des pages et explorer les nombreuses fonctionnalités de uPont (en lecture seule, tout de même).<br>
                Regarde notamment les news et le calendrier pour te tenir au courant des événements durant ta série d'oraux !
            </p>
        </div>

        <div ng-include="'controllers/users/publications/post-messages.html'"></div>
        <div ng-include="'controllers/users/publications/list-messages.html'"></div>
    </div>
</div>

<div ng-if="$root.isExterieur" ng-include="'controllers/users/administration/index.html'"></div>
