<div ng-controller="Publications_List_Ctrl" ng-inject="{events: events, newsItems: newsItems}">
    <div infinite-scroll="next()" infinite-scroll-distance="2" infinite-scroll-disabled="$root.infiniteLoading">
        <div class="up-ticket divided rounded-top" ng-repeat="publication in events.data | concat: newsItems.data | orderBy: 'date' | reverse" ng-if="publication.entry_method != 'Ferie'">
            <div class="up-ticket-body" ng-class="'color{{ publication.slug.length%5+1 }}'">
                <div up-row>
                    <div class="up-ticket-actions">
                        <div class="up-img-home up-clickable"
                             ng-click="$root.zoomIn('/api/' + publication.image_url)"
                             ng-style="{'background-image': 'url({{ publication.image_url | thumb | urlFile }})'}">
                        </div>
                        <div>
                            <a ng-if="!$root.isExterieur" ui-sref="root.users.assos.simple.publications({slug: publication.author_club.slug})" title="Lien vers la page du club">
                                {{ publication.author_club.name }}
                            </a>
                        </div>

                        <div ng-show="$root.hasClub(publication.author_club.slug)">
                            <i class="fa fa-pencil up-clickable"
                               ng-click="enableModify(publication)"
                               title="Modifier la publication"></i>
                            <i class="fa fa-trash up-clickable up-delete-button"
                               ng-click="delete(publication)"
                               title="Supprimer la publication"></i>
                        </div>
                        <small class="up-event-date" ng-if="publication.start_date">
                            <i class="fa fa-map-marker" title="Début"></i> {{ publication.place }}<br>
                            <i class="fa fa-hourglass-start" title="Début"></i> {{ publication.start_date | formatDate }}<br>
                            <i class="fa fa-hourglass-end" title="Fin"></i> {{ publication.end_date | formatDate }}<br>
                        </small>

                        <div ng-if="publication.start_date && !publication.shotgun_date" up-row center>
                            <span class="up-likes up-clickable" ng-click="attend(publication)" ng-class="{active : publication.attend, admissibles : $root.isAdmissible}">
                                <i class="fa fa-check"></i> Go !
                            </span>
                            &nbsp;&nbsp;&nbsp;
                            <span class="up-likes up-clickable" ng-click="pookie(publication)" ng-class="{active : publication.pookie, admissibles : $root.isAdmissible}">
                                <i class="fa fa-times"></i> Bof...
                            </span>
                        </div>
                    </div>
                    <div class="up-ticket-content">
                        <div up-row space-between>
                            <div class="up-ticket-title up-clickable" ui-sref="root.users.publications.simple({slug: publication.slug})" title="Afficher la publication">{{ publication.name }}</div>

                            <div class="up-ticket-date">{{ publication.date | fromNow }}</div>
                        </div>
                        <div up-row space-between class="up-ticket-title">
                            <span ng-if="$root.isExterieur">
                                Par {{ publication.author_club.full_name }}
                            </span>
                        </div>

                        <a class="up-shotgun-link" title="Lien vers la page de shotgun"
                        ng-if="publication.start_date && publication.entry_method == 'Shotgun'"
                        ui-sref="root.users.shotgun({slug: publication.slug})"
                        ng-class="{admissibles : $root.isAdmissible}">
                            Shotgun : {{ publication.shotgun_date | formatDate }}
                        </a>
                        <p ng-if="publication.start_date" ng-show="publication.attendees > 0">
                            <a title="Afficher les participants"
                               ng-click="toggleAttendees(publication)">
                                {{ publication.attendees }}
                                {{ publication.attendees == 1 ? 'personne y participe' : 'personnes y participent' }}
                            </a>
                            <div up-row wrap left ng-if="publication.displayAttendees">
                                <div up-col-xs="15%" up-col-sm="15%" up-col-md="15%" up-col="5%" up-user user="user" class="up-image-container" ng-repeat="user in publication.userlist">
                                    <div class="up-image up-profile-picture" ng-style="{'background-image' : 'url({{user.image_url | thumb | urlFile}})'}"></div>
                                </div>
                            </div>
                        </p>

                        <div class="up-assos-container" up-publi-text string="publication.text"
                             ng-hide="edit !== null && publication.slug == edit.slug"></div>

                        <div ng-if="edit !== null && publication.slug == edit.slug" up-col="100%">
                            <textarea ng-model="publication.text" redactor></textarea>
                        </div>
                        <div ng-if="edit !== null && publication.slug == edit.slug" up-col="100%" up-row center>
                            <button ng-click="modify(publication)" class="up-btn up-btn-default up-btn-lg">Envoyer</button>
                        </div>


                    </div>
                </div>
                <div up-likes show="false" objet="publication"
                     url="(publication.start_date ? 'events/' : 'newsitems/') + publication.slug"></div>
            </div>
        </div>
    </div>
</div>
