.up-admissibles-block{
    width:100%;
    height:100vh;
    background-attachment: fixed;
    background-size: cover;
    &.up-block-1{ background-image: url('img/admissibles/1.jpg'); }
    &.up-block-2{ background-image: url('img/admissibles/2.jpg'); }
    &.up-block-3{ background-image: url('img/admissibles/3.jpg'); }
    &.up-block-4{ background-image: url('img/admissibles/4.jpg'); }
    &.up-block-5{ background-image: url('img/admissibles/5.jpg'); }
    &.up-block-6{ background-image: url('img/admissibles/6.jpg'); }
    &.up-block-7{ background-image: url('img/admissibles/7.jpg'); }
    &.up-block-8{ background-image: url('img/admissibles/12.jpg'); }
    &.up-block-9{ background-image: url('img/admissibles/14.jpg'); }
}