.up-aside {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    min-height: 600px;
    min-width: @asideMinWidth;
    color: @col-aside;
    background-color: @col-aside-bckgnd;
    z-index: 500;
    padding-right: 10px;
    
    &:before{
        content: "";
        position: absolute;
        top: 0;
        top: @begin-border-aside;
        bottom: 0px;
        right: 0px;
        border-right: solid 1px @col-bckgnd;
    }
    a {
        &:hover {
            border-bottom: solid 1px @col-aside;
        }
        &.active {
            border-bottom: solid 1px @col-aside;
        }
        .fa {
            .fa-block;
        }
    }
    hr {
        width: 30%;
    }
}
.up-aside-menu {
    padding: 1em 0 0 1%;
    font-size: 1.05em;
    list-style: none;
    
    a {
        display: block;
        margin: 0.75em 10%;
        height: 2em;
    }
}
.up-aside-middle {
    &:extend(.up-aside-menu);
    font-size: 0.9em;
    margin: 0.5em 0 0 10%;
}
.up-deconnection {
    display: inline !important;
    margin: 0.75 30% !important;
    margin-bottom: 2em;
    
    a {
        display: inline !important;
    }
    
}
.up-aside-footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    font-size: 0.85em;
    padding: 0.5em;
    width: 100%;
    margin-left: -5px;
}
