.up-aside {
    width: @asideWidth;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    color: @col-aside;
    background-color: @col-aside-bckgnd;
    z-index: 500;
    hr {
        width: 30%;
    }
}

.up-aside-header{
    height:7em;
}

.up-aside-middle {
    padding-top: 1em;
    overflow-y: auto;
    height: calc(~"100% - 12em");
    background-color: @col-aside-bckgnd;
    a {
        font-size: 0.9em;
        display: block;
        margin: 0.75em 10%;
        height: 2em;
        &:hover, &.active {
            border-bottom: solid 1px @col-aside;
        }
    }
    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .fa {
        .fa-block;
    }
}
.up-aside-infos {
    &:extend(.up-aside-menu);
    font-size: 0.9em;
    margin: 0.5em 0 1em 10%;
    padding-right: 10px;
    a {
        display: inline;
        font-size: 1.1em;
        margin: 0;
    }
}
.up-deconnection {
    display: inline !important;
    margin: 0.75 30% !important;
    margin-bottom: 2em;

    a {
        display: inline !important;
    }

}
.up-aside-footer {
    text-align: center;
    padding: 0.5em;
    height:7em;
    font-size: 0.85em;
    // background-color: lighten(@col-aside-bckgnd, 15%);
    // border-top:solid 1px @col-aside;
    a {
        &:hover, &.active {
            border-bottom: solid 1px @col-aside;
        }
    }
}

.up-searchbar{
    font-size: 0.9em;
    padding:0.5em;
    margin: 0px 0.5em;
    position: relative;
    color:@col-font;
    input{
        border:none;
        background-color: @col-input-bckgnd;
        padding: 0;
    }
    border-radius: 5em;
    background-color: @col-input-bckgnd;
}

.up-searchbar-results{
    color:@col-font;
    width:332px;
    padding:10px;
    position:fixed;
    top:7em;
    left:2em;
    background:white;
    border-radius: 3px;
    z-index:600;
    border: solid 1px @col-bckgnd;
    .up-searchbar-section:not(:last-of-type){
        border-bottom: solid 2px rgba(red(@col-bckgnd), green(@col-bckgnd), blue(@col-bckgnd), 0.2);
    }
    .up-searchbar-section .up-searchbar-cell{
        padding:5px;
        &:not(:last-of-type){
            border-right:solid 2px rgba(red(@col-bckgnd), green(@col-bckgnd), blue(@col-bckgnd), 0.2);
        }
        &.up-searchbar-title{
            font-size: 0.8em;
            font-weight: bold;
        }
    }
    .up-profil-picture, .fa {
        width: 2em;
        text-align: center;
    }
    .up-searchbar-item{
        padding:5px;
        border-radius: 5px;
        cursor:pointer;
        &:hover{
            background: rgba(red(@col-main), green(@col-main), blue(@col-main), 0.5);
        }
    }
}

.up-topbar{
    color: @col-aside;
    background-color: @col-aside-bckgnd;
    font-size:1.2em;
    z-index:500;
    .up-topbar-open{
        display :block;
        width:3.5em;
        height:3.5em;
        float:left;
        text-align: center;
        position:relative;
        .bars{
            display: block;
            width:1.7em;
            height:2px;
            position:absolute;
            top:50%;
            left:1.15em;
            background-color:@col-aside;
            &:before, &:after{
                content:"";
                display: block;
                position:relative;
                width:1.7em;
                height:2px;
                background-color: @col-aside;
            }
            &:before{ top:-6px; }
            &:after{ top:4px; }
        }
    }
    .up-topbar-search{
        display :block;
        width:3.5em;
        height:3.5em;
        line-height:3.5em;
        float:right;
        text-align: center;
    }
    .up-topbar-title{
        font-size:0.8em;
        display :block;
        height:4.4em;
        line-height:4.4em;
        overflow:hidden;
        float:none;
        text-align: center;
    }
}
.up-topbar-menu{
    position:relative;
    // padding:1em 0 0;
    .caret{
        color:@col-ticket;
        position:absolute;
        top:-1.4em;
        left:1.75em;
        pointer-events: none;
    }
    &:before{
        content:"";
        display: table;
    }
    ul{
        list-style: none;
        margin:0;
        padding:0;
    }
    .up-topbar-link{
        display:block;
        position:relative;
        font-size:1.5em;
        padding:0.5em 0 0.5em 7%;
        &:not(.no-underline):after{
            content:"";
            position:absolute;
            bottom:0px;
            right:10%;
            left:5%;
            border-bottom:solid 1px #e0e0e0;
        }
        .fa{
            margin:0 1em 0 0;
        }
    }
}
