// Portail public de présentation des assos
.up-assos-name {
    text-align: center;
    border-bottom: 1px solid rgba(red(@col-font), green(@col-font), blue(@col-font), 0.5);
    line-height: 0.1em !important;
    margin: 1em 0 1em;

    span {
        background: @col-ticket;
        padding: 0 1em;

        &.bckgnd {
            background: @col-bckgnd;
        }
    }
}

.row-margin {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.up-assos-container {
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
