// Base des boutons
.up-btn {
    position: relative;
    vertical-align: top;
    min-height: 30px;
    padding: 0px 10px;
    font-size: 16px !important;
    color: white !important;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border: 0;
    cursor: pointer;

    &.up-btn-lg {
        font-size: 20px !important;
        min-height: 50px;
        padding: 0px 20px;
    }
    &:active {
        top: 1px;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

// Boutons colorés
.up-btn-default {
    background: @col-main;
    border-bottom: 2px solid darken(@col-main, 20%);
    box-shadow: inset 0 -2px darken(@col-main, 20%);
}
.up-btn-primary {
    background: @col-bckgnd;
    border-bottom: 2px solid @col-font;
    box-shadow: inset 0 -2px @col-font;
}

// Bouton spécial page profil
.btn {
    border-radius: 0px;
}

.btn-suivi {
    border: solid 1px @col-bckgnd;
    background: @col-bckgnd;
    color: @col-bckgnd;
    padding: 0 0.7em;

    &.active {
        background: @col-main;
        color: @col-ticket;
    }
}
