// inputs génériques
input, textarea, select {
    background: @col3;
    border: solid 1px @col2;
    color: @col2;
    border-radius: 1px;
}
input {
    padding: 0.5em;
    vertical-align: middle;

    &:focus {
        border-color: @col1;
    }
    &[type="radio"], &[type="checkbox"] {
        margin: 0 0.5em;
        vertical-align: middle;
    }
}
textarea {
    padding: 8px;
    font-size: 13px;
    width: 100%;
}
select {
    padding: 2px;
    width: 100%;
}
label {
    cursor: pointer;
    font-weight: normal;
}

// Permet de rajouter des addons à gauche ou a droite des inputs
.up-input-group {
    display: flex;
    margin-bottom: 1.5em;

    input {
        flex: 1;

        &:not(:first-child) {
            border-left: 0;
        }
        &:not(:last-child) {
            border-right: 0;
        }
    }
    .addon {
        font: inherit;
        font-weight: normal;
        background-color: @col6;
        color: @col2;
        border: 1px solid @col4;
    }

    input, .addon {
        padding: 0.5em 0.75em;
        border: 1px 0px solid @col4;
    }

    input:first-child,
    .addon:first-child {
        border-radius: 2px 0 0 2px;
    }
    input:last-child,
    .addon:last-child {
        border-radius: 0 2px 2px 0;
    }
}

// Zone d'autocomplétion pour une barre de recherche
.up-autocomplete {
    width: 100%;
    position: relative;

    input {
        width: 100%;
    }

    .suggestions {
        border: 1px solid @col4;
        background-color: @col3;
        position: absolute;
        padding: 10px 0 10px 0;
        margin: 0px;
        list-style: outside none none;
        width: 100%;
        border-radius: 0 0 5px 5px;

        li {
            padding: 0 10px 0 10px;
            &:hover {
                background-color: @col6;
            }
        }

        strong {
            color: @col1;
        }
    }
}

// Formulaires spécifiques
.up-login-form {
    text-align: center;
    font-size: 1.2em !important;
}
.up-profile-form {
    .fa {
        .fa-block
    }
}
