// Zone d'autocomplétion pour une barre de recherche
.up-autocomplete {
    position: relative;
    input {
        width: 100%;
        border-left: 0;
        border-right: 0;
    }
    .suggestions {
        border: 1px solid @col-bckgnd;
        background-color: @col-ticket;
        position: absolute;
        padding: 10px 0 10px 0;
        margin: 0px;
        list-style: outside none none;
        width: 100%;
        border-radius: 0 0 5px 5px;
        li {
            padding: 0 10px 0 10px;
            &:hover {
                background-color: @col-input-bckgnd;
            }
        }
        strong {
            color: @col-main;
        }
    }
}

// Permet de rajouter des addons à gauche ou a droite des inputs


// Formulaires spécifiques
.up-login-form {
    text-align: center;
    font-size: 1.2em !important;
}
.up-profile-form {
    .fa {
        .fa-block
    }
}


/******************* Support *******************/
.centering {
    text-align: center;
}
.justify {
    text-align: justify;
}

.up-clickable{
    cursor: pointer;
    &:hover, &.active {
        color: @col-main;
    }
    &.admissibles {
        .disabled;
        color: inherit !important;
    }
}
.up-delete-button:hover{
    color: @col-red;
}
.up-link{
    cursor: pointer;
    color: @col-main;
    &:hover {
        color: @col-font;
    }
}
.no-click {
    cursor: default !important;
}
// Classes utiles
.up-col-main {
    background-color: @col-main;
    color: white;
    .up-clickable {
        &.active {
            color: @gray !important;
        }
        &:hover {
            color: white;
            &.active {
                color: @gray ;
            }
        }
    }
    &:hover {
        background-color: @col-neg;
        color: white !important;

        .up-clickable {
            &.active {
                color: @gray !important;
            }
            &:hover {
                color: @gray;
            }
        }
    }
}


.cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.whoosh {
    display: none;
}
.raw-link {
    color: @col-font !important;
}
.up-overflow {
    height: 6.6em;
    overflow: hidden;
}


.label-upont { // Labels bootstrap pour uPont
    background-color: @col-main;
}
.img-responsive {
    margin: 10px 0 10px 0;
}

.up-error-page {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    @media(min-width:@sizeSm){
        padding-left: 100px;
    }
    a {
        color: @col-main !important;
    }
}
.up-calendar {
    margin: 0 0 -30px;
}
.up-tutorial {
    .up-col-main;
    margin-bottom: 1em;
    text-align: center;
    cursor: pointer;
    .fa { font-size: 5em; }
}

.up-landing-container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url('@{images}/ponts.jpg');
    background-size: cover;

    .up-landing {
        @media(max-width: @sizeMd) {
            margin-top: 15px;
        }

        @media(min-width: @sizeMd) {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            padding-left: 20px;
        }

        .up-landing-left{
            background: rgba(red(@col-aside-bckgnd), green(@col-aside-bckgnd), blue(@col-aside-bckgnd), 0.9);
            color: white;
        }
        .up-landing-right{
            background: rgba(red(@col-input-bckgnd), green(@col-input-bckgnd), blue(@col-input-bckgnd), 0.9);
        }
    }
    .up-landing-links {
        a {
            min-width: 210px;
            margin-right: 10px;
        }
        a:first-child {
            margin-left: 10px;
        }
    }
    .up-forgotten-password {
        font-size: 0.8em;
        margin-top: -0.5em;
    }
}
.up-assos {
    .up-ticket {
        &:hover {
            cursor: pointer;
            border: 1px solid @col-main;
            h3 { color: @col-main !important; }
        }
    }
}
.up-tutos {
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
