//Règles générales sur le body
font-family:'Open Sans';
margin: 0;
position: relative;
overflow-y: scroll;
word-break: break-word; // Non standard for webkit
-webkit-hyphens: auto;
-moz-hyphens: auto;
hyphens: auto;
background-size: auto auto;


// Resets et overwrite
*, *:before, *:after {
    box-sizing: border-box;
}
.dhx_cal_container { // calendar
    min-height: 100%;
}
.dhx_cal_prev_button {
    background: url('img/calendar/arrow-left.png') no-repeat scroll center center transparent;
}
.dhx_cal_next_button {
    background: url('img/calendar/arrow-right.png') no-repeat scroll center center transparent;
}
.container-fluid { // bootstrap
    padding: 0;
}
.label-upont { // Labels bootstrap pour uPont
    background-color: @col-main;
}
.img-responsive {
    margin: 10px 0 10px 0;
}

// Resets imperavi redactor
.redactor-editor {
    background: @col-input-bckgnd;
    border: solid 1px @col-bckgnd;

    &:focus {
        border-color: @col-main;
    }
}

.redactor-toolbar {
    z-index: 1;
    li {
        a:hover {
          background-color: @col-main;
          color: #fff;
        }
    }
}

.redactor-dropdown {
    color: rgba(0, 0, 0, 0.7);

    a:hover {
      background-color: @col-main;
      color: #fff;
    }
}



// Vues principales

.up-main-view {
    padding-bottom: 30px;
    background: @col-bckgnd;
    @media(min-width:@sizeSm){
        padding-left: @asideWidth;
    }
}
.up-error-page {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    @media(min-width:@sizeSm){
        padding-left: 100px;
    }
    a {
        color: @col-main !important;
    }
}
.up-calendar {
    margin: 0 0 -30px;
}
.up-messages {
    padding-top: 15px;

    .up-profile-picture {
        width: 50px;
        height: 50px;
    }
}

.up-landing-container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url('img/ponts.jpg');
    background-size: cover;

    .up-landing {
        @media(max-width: @sizeMd) {
            margin-top: 15px;
        }

        @media(min-width: @sizeMd) {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            padding-left: 20px;
        }

        .up-landing-left{
            background: rgba(red(@col-aside-bckgnd), green(@col-aside-bckgnd), blue(@col-aside-bckgnd), 0.9);
            color: white;
        }
        .up-landing-right{
            background: rgba(red(@col-input-bckgnd), green(@col-input-bckgnd), blue(@col-input-bckgnd), 0.9);
        }
    }
    .up-landing-links {
        a {
            min-width: 210px;
            margin-right: 10px;
        }
        a:first-child {
            margin-left: 10px;
        }
    }
    .up-forgotten-password {
        font-size: 0.8em;
        margin-top: -0.5em;
    }
}
.up-assos {
    padding-left: 0 !important;
    padding-right: 0 !important;
    .up-ticket {
        &:hover {
            cursor: pointer;
            border: 1px solid @col-main;
            h3 { color: @col-main !important; }
        }
    }
}

// Titres
h1 {
    .title(2em);
}
h2 {
    .title(1.5em);
}
h3 {
    .title(1.17em);
}
h5 {
    .title(.83em);
}
h5 {
    .title(.75em);
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;

    a:hover {
        color: @col-main;
    }
}
.title(@size) {
    font-size: @size;
}

// Liens
a, a:hover, a:visited, a:active, a:focus {
    text-decoration: none;
    color: inherit;
    outline: none;
    cursor: pointer;
    &.admissibles {
        .disabled;
        color: inherit !important;
    }
}
.disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
:disabled, [disabled] {
    .disabled;
}

// Classes utiles
.centering {
    text-align: center;
}
.justify {
    text-align: justify;
}
.up-clickable{
    cursor: pointer;
    &:hover, &.active {
        color: @col-main;
    }
    &.admissibles {
        .disabled;
        color: inherit !important;
    }
}
.up-delete-button:hover{
    color: #E53B3B;
}
.up-link{
    cursor: pointer;
    color: @col-main;
    &:hover {
        color: @col-font;
    }
}
.no-click {
    cursor: default !important;
}
.fa-block {
    width: 20px;
    text-align: center;
}
.cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.whoosh {
    display: none;
}
.raw-link {
    color: @col-font !important;
}
.up-overflow {
    height: 7.4em;
    overflow: hidden;
}


font-size: 12px;
@media (min-width: @sizeXs){
    font-size: 12px;
}
@media (min-width: @sizeSm){
    font-size: 14px;
}
@media (min-width: @sizeMd){
    font-size: 15px;
}
@media (min-width: @sizeLg){
    font-size: 15px;
}
