// Resets et overwrite
*, *:before, *:after {
    box-sizing: border-box;
}
.dhx_cal_container { // calendar
    min-height: 100%;
}
.container-fluid { // bootstrap
    padding: 0px;
}
.label-upont { // Labels bootstrap pour uPont
    background-color: @col-main;
}
.img-responsive {
    margin: 10px 0 10px 0;
}
// Pour le datetime picker
// Blocks de base
body {
    font-family:'Open Sans';
    margin: 0px;
    position: relative;
    overflow-y: scroll;
    word-break: break-word; // Non standard for webkit
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    background-size: auto auto;
}
.up-main-content{
    padding-top: @navbarHgt;
}
.up-main-view {
    padding-bottom: 30px;
}
.up-calendar {
    margin: 0px 0px -30px;
}
.up-messages {
    padding-top: 15px;

    .up-profile-picture {
        width: 50px;
        height: 50px;
    }
}
.up-landing {
    .up-ticket {
        max-width: 600px;
    }
}
.up-assos {
    .up-ticket:hover {
        cursor: pointer;

        &:before {
            border: 1px solid @col-main;
        }
        h3 { color: @col-main !important; }
    }
}

// Titres
h1 {
    .title(2.3em);
}
h2 {
    .title(1.8em);
}
h3 {
    .title(1.5em);
}
h4 {
    .title(1.2em);
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;

    a:hover {
        color: @col-main;
    }
}
.title(@size) {
    font-size: @size;
}

// Liens
a, a:hover, a:visited, a:active, a:focus {
    text-decoration: none;
    color: inherit;
    outline: none;
    cursor: pointer;
}
:disabled, [disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

// Classes utiles
.centering {
    text-align: center;
}
.up-clickable{
    cursor: pointer;
    &:hover, &.active {
        color: @col-main;
    }
}
.fa-block {
    width: 20px;
    text-align: center;
}
.cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.whoosh {
    display: none;
}
