// Logo du site
.up-logo-link {
    border-radius: 6px;
    font-size: 1.5em;
    padding: 0.3em;
    // margin: 0px 1em;
    font-family: 'caviarDreams';
    border: solid 1px @col-main;

    &:before {
        content: "u";
        @media(min-width: @sizeMd) {
            content: "u";
        }
    }
    &:after {
        content: "P";
        color: @col-main;
        @media(min-width: @sizeMd) {
            content: "Pont";
        }
    }

    // Easter egg
    &.pr0n {
        &:after {
            @media(min-width: @sizeMd) {
                content: "Porn";
            }
        }
    }
}

.up-logo{
    padding: 1em;
}
