.up-user-item {
    .up-user-container {
        cursor: pointer;
        border: 1px solid @col-ticket-border;
        box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
        height: 100%;
        padding: 5px;
        
        &:hover {
            border: 1px solid @col-main;
        }
        
        .up-user-details {
            padding-left: 10px;
            
            h3 {
                margin-bottom: 5px;
            }
        }
    }
}

.up-user-banner {
    margin-bottom: 75px;
    padding: 30px 0 0 350px;
    color: white;
    height: 130px;
    box-shadow: inset @col-bckgnd 0px 20px 2px -20px,
                inset @col-bckgnd 0px -20px 2px -20px;
    background-color: @col-main;
    margin-top: 100px;
    
    @media(max-width: @sizeSm) {
        padding-left: 300px;
    }
    
    .up-user-image-container {
        position: absolute;
        margin: 0 0 0.5em;
        width: 200px;
        top: 100px;
        
        left: @asideWidth + 100px;
        @media(max-width: @sizeSm) {
            left: 50px;
        }
        
        .up-user-image {
            box-shadow: @col-main 0px 0px 1px 20px;
        }
    }
}

.up-user-infos {
    .fa {
        .fa-block
    }
}

// Page de profil simple
.up-user-image-container {
    .up-image-container;
    margin: 0 0 0.5em;
    width: 100%;
    
    .up-user-image {
        .up-image;
        border: 1px solid white;
        border-radius: 50%;
        box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
    }
}

.up-club-image-container {
    .up-image-container;
    display: inline-block;
    cursor: pointer;
    
    
    .up-club-image {
        .up-image;
        filter: grayscale(1);
        transition: all 0.4s ease-in-out 0s;
        
        &:hover {
            filter: grayscale(0);
        }
    }
}

// Utilisateur au hover
.up-user-hover-container {
    display: inline-block;
    
    .up-user-hover {
        .up-ticket;
        position: absolute;
        width: 400px;
        display: inline;    
        z-index: 3;
        margin-top: 0;
    
        .up-image-container {
            .up-image-container;
            width: 30%;
            
            .up-image {
                .up-image;
                border-radius: 5px;
            }
        }
        .up-details {
            padding-left: 10px;
            
            .fa {
                .fa-block;
            }
        }
    }
}

// Correction pour overwrite l'aside
.up-aside-middle {
    .up-user-hover {
        color: @col-font;
        
        a {
            color: @col-main;
            &:hover {
                color: @col-font;
                border: none;
            }
        }
    }
}
