.up-publish {
    &.publications {
        @media(min-width:@sizeSm) {
            margin-right: 0 !important;
        }
    }
    .publish-container {
        .bottom-box-container {
            padding: 0;
        }
        .redactor-box {
            margin: 0;
            margin-top: 5px;
        }
        .bottom-box-container {
            line-height: 0px;

            textarea {
                margin-bottom: 0;
                line-height: 20px;
                overflow-y: hidden;
            }
            .type-container {
                line-height: 20px;

                button {
                    margin-left: 5px;
                }
                .type {
                    display: inline-block;
                    background-color: @col-input-bckgnd;
                    color: @col-font;
                    border: 1px solid @col-bckgnd;
                    border-top: none !important;
                    border-radius: 0px 0px 5px 5px;
                    padding: 5px;
                    cursor: pointer;

                    &:hover, &.active {
                        color: @col-main;
                        border: 1px solid @col-main;
                    }
                    &.active {
                        font-weight: bold;
                        background-color: @col-ticket;
                    }
                }
                .fileupload {
                    position: relative;
	                overflow: hidden;
	                padding-left: 10px;
	                padding-right: 10px;

	                input {
	                    position: absolute;
	                    top: 0;
	                    right: 0;
	                    margin: 0;
	                    padding: 0;
	                    font-size: 20px;
	                    cursor: pointer;
	                    opacity: 0;
	                    filter: alpha(opacity=0);
                    }
                }
                .addon {
                    position: relative;
                    display: block;
                    float: left;
                    margin-right: 10px;
                    z-index: 3;

                    .select {
                        border: 1px solid @col-bckgnd;
                        background-color: @col-ticket;
                        position: absolute;
                        padding: 10px 0 10px 0;
                        margin: 0px;
                        list-style: outside none none;
                        width: 100%;
                        border-radius: 5px;
                        left: 0px;
                        top: 35px;
                        width: auto;
                        font-weight: normal !important;

                        li {
                            padding: 0 10px 0 10px;
                            color: @col-font;
                            &:hover {
                                background-color: @col-input-bckgnd;
                            }
                        }
                    }
                }
            }
        }
    }
}

.up-messages {
    padding-left: 10px;
}
.margin-right {
    .up-ticket {
        @media(min-width:@sizeSm) {
            margin-right: 0.5em !important;
        }
    }
}
