thead {
    text-align: left;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    
    font-size: 12px;
    border-collapse: collapse;
    text-align: left;
    margin: 20px;
}

th {
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
}

td {
    padding: 6px 8px;
}

.up-vertical-table {
    margin: 30px 30px 30px 15px;
    
    th {
        padding: 8px 2px;
    }

    td {
        padding: 12px 2px 4px 0px;
    }
}
