.up-game-container {
    margin: 0.5em;
    padding: 1em;
    background: @col-main;
    color: white;
    font-size: 1em;
    text-align: center;
    transition: all 0.3s ease-in-out;

    .up-btn-game {
        background-color: darken(@col-main, 15%);
        border-radius: 1em;
        height: 3em;
        font-size: 1.5em;
        color: white !important;
        font-weight: bold;
        border: none;
        .up-clickable;
        transition: all 0.3s ease-in-out;

        &:hover, &.focus {
            background-color: lighten(@col-main, 15%)
        }
    }

    .up-image {
        border-radius: 1em;
    }

    table.up-table {
        th {
            border-bottom: 2px solid @col-bckgnd;
        }
        td {
            border-bottom: 1px solid @col-bckgnd;
        }
    }
}
