.theme(@col1, @col2, @col3, @col4, @col5, @col6, @col7, @footerUp, @begin-border-aside) {
    color: @col2;
    background: @col5;
    .up-main-title {
        border: solid 1px @col1;
        &:after {
            color: @col1;
        }
    }
    header {
        background: @col3;
        border-bottom: solid 1px @col4;
    }
    footer {
        background: @col3;
        &:before {
            background: url("@{footerUp}");
        }
    }
    .up-zone-picker {
        margin-bottom:0px;
        a:hover, a.active {
            border-bottom: solid 3px @col1;
        }
    }

    .up-ticket {
        // color: @col2;
        &:before{
            background: @col3;
            border: solid 1px @col4;
        }
        .up-ticket-link {
            color: @col1;
            &:hover {
                color: @col2;
            }
        }
    }

    // input:focus {
    //     border-color: @col1;
    // }
    h1, h2, h3, h4, h5, h6 {
        a:hover {
            color: @col1;
        }
    }
    .label-upont {
        background-color: @col1;
    }
    // .modal-content {
    //     background: @col3;
    //     &, .modal-dialog, .modal-header, .modal-body, .modal-footer {
    //         border-color: rgba(red(@col4), green(@col4), blue(@col4), 0.4) !important;
    //     }
    // }
    .up-aside {
        color: @col6;
        background-color: @col7;
        &:before{
            content:"";
            position:absolute;
            top:0;
            top:@begin-border-aside;
            bottom:0px;
            right:0px;
            border-right:solid 1px @col4;
        }
        a {
            &:hover {
                border-bottom: solid 1px @col6;
            }
            &.active {
                border-bottom: solid 1px @col6;
            }
            .fa {
                width: 20px;
                text-align: center;
            }
        }
    }
    .up-club-subscribe.active h2 {
        color: @col1;
        border-bottom: solid 1px @col1;
    }
    // .btn-suivi {
    //     border: solid 1px @col4;
    //     background: @col5;
    //     color: @col2;
    //     &.active {
    //         background: @col1;
    //         color: @col3;
    //     }
    // }
    .up-clickable:hover, .up-clickable.active {
        color: @col1;
    }
    .up-date-evenement {
        color: @col1;
    }
    #loading-bar-spinner .spinner-icon {
        border-top-color: @col1;
        border-left-color: @col1;
    }
    #loading-bar .bar {
        background: @col1;
    }
    #loading-bar .peg {
        -moz-box-shadow: @col1 1px 0 6px 1px;
        -ms-box-shadow: @col1 1px 0 6px 1px;
        -webkit-box-shadow: @col1 1px 0 6px 1px;
        box-shadow: @col1 1px 0 6px 1px;
    }
}
body.theme-clear {
    .theme(#5584AD, #777, #FFF, #aaa, #dddfe4, #d0d0d0, #2A303D, "img/footerUp_clear.png", 0);
    .btn-default, select, textarea, input{
        border: solid 1px #b6b7b9;
        background: #f6f7f8;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
        text-shadow: 0px 1px 0px #fff;
        color:#4e5665;
    }
    .btn-default:hover{
        color:#4e5665;
        background: #edeeef;
    }
    input:focus, .btn-default:active{
        border-color:#5584AD;
        box-shadow: 0px 0px 1px #888 inset;
    }
    input:focus{
        background: #edeeef;
    }
}
body.theme-dark {
    .theme(#F08630, #a0a0a0, #222, #555, #2a2c2f, #d0d0d0, #222, "img/footerUp_dark.png", @navbarHgt - 1px);
    .btn-default, select, textarea, input{
        border: solid 1px #868789;
        background: #3a3c3f;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
        text-shadow: 0px 1px 0px #000;
        color:#bec6c5;
    }
    input:focus, .btn-default:active{
        border-color:#F08630;
        box-shadow: 0px 0px 2px #111 inset;
    }

}
