.up-ticket {
    position: relative;

    &:before{
        content:'';
        z-index:-10;
        position:absolute;
        top:20px;
        right:10px;
        left:10px;
        bottom:10px;
    }

    &.up-zone-picker:before{
        top:0;
        bottom:0px;
    }

    padding:25px 30px;
    &.up-zone-picker{
        padding:0px 10px!important;
    }

    &.divided{
        padding: 21px 11px !important; //On ajoute 1px pour contenir la bordure
    }

    .up-ticket-header{
        //FIXME corriger pour adapter au theme
        background-color:rgba(red(#fdbe37), green(#fdbe37),  blue(#fdbe37),0.8);
        padding:0.5em 1em;
    }
    .up-ticket-body{
        padding:1em 2.25em;
        text-indent: 2em;
    }

    .up-ticket-texte {
        text-align: justify;
        font-family: verdana;
    }
    .up-ticket-date {
        float: right;
        display: inline-block;
        font-family: Helvetica, arial;
        letter-spacing: 0.15em;
        ;
        font-size: 0.75em;
        color: #999;
    }
    .up-ticket-auteur {
        float: left;
        margin-left: 1em;
        font-family: 'Noto Sans B';
        text-transform: uppercase;
        font-size: 0.9em;
        letter-spacing: 0.1em;
        font-weight: bold;
    }
    .up-ticket-link {
        cursor: pointer;
    }
    &.up-ticket-liste {
        padding: 0.75em;
        text-align: center;
        position: relative;
        h1 {
            font-size: 1.3em;
            margin: 0px;
            padding: 0px;
        }
        .up-ticket-head {
            height: 10em;
        }
    }
    &.rounded-top {
        &:before{
            border-radius: 10px 10px 0px 0px;
        }
        .up-ticket-header {
            border-radius: 9px 9px 0px 0px;
        }
    }
}