.up-ticket {
    position: relative;
    margin: 0.5em;
    padding: 0.5em;
    background: @col-ticket;
    border: solid 1px @col-ticket-border;
    line-height: 1.2em;

    &.divided {
        padding: 0;

        @media(min-width:@sizeSm) {
            margin-right: 0;
        }
    }

    a {
        cursor: pointer;
        color: @col-main;
        &:hover {
            color: @col-font;
        }
    }
    .up-img-home{
        width: 5em;
        height: 5em;
        margin: 0 1.5em 0 1.5em;
        border: solid 1px #808080;
        background-size: cover;
        background-position: center center;
    }
    .up-ticket-title{
        margin: 0;
        font-size: 1.3em;
        font-weight: bold;
        margin-bottom: 2px;
        line-height: 20px;
    }
    .up-ticket-body{
        position: relative;
        padding: 1em;

        &.color1 { border-left: solid 4px @col-aqua; }
        &.color2 { border-left: solid 4px @col-yellow; }
        &.color3 { border-left: solid 4px @col-red; }
        &.color4 { border-left: solid 4px @col-violet; }
        &.color5 { border-left: solid 4px @col-pink; }
    }
    .up-ticket-footer{
        position: relative;
        padding: 1em 2em;
    }
    .up-ticket-texte {
        text-align: justify;

        img {
            .img-responsive;
        }
    }
    .up-ticket-date {
        font-family: Helvetica, arial;
        letter-spacing: 0.15em;
        text-align: right;
        font-size: 0.75em;
        color: #999;

    }

    .up-shotgun-link {
        font-weight: bold;
        font-size: 0.8em;
    }

    &.rounded-top {
        border-radius: 5px 5px 0px 0px;
        .up-ticket-header {
            border-radius: 5px 5px 0px 0px;
        }
    }
}

.up-ticket-actions {
    text-align: center;
    display: inline-block;
    a {
        font-weight: bold;
    }
}
.up-ticket-content {
    display: inline-block;
    width: 100%;
}
.up-event-date {
    font-size: 75%;
}
