// Navbar par onglets
.up-zone-picker {
    margin-bottom: 0px;

    a {
        .raw-link;
        padding: 0.5em 1.5em;
        margin: 0px 0.5em;
        &.active {
            font-weight: bold;
        }
    }
    a:hover, a.active {
        border-bottom: solid 3px @col-main;
    }
    .up-zp-image {
        max-height: 250px;
        overflow: hidden;
        position: relative;
        top: -1px;

        img {
            width: 100%;
        }
    }
}

.up-ticket {
    &.up-zone-picker:before{
        top:0px;
        bottom:0px;
        right:-1px;
        left:-1px;
    }
    &.up-zone-picker{
        padding:0px 0px!important;
    }
}
