// Typo
.small {
    font-size: 75%;
}
.big {
    font-size: 125%;
}
.bold {
    font-weight: bold;
}
.danger {
    color: @col-red;
}
.spaced {
    letter-spacing: 0.15em;
}

// Box-model
.padded {
    padding: 0.5em;
}

// Input
.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
:disabled, [disabled] {
    .disabled;
}

// Liens
.clickable{
    cursor: pointer;
}

// Support
.centering {
    text-align: center;
}
.justify {
    text-align: justify;
}

.wysiwyg-data {
    a { .Link; }

    img {
        .img-responsive;
    }
}

.up-clickable{
    cursor: pointer;
    &:hover, &.active {
        color: @col-main;
    }
    &.admissibles {
        .disabled;
        color: inherit !important;
    }
}
.up-delete-button:hover{
    color: @col-red;
}
.up-link{
    cursor: pointer;
    color: @col-main;
    &:hover {
        color: @col-font;
    }
}
.no-click {
    cursor: default !important;
}
// Classes utiles
.up-col-main {
    background-color: @col-main;
    color: white;
    .up-clickable {
        &.active {
            color: @gray !important;
        }
        &:hover {
            color: white;
            &.active {
                color: @gray ;
            }
        }
    }
    &:hover {
        background-color: @col-neg;
        color: white !important;

        .up-clickable {
            &.active {
                color: @gray !important;
            }
            &:hover {
                color: @gray;
            }
        }
    }
}

.fa-block {
    width: 20px;
    text-align: center;
}
.cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.whoosh {
    display: none;
}
.raw-link {
    color: @col-font !important;
}
.up-overflow {
    height: 6.6em;
    overflow: hidden;
}


.label-upont { // Labels bootstrap pour uPont
    background-color: @col-main;
}
.img-responsive {
    margin: 10px 0 10px 0;
}
