<section class="Ticket">
    <h1>Informations Générales</h1>

    <div row="center stretch">
        <div class="Image" flex="25">
            <div class="Image__filler" ng-style="{ 'background-image' : 'url({{ club.image_url | urlFile }})' }"></div>
        </div>
    </div>

    <form row="start center" wrap ng-submit="submitClub(club.name, club.full_name, club.icon, club.category, profilePicture, bannerPicture, club.active, club.place)" autocomplete="off">
        <div class="padded" flex="50" flex-md="25">
            <i class="fa fa-angle-double-right"></i>
            Nom long
        </div>
        <div class="padded" flex="50" flex-md="25">
            <input class="Input" type="text" ng-model="club.full_name">
        </div>

        <div class="padded" flex="50" flex-md="25">
            <i class="fa fa-angle-right"></i>
            Nom court
        </div>
        <div class="padded" flex="50" flex-md="25">
            <input class="Input" type="text" ng-model="club.name">
        </div>

        <div class="padded" flex="50" flex-md="25">
            <i class="fa fa-{{ club.icon || 'file-image-o' }}"></i>
            Icône <a class="Link" ng-click="showIcons = !showIcons">({{ showIcons ? 'masquer' : 'voir' }} les icônes)</a>
        </div>
        <div class="padded" flex="50" flex-md="25">
            <input class="Input" type="text" ng-model="club.icon">
        </div>

        <div ng-if="!club.administration" class="padded" flex="50" flex-md="25">
            <i class="fa fa-tag"></i>
            Catégorie
        </div>
        <div ng-if="!club.administration" class="padded" flex="50" flex-md="25">
            <select class="Input" ng-model="club.category">
                <option value="asso">Association</option>
                <optgroup label="Clubs du BDE">
                    <option value="club-gastronomique">Gastronomie</option>
                    <option value="club-artistique">Art</option>
                    <option value="club-divertissement">Divertissement</option>
                    <option value="club-culturel">Culture (débat, échanges...)</option>
                    <option value="autre">Autre</option>
                </optgroup>
            </select>
        </div>

        <div class="padded" flex="50" flex-md="25">
            <i class="fa fa-image"></i>
            Logo
        </div>
        <div class="padded" flex="50" flex-md="25">
            <input type="file" class="Input" ng-model="profilePicture" base-sixty-four-input>
        </div>

        <div class="padded" flex="50" flex-md="25">
            <i class="fa fa-image"></i>
            Bannière
        </div>
        <div class="padded" flex="50" flex-md="25">
            <input type="file" class="Input" ng-model="bannerPicture" base-sixty-four-input>
        </div>

        <div class="padded" flex="50" flex-md="25">
            <i class="fa fa-home"></i>
            Local
        </div>
        <div class="padded" flex="50" flex-md="25">
            <input class="Input" type="text" ng-model="club.place">
        </div>

        <div class="padded" flex="50" flex-md="25">
            <i class="fa fa-lock"></i>
            Actif
        </div>
        <div class="padded" flex="50" flex-md="25" ng-if="isAdmin">
            <input type="checkbox" class="Input" ng-model="club.active">
        </div>

        <div class="padded" flex="100" row="end start">
            <button class="Button" up-col-xs="100%" up-col-sm="100%" up-col="25%">Modifier !</button>
        </div>
    </form>
</section>

<section class="Ticket" ng-show="showIcons">
    <h2>Icônes <small><a ng-click="showIcons = !showIcons">(masquer)</a></small></h2>

    <div class="padded" row wrap>
        <div class="Link  Link--reverse padded" flex="50" flex-sm="33" flex-md="25" up-col-sm="33%" up-col="25%" ng-repeat="icon in faIcons" ng-click="setIcon(icon)">
            <i class="fa fa-{{ icon }} fa-block"></i> {{ icon }}
        </div>
    </div>
</section>

<section class="Ticket" ng-if="!club.administration">
    <h2>Membres</h2>

    <div class="Search  padded">
        <label for="search-input">
            <div row class="Search__input" ng-class="{'Search__input--focused': displaySearch}">
                <i flex="15" class="fa fa-search" style="padding-top:3px"></i>
                <input flex="85" type="text" placeholder="Nouveau membre"
                       ng-change="searchUser(search)" ng-model="search"
                       ng-focus="displaySearch=true" ng-blur="displaySearch=false"
                       ng-init="displaySearch=false;hoverSearch=false" id="search-input"/>
            </div>
        </label>

        <div style="position: relative;">
            <section class="Search__results  Ticket" ng-mouseenter="hoverSearch=true" ng-mouseleave="hoverSearch=false"
                 ng-show="(displaySearch || hoverSearch) && searchResults.length">

                <section class="Results" row>
                    <div class="Results__cell" flex="25">
                        <h3 class="small bold">MEMBRES</h3>
                    </div>
                    <div class="Results__cell" flex="75">
                        <div class="Results__item" row="space-between center" ng-repeat="result in searchResults | limitTo: 5"
                             ng-click="addMember(result)">
                            <div class="Image" flex="20">
                                <div class="Image__filler" ng-style="{ 'background-image' : 'url({{ result.image_url | thumb | urlFile }})' }"></div>
                            </div>
                            <div flex="75" ng-bind-html="result.name | match: search"></div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>

    <table class="Table" flex="90">
        <thead>
            <tr>
                <th>Élève</th>
                <th>Rôle</th>
		<th> </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="member in filtered =  (members | promoFilter: promo | orderBy:['priority'])">
                <td>
                    <i class="fa fa-remove up-clickable" ng-click="removeMember(member.user)"></i>
                    <i class="fa fa-pencil up-clickable"
                       ng-click="editMember(member.user)"
                    ></i>
                    {{ member.user.first_name }} {{ member.user.last_name }}
                </td>
                <td>{{ member.role }}</td>
		<td>
		    <i class="fa fa-arrow-up up-clickable" ng-hide="$first" ng-click="moveMember(member.user, 'up')"></i>
		    <i class="fa fa-arrow-down up-clickable" ng-hide="$last" ng-click="moveMember(member.user, 'down')"></i>
		</td>
            </tr>
            <tr ng-hide="filtered.length">
                <td>Rien à afficher</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <select class="Input" ng-model="promo">
        <option ng-repeat="promoItem in PROMOS"
                ng-selected="promoItem == promo"
                    value="{{ promoItem }}">Année '{{ promoItem }}</option>
    </select>
</section>
