<div row="space-between start" wrap>
    <section class="Ticket" flex="100" flex-md="66">
        <div ng-hide="edit">
            <p flex="100" ng-bind-html="club.presentation | trustAsHtml"></p>

            <div row="center center" flex="100" ng-if="isAdmin || $root.hasClub(club.slug)">
                <button class="Button" ng-click="editPresentation()">Modifier</button>
            </div>
        </div>

        <div ng-if="edit">
            <div flex="100">
                <ng-quill-editor flex="100" ng-model="club.presentation"></ng-quill-editor>
            </div>
            <div flex="100" row="end start">
                <button class="Button" ng-click="modify()">Envoyer</button>
            </div>
        </div>
    </section>
    <div col flex="100" flex-md="33">
        <section class="Ticket">
            <h2>Membres - {{ club.full_name }}</h2>

            <table class="Table" flex="90">
                <thead>
                    <tr>
                        <th>Élève</th>
                        <th>Rôle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="member in filtered =  (members | promoFilter: promo | orderBy:orderBy:['priority'])">
                        <td><span up-user user="member.user">{{ member.user.first_name }} {{ member.user.last_name }}</span></td>
                        <td>{{ member.role }}</td>
                    </tr>
                    <tr ng-hide="filtered.length">
                        <td>Rien à afficher</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <select class="Input" ng-model="promo">
                <option ng-selected="promoItem == promo" ng-repeat="promoItem in PROMOS | reverse"
                        value="{{ promoItem }}">Année '{{ promoItem }}</option>
            </select>
        </section>
        <section row class="Ticket" ng-if="club.place">
            <div class="padded" flex="50">
                <i class="fa fa-home"></i>
                Local :
            </div>
            <div class="padded" flex="50">
                {{ club.place }}
            </div>
        </section>
    </div>
</div>
