<div up-row>
    <div up-col-md="60%" up-col-lg="60%" up-col="100%">
        <div class="up-ticket" ng-if="isAdmin && isState('root.home')" >
            <div class="centering">
                <h3 ng-show="!publier"><a class="btn btn-default btn-publier" ng-click="startPublier()">Publier !</a></h3>
            </div>
            <div ng-if="publier" class="up-slide" ng-include="'views/misc/publier.html'"></div>
        </div>
        <div class="transition" ng-include="'views/home/liste-publis.html'"></div>
    </div>

    <div up-col="0%" up-col-md="40%" up-col-lg="40%">
        <div class="up-ticket centering">
            <h3>Ceci est la nouvelle version de uPont !</h3>
            On espère qu'elle vous plaira, en attendant vous pouvez aussi télécharger l'application mobile pour <a href="">Android</a>, <a href="">iOS</a> ou <a href="">Windows Phone</a> !<br>
            <br>
            Restez à jour, des nouvelles versions seront publiées au moins une fois par semaine (voir en bas à gauche).
        </div>
    </div>
</div>
