<div up-row>
    <div up-col-md="60%" up-col-lg="60%" up-col="100%">
        <div ng-if="isState('root.home')" ng-include="'views/home/publish.html'"></div>
        <div class="transition" ng-include="'views/home/liste-publis.html'"></div>
    </div>

    <div up-col="0%" up-col-md="40%" up-col-lg="40%">
        <div class="up-ticket centering">
            <h3>Ceci est la nouvelle version de uPont !</h3>
            On espère qu'elle vous plaira, en attendant vous pouvez aussi télécharger l'application mobile pour <a href="">Android</a>, <a href="">iOS</a> ou <a href="">Windows Phone</a> !<br>
            <br>
            Restez à jour, des nouvelles versions seront publiées au moins une fois par semaine (voir en bas à gauche).
        </div>

        <div infinite-scroll="nextMessages()" infinite-scroll-distance="2" infinite-scroll-disabled="$root.infiniteLoading">
            <div class="up-ticket" ng-repeat="message in messages.data">
                <div up-row class="up-messages" ng-mouseover="showModify=true" ng-mouseleave="showModify=false">
                    <img up-col="20%" class="up-profile-picture" ng-src="{{ message.author_user.image_url | urlFile }}"/>
                    <div up-col="80%">
                        <small>
                            {{ message.date | fromNow }}
                            <i ng-show="message.author_user.username == $root.me.username && showModify" class="fa fa-pencil up-clickable" ng-click="modifyMessage(message)"></i>
                            <i ng-show="message.author_user.username == $root.me.username && showModify" class="fa fa-times up-clickable"  ng-click="deleteMessage(message)"></i>
                        </small><br>
                        <strong>{{ message.author_user.nick }} :</strong>
                        <span up-publi-text string="message.text" style="margin-top: 0"></span>
                    </div>
                </div>
                <img class="img-responsive" ng-if="message.image_url" ng-src="{{ message.image_url | urlFile }}"/><br>
                <div up-likes objet="message" url="'newsitems/'+message.slug"></div>
            </div>
        </div>
    </div>
</div>
