<div class="up-row">
    <div class="up-col-md-7 up-col-xs-12" autoscroll="false" ui-view></div>

    <div class="up-col-xs-4 invisible-xs">
        <div class="up-ticket centering">
            <h3>Ceci est la nouvelle version de uPont !</h3>
            On espère qu'elle vous plaira, en attendant vous pouvez aussi télécharger l'application mobile pour <a href="">Android</a>, <a href="">iOS</a> ou <a href="">Windows Phone</a> !<br>
            <br>
            Restez à jour, des nouvelles versions seront publiées au moins une fois par semaine (voir en bas à gauche).
        </div>
    </div>
</div>
