<div up-row wrap>
    <div up-col-xs="100%" up-col-sm="100%" up-col="50%" class="up-ticket">
        <div up-row>
            <div up-col-xs="100%" up-col="80%">
                <h1>Bienvenue sur uPont !</h1>
                <p>uPont est l'intranet étudiant de l'École nationale des ponts et chaussées.</p>
            </div>
            <div up-col-xs="0%" up-col="20%">
            <svg-image  src="img/icon.svg" class="svg"></svg-image>
            </div>
        </div>
    </div>
    <div class="up-ticket" up-col-xs="100%" up-col="50%">
        <h2>Élève ?</h2>

        <form class="up-login-form" ng-submit="login(pseudo, password)">
            <div up-row left padded space-around>
                <input up-col="45%" ng-model="pseudo" type="text" placeholder="Identifiant"/>
                <input up-col="45%" ng-model="password" type="password" placeholder="Mot de passe"/>
            </div>
            <br>

            <div up-row right>
                <button up-col-xs="100%" up-col-sm="100%" up-col="35%" class="up-btn up-btn-default" style="min-width: 220px;">Connecte-toi !</button>
            </div>
        </form>
    </div>

    <div up-col-xs="100%" up-col="50%" class="up-ticket">
        <h2>Admissible ?</h2>
        <p>Tu as eu la chance d'être reçu admissible au concours Mines-Ponts...<br>
        Ça se passe par ici !</p>

        <div up-row right>
            <button up-col-xs="100%" up-col-sm="100%" up-col="35%" class="up-btn up-btn-default" disabled style="min-width: 220px;">Espace admissible</button>
        </div>
    </div>

    <div up-col-xs="100%" up-col="50%" class="up-ticket">
        <h2>Simple visiteur ?</h2>
        <p>Regarde à quelle point la vie associative aux Ponts est bien remplie !<br><br></p>

        <div up-row right>
            <button up-col-xs="100%" up-col-sm="100%" up-col="35%" class="up-btn up-btn-default" disabled style="min-width: 220px;">Voir les assos</button>
        </div>
    </div>
</div>
