<div class="up-landing-container">
    <div class="up-landing" up-row left padded wrap>
        <div up-row up-col="50%" up-col-xs="100%" wrap padded>
            <div class="up-landing-left" up-col="40%">
                <div up-col="100%">
                    <div class="centering"><img up-col="30%" ng-src="img/icon.svg" /></div>
                    <h1>Bienvenue sur uPont !</h1>
                    <p>uPont est l'intranet étudiant de l'École nationale des ponts et chaussées.</p>
                </div>
            </div>
            <div class="up-landing-right" up-col="60%">
                <h1>Connecte-toi</h1>
                <form up-row padded wrap class="up-login-form" ng-submit="login(pseudo, password)" autocomplete="off">
                    <div up-col="100%" ><input up-col="100%" ng-model="pseudo" type="text" placeholder="Identifiant" id="login-input" /></div>
                    <div up-col="100%" ><input up-col="100%" ng-model="password" type="password" placeholder="Mot de passe" /></div>
                    <div up-col="100%" up-row right>
                        <button up-col-xs="100%" up-col-sm="100%" up-col="35%" class="up-btn up-btn-lg up-btn-default" style="min-width: 200px;">Connecte-toi !</button>
                    </div>
                </form>
            </div>
        </div>
        <div up-col="100%">
            <button up-col-xs="100%" up-col="35%" class="up-btn up-btn-lg up-btn-default" disabled style="min-width: 200px;">Espace admissible</button>
            <button up-col-xs="100%" up-col="35%" class="up-btn up-btn-lg up-btn-default" disabled style="min-width: 200px;">Portail extérieur</button>
        </div>
    </div>
</div>
