<div infinite-scroll="next()" infinite-scroll-distance="1" infinite-scroll-disabled="$root.infiniteLoading">
    <div class="up-ticket divided rounded-top" ng-class="'color{{ publication.slug.length%5+1 }}'" ng-repeat="publication in events | concat: newsItems.data | orderBy: 'date' | reverse">
        <div ng-if="!publication.start_date">
            <div class="up-ticket-header">
                <div class="background" ng-style="{'background-image': 'url({{publication.author_club.image_url | urlFile}})'}"></div>
                <div class="up-img-home-container">
                    <div class="up-img-home" ng-style="{'background-image': 'url({{ publication.image_url | urlFile }})'}" ></div>
                </div>
            </div>
            <div class="up-ticket-body">
                <div class="up-news-icon"><i class="fa fa-envelope"></i></div>
                <div up-row>
                    <div  class="up-ticket-title" up-col="70%">
                        <h2>{{ publication.name }}</h2>
                       <div>Par {{ publication.author_club.name }}</div>
                    </div>
                    <div up-col="30%" class="up-ticket-date">{{ publication.date*1000 | date : 'd MMMM yyyy' }}</div>
                </div>
                <p up-publi-text string="publication.text_long"></p>
                <div up-likes objet="publication" url="'newsitems/'+publication.slug"></div>
            </div>
        </div>
        <div ng-if="!!publication.start_date">
            <div class="up-ticket-header">
                <div class="background" ng-style="{'background-image': 'url({{publication.author_club.image_url | urlFile}})'}"></div>
                <div class="up-img-home-container">
                    <div class="up-img-home" ng-style="{'background-image': 'url({{ publication.image_url | urlFile }})'}" />
                </div>
                <!--
                    <p class="up-date-evenement">
                        Le {{ publication.start_date*1000 | date : 'dd/MM/yyyy à H:mm' }}
                        <br>
                        <span ng-if="publication.entry_method == 'Shotgun'">Shotgun le {{ publication.shotgun_date*1000 | date : 'dd/MM/yyyy'  }}</span>
                    </p>
                </div> -->
            </div>

            <div class="up-ticket-body">
                <div class="up-news-icon"><i class="fa fa-calendar"></i></div>
                <div up-row>
                    <div  class="up-ticket-title" up-col="70%">
                        <h2>{{ publication.name }}</h2>
                       <div>Par {{ publication.author_club.name }}</div>
                    </div>
                    <div up-col="30%" class="up-ticket-date">{{ publication.date*1000 | date : 'd MMMM yyyy' }}</div>
                </div>
                <p class="up-chapeau" up-publi-text string="publication.text_long"></p>
                <div up-likes objet="publication" url="'events/'+publication.slug"></div>
            </div>
        </div>
    </div>
</div>
