<div infinite-scroll="next()" infinite-scroll-distance="2" infinite-scroll-disabled="$root.infiniteLoading">
    <div class="up-ticket divided rounded-top" ng-class="'color{{ publication.slug.length%5+1 }}'" ng-repeat="publication in events.data | concat: newsItems.data | orderBy: 'date' | reverse">
        <div class="up-ticket-header">
            <div class="background" ng-style="{'background-image': 'url({{ publication.author_club.image_url | urlFile }})'}"></div>
            <div class="up-img-home-container">
                <div class="up-img-home" ng-style="{'background-image': 'url({{ publication.image_url | urlFile }})'}" ></div>
            </div>
        </div>
        <div class="up-ticket-body" ng-mouseover="showModify=true" ng-mouseleave="showModify=false">
            <div class="up-news-icon">
                <i class="fa fa-{{ publication.author_club.icon ? publication.author_club.icon : 'envelope'}}"></i>
            </div>
            <div up-row>
                <div  class="up-ticket-title" up-col="75%">
                    <h2>{{ publication.name }}</h2>
                   <div>
                        <a ui-sref="root.channels.simple.publications({slug: publication.author_club.slug})"
                           title="Lien vers la page du club">
                            Par {{ publication.author_club.name }}
                        </a>
                    </div>
                </div>
                <div up-col="25%" class="up-ticket-date">
                    <i ng-show="$root.hasRight(publication.author_club.slug) && showModify" class="fa fa-times up-clickable"  ng-click="deletePost(publication)"></i>
                    {{ publication.date*1000 | date : 'd MMMM yyyy' }}<br>
                    <a class="up-shotgun-link" title="Lien vers la page de shotgun"
                    ng-if="publication.start_date && publication.entry_method == 'Shotgun'"
                    ng-href="shotgun/{{ publication.slug }}">
                        SHOTGUN {{ publication.shotgun_date | formatDate }}
                    </a>
                </div>
            </div>
            <p ng-if="publication.start_date">
                <strong>Début :</strong> {{ publication.start_date | formatDate }}<br>
                <strong>Fin :</strong> {{ publication.end_date | formatDate }}<br>
                <a title="Afficher les participants"
                   ng-show="publication.attendees > 0"
                   ng-click="showAttendees(publication)">
                    {{ publication.attendees }}
                    {{ publication.attendees == 1 ? 'personne y participe' : 'personnes y participent' }}
                </a>
            </p>
            <p up-publi-text string="publication.text"></p>
            <div ng-if="publication.start_date && !publication.shotgun_date" up-row right>
                <span class="up-likes up-clickable" ng-click="attend(publication)" ng-class="{active : publication.attend}">
                    <i class="fa fa-check"></i> {{ publication.attend ? 'Ne pas participer' : 'Participer' }}
                </span>
                &nbsp;&nbsp;&nbsp;
                <span class="up-likes up-clickable" ng-click="pookie(publication)" ng-class="{active : publication.pookie}">
                    <i class="fa fa-times"></i> Masquer
                </span>
            </div>
            <div up-likes objet="publication"
                 url="(publication.start_date ? 'events/' : 'newsitems/') + publication.slug"></div>
        </div>
    </div>
</div>
