<!doctype html>
<html lang="fr" ng-app="upont" ng-strict-di>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- build:base -->
            <base href="/">
        <!-- endbuild -->
        <title ng-bind="title">uPont</title>
        <meta name="description" content="uPont, le site étudiant de l'École des Ponts ParisTech">
        <meta name="keywords" content="ponts chaussées upont intranet admissibles mines concours étudiant clubs associations paristech" />
        <meta name="author" content="KI - Club Informatique">

        <link rel="icon" type="image/png" href="img/favicon.png" />
        <link rel="stylesheet" ng-href="{{ 'themes/' + $root.theme + '.min.css' }}">

        <script type="text/javascript" src="upont.min.js"></script>
        <script type="text/javascript" src="templates.js"></script>
        <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
    </head>

    <body>
        <div ui-view autoscroll="false"></div>

        <!-- Endroit réservé aux images zoomées -->
        <div class="Zoom" ng-if="$root.zoom" ng-click="$root.zoomOut($event)">
            <img class="Zoom__image  Image" ng-src="{{ $root.zoomUrl }}" alt="Image zoomée">
            <strong>Clic gauche pour fermer</strong>
        </div>

        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            // _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="https://upont.enpc.fr/piwik/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 1]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="https://upont.enpc.fr/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->

        <!-- Compatibilité -->
        <script>
            var $buoop = {vs:{i:10,f:30,o:15,s:7},c:2};
            function $buo_f(){
                var e = document.createElement('script');
                e.src = '//browser-update.org/update.min.js';
                document.body.appendChild(e);
            };
            try {
                document.addEventListener('DOMContentLoaded', $buo_f,false);
            } catch (e) {
                window.attachEvent('onload', $buo_f);
            }
        </script>
    </body>
</html>
