<!doctype html>
<html lang="fr" ng-strict-di>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- build:base -->
            <base href="/">
        <!-- endbuild -->
        <title ng-bind="title">uPont</title>
        <meta name="description" content="uPont, le site étudiant de l'École des Ponts ParisTech">
        <meta name="keywords" content="ponts chaussées upont intranet étudiant clubs associations paristech" />
        <meta name="author" content="KI - Club Informatique">

        <link rel="icon" type="image/png" href="img/favicon.png" />
        <link rel="stylesheet" type="text/css" href="loading.min.css"/>
        <link rel="stylesheet" ng-href="{{ 'themes/' + $root.theme + '.min.css' }}">
        <link type="text/plain" rel="author" href="humans.txt" />

        <script type="text/javascript" src="upont.min.js"></script>
        <script type="text/javascript" src="templates.js"></script>
        <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
    </head>

    <body>

        <div ui-view autoscroll="false"></div>

        <!-- Endroit réservé aux images zoomées -->
        <div ng-cloak class="Zoom" ng-if="$root.zoom" ng-click="$root.zoomOut($event)">
            <img class="Zoom__image  Image" ng-src="{{ $root.zoomUrl }}" alt="Image zoomée">
            <strong>Clic gauche pour fermer</strong>
        </div>

        <!-- Endroit réservé à l'animation de chargement de uPont -->

        <!-- D'abord la page est blanche lors du parsage du html et des requêtes successives dans le header jusqu'à upont.min.js qui bloque le parsage. Vers la fin de son exécution, il applique les ng-cloak avant de requêter la config de upont asynchronously. Le parsage de l'html continue alors, la section des images zoomés n'est pas rendered grâce au ng-cloak, cette section s'affiche avec seulement le style de loading.css car le css du thème a besoin de $root.theme pour être chargé. Cette section existe donc pendant le chargement de la config du upont : /api/config puis disparait ensuite avec la fin de l'exécution de upont.min.js qui rend possible l'évaluation des directives d'angularjs (le ng-if=false fait disparaître la section), le ui-view fait apparaître la page de login, puis avec l'évaluation de $root.theme le style du thème charge.
        Cette section n'avait pas lieu d'exister avant car le chargement de la config de upont était intantannée, cette section a donc été créé car pendant le chargement de cette config, la section des images zoomées étaient devenues apparantes, voir terminale sur mobile où uPont ne chargeait pas -->

        <div ng-if="false" class="Page__landing">
            <section class="Loading">
                <img src="img/icon.svg" class="ld ld-heartbeat x2 Loading__image"/>
                <p class="Loading__element"> <span class="ld ld-spinner ld-spin padded"></span> Chargement en cours...</p>
                <br/>
                <a class="Loading__element" href="help.html"><button class="Button">Un problème ?</button></a>
            </section>
        </div>


        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            // _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="https://upont.enpc.fr/piwik/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 1]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="https://upont.enpc.fr/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->

        <!-- Compatibilité -->
        <script>
            var $buoop = {vs:{i:10,f:30,o:15,s:7},c:2};
            function $buo_f(){
                var e = document.createElement('script');
                e.src = '//browser-update.org/update.min.js';
                document.body.appendChild(e);
            };
            try {
                document.addEventListener('DOMContentLoaded', $buo_f,false);
            } catch (e) {
                window.attachEvent('onload', $buo_f);
            }
        </script>
    </body>
</html>
