// Tout ce qui concerne les badges

.like-badge {
    position: absolute;
    font-size: 12px;
    height: 12px;
    line-height:12px;
    min-width: 12px;
    margin-top: 0px;
    font-weight: 600;

    &.tab-badge {
        top: 30px;
    }
    &.comment-badge {
        right: 8px;
    }
}
