.person-image-comment {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.name-comment {
  font-weight: 500;
  line-height: 16px;
  font-size: 17px;
  opacity: 0.4;
  margin-bottom: 6px;
}

.list-item-container-comment {
  line-height: 1;
  padding: 7px 0px 5px 5px;
}

.desc-comment {
  line-height: 1.2;
  font-size: 17px;
}

.action-icon-comment {
  padding: 0 0 4px 0;
  opacity: 0.7;
}

.action-icon-comment.action-active {
  padding: 0 0 4px 0;
  color: #7abfff;
}

.action-icon-comment ons-icon {
  font-size: 30px;
  opacity: 0.7;
}

.input-comment {
  width: 96%;
  margin-right: 40px;
}

.like-badge-comment {
    position: absolute;
    right: 8px;
    font-size: 12px;
    height: 12px;
    line-height:12px;
    min-width: 12px;
    margin-top: 0px;
    font-weight: 600;
}

.button-comment {
  width: 96%;
  margin-top: 5px;
}
