// On importe les couleurs
@import 'variables.less';

a {
  text-decoration: none;
  color: @main-color;
}

.cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center { text-align: center; }

p.content { padding: 0px 5px 5px 15px; }
