<div class="up-ticket">
    <h2>Créer une assos :</h2>

    <div class="up-profile-form">
        <form up-row padded left wrap ng-submit="post(club)" autocomplete="off">

            <div up-col-xs="100%" up-col-sm="100%" up-col="50%">
                <input class="up-col-xs-12" type="text" ng-model="club.fullname" placeholder="Nom long"/>
            </div>
            <div up-col-xs="100%" up-col-sm="100%" up-col="50%">
                <input class="up-col-xs-12" type="text" ng-model="club.name" placeholder="Nom court"/>
            </div>

                <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                    Ceci est un channel géré par l'administration <input type="checkbox" ng-model="club.administration" />
                </div>

                <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                    Ceci est un club <input type="checkbox" ng-model="club.isClub" />
                </div>
                
            <div up-col="100%" up-row right>
            	<button up-col-xs="100%" up-col-sm="100%" up-col="15%" class="up-btn up-btn-default">Créer</button>
            </div>
        </form>
    </div>
</div>

