<div class="up-ticket">
    <h2>Créer un utilisateur :</h2>

    <div class="up-profile-form">
        <form up-row padded left wrap ng-submit="post(firstName, lastName, email)" autocomplete="off">

            <div up-col-xs="100%" up-col-sm="100%" up-col="50%">
                <input class="up-col-xs-12" type="text" ng-model="firstName" placeholder="Prénom"/>
            </div>
            <div up-col-xs="100%" up-col-sm="100%" up-col="50%">
                <input class="up-col-xs-12" type="text" ng-model="lastName" placeholder="Nom"/>
            </div>
            <div up-col-xs="100%" up-col-sm="100%" up-col="50%">
                <input class="up-col-xs-12" type="email" ng-model="email" placeholder="Email"/>
            </div>

            <div up-col="100%" up-row right>
            	<button up-col-xs="100%" up-col-sm="100%" up-col="15%" class="up-btn up-btn-default">Créer</button>
            </div>
        </form>
    </div>
</div>
