<div class="col-xs-12">
    <div class="up-ticket">
        <div class="col-xs-4 col-xs-offset-4 stacked-row centering"><img src="" alt="" />{{ elevePhoto }}</div>
        <div class="col-xs-12 stacked-row">
            <div class="col-sm-2 col-sm-offset-3 col-xs-4 centering"><button type="button" ng-click="actionJeu(1)" class="btn btn-default">{{ nom1 }}</button></div>
            <div class="col-sm-2 col-xs-4 centering"><button type="button" ng-click="actionJeu(2)" class="btn btn-default">{{ nom2 }}</button></div>
            <div class="col-sm-2 col-xs-4 centering"><button type="button" ng-click="actionJeu(3)" class="btn btn-default">{{ nom3 }}</button></div>
        </div>
        <div class="col-xs-12 centering"><div>Temps restant : 0</div><div>Pounetausses : {{ score }}</div></div>
        <div class="clearfix"></div>
    </div>
</div>