<div up-row left wrap padded class="up-ticket up-profile-list" infinite-scroll="next()" infinite-scroll-distance="3" infinite-scroll-disabled="$root.infiniteLoading">
    <div ng-repeat="user in users.data" class="up-user-item" up-col-xs="50%" up-col-sm="50%" up-col-md="50%" up-col="33%">
        <div class="up-user-container" ui-sref="root.promo.simple({slug: user.username})" up-col="100%" up-row>
            <div up-col="30%">
                <div class="up-user-image-container">
                    <div class="up-user-image" ng-style="{ 'background-image' : 'url({{ user.image_url | urlFile }})' }"></div>
                </div>
            </div>
            <div class="up-user-details" up-col="70%">
                <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                {{ user.department }} - Promo '{{ user.promo }}
            </div>
        </div>
    </div>

    <div ng-if="!users.data.length">
        <h2>Rien à afficher !</h2>
    </div>
</div>
