<div class="up-ticket">

<h1> Liens utiles </h1>
  <h3> Liens "officiels" </h3>
<ul>
    <li> Site officiel de l''Ecole :<a href="http://www.enpc.fr/"> http://www.enpc.fr/</a></li>
    <li> Catalogue des cours de l'ENPC : <a href = "http://gede.enpc.fr/"> gede.enpc.fr </a> ; </li>
    <li> Ressources pédagogiques en ligne de l'ENPC: <a href = "https://educnet.enpc.fr/"> educnet.enpc.fr </a> ; </li>
    <li> Site des anciens élèves de l''école des Ponts : <a href="http://www.ponts.org/" style="line-height: 1.45em;">http://www.ponts.org/</a></li>
    <li> Site du <a href="http://www.developpement-durable.gouv.fr/">Ministère de l'Écologie, du Développement durable et de l'Énergie</a></li>
    <li> Annuaire des Ponts : <a href="https://annuaire.enpc.fr">https://annuaire.enpc.fr</a> </li>
    <li> Site interne pour la gestion des salles : <a href="gestion-salles.enpc.fr">gestion-salles.enpc.fr</a> (visible seulement depuis le réseau des Ponts ou des résidences)</li>
    <li> Site afin de modifier son mot de passe DSI : <a href="https://eleves.enpc.fr:20000/">https://eleves.enpc.fr:20000/</a> (Le compte DSI est celui dont l'identifiant est composé du nom de familler et de la première lettre du prénom)</li>
</ul>

<h3>Les sites concernant le clubinfo :</h3>
<ul>
    <li>Site du KI : <a href="http://clubinfo.enpc.org/">http://clubinfo.enpc.org/</a></li>
    <li>L'intranet : <a href="http://upont.enpc.fr/">http://upont.enpc.fr/</a> (là ou tu es ...)</li>
</ul>
<h3>Les sites concernant les associations et clubs :</h3>
<ul>
    <!-- <li>Site du BDE :<a href="http://bde.enpc.org/">http://bde.enpc.org/</a></li>
    <li><a href="http://entreprises.enpc.org/">http://entreprises.enpc.org/</a></li> -->
    <li><a href="http://sitesdecampagne.enpc.org/">http://sitesdecampagne.enpc.org/</a></li> 
    <li><a href="http://bds.enpc.org/">http://bds.enpc.org/</a></li>
    <li><a href="http://escrime.enpc.org/">http://escrime.enpc.org/</a></li>
    <li><a href="http://pfc.enpc.org/">http://pfc.enpc.org/</a></li>
    <li><a href="http://prc.enpc.org/">http://prc.enpc.org/</a></li>
    <!-- <li><a href="http://voile.ponts.club.enpc.org/">http://voile.ponts.club.enpc.org/</a></li> -->
    <li><a href="http://bda.enpc.org/">http://bda.enpc.org/</a></li>
    <li><a href="http://clubmusique.enpc.org/">http://clubmusique.enpc.org/</a></li>
    <!-- <li><a href="http://clubsoirees.enpc.org/">http://clubsoirees.enpc.org/</a></li> -->
    <li><a href="http://developponts.enpc.org/">http://developponts.enpc.org/</a></li>
    <li><a href="http://gala.enpc.org/">http://gala.enpc.org/</a></li>
    <li><a href="http://mediatek.enpc.org/">http://mediatek.enpc.org/</a></li>
    <li><a href="http://pep.enpc.org/">http://pep.enpc.org/</a></li>
    <li><a href="http://pic.enpc.org/">http://pic.enpc.org/</a></li>
</ul>

<h3>Le reste des sites :</h3>
<ul>
    <li><a href="http://archi.enpc.org/">http://archi.enpc.org/</a></li>
    <!-- <li><a href="http://club-politique.enpc.org/">http://club-politique.enpc.org/</a></li> -->
    <li><a href="http://composites.enpc.org/">http://composites.enpc.org/</a></li>
    <li><a href="http://gcc.enpc.org/">http://gcc.enpc.org/</a></li>
    <li><a href="http://japon.enpc.org/">http://japon.enpc.org/</a></li>
    <li><a href="http://photo.enpc.org/">http://photo.enpc.org/</a></li>
    <li><a href="http://pontbook.enpc.org/">http://pontbook.enpc.org/</a></li>
    <li><a href="http://ponts-island.enpc.org/">http://ponts-island.enpc.org/</a></li>
    <li><a href="http://refresh.enpc.org/">http://refresh.enpc.org/</a></li>
    <!-- <li><a href="http://shanghai.enpc.org/">http://shanghai.enpc.org/</a></li> -->
    <!-- <li><a href="http://vet.enpc.org/">http://vet.enpc.org/</a></li> -->
    <!-- <li><a href="http://voyagegi.enpc.org/">http://voyagegi.enpc.org/</a></li> -->
</ul>

</div>
