<div class="up-ticket">

<h1> Liens utiles </h1>
  <h3> Liens "officiels" </h3>
<ul>
    <li> Site officiel de l''Ecole :<a href="http://www.enpc.fr/"> http://www.enpc.fr/</a></li>
    <li> Catalogue des cours de l'ENPC : <a href = "http://gede.enpc.fr/"> gede.enpc.fr </a> ; </li>
    <li> Ressources pédagogiques en ligne de l'ENPC: <a href = "https://educnet.enpc.fr/"> educnet.enpc.fr </a> ; </li>
    <li> Site des anciens élèves de l''école des Ponts : <a href="http://www.ponts.org/" style="line-height: 1.45em;">http://www.ponts.org/</a></li>
    <li> Site du <a href="http://www.developpement-durable.gouv.fr/">Ministère de l'Écologie, du Développement durable et de l'Énergie</a></li>
    <li> Annuaire des Ponts : <a href="https://annuaire.enpc.fr">https://annuaire.enpc.fr</a> </li>
    <li> Site interne pour la gestion des salles : <a href="gestion-salles.enpc.fr">gestion-salles.enpc.fr</a> (visible seulement depuis le réseau des Ponts ou des résidences)</li>
    <li> Site afin de modifier son mot de passe DSI : <a href="https://eleves.enpc.fr:20000/">https://eleves.enpc.fr:20000/</a> (Le compte DSI est celui dont l'identifiant est composé du nom de familler et de la première lettre du prénom)</li>
</ul>

<h3>Les sites concernant le clubinfo :</h3>
<ul>
    <li>Site du KI : <a href="http://clubinfo.enpc.org/">http://clubinfo.enpc.org/</a></li>
    <li>L'intranet : <a href="http://upont.enpc.fr/">http://upont.enpc.fr/</a> (là ou tu es ...)</li>
</ul>
<h3>Les sites concernant les associations et clubs :</h3>
<ul>
    <!-- <li>Site du BDE :<a href="http://bde.enpc.org/">http://bde.enpc.org/</a></li>
    <li><a href="http://entreprises.enpc.org/">http://entreprises.enpc.org/</a></li> -->
    <li><a href="http://sitesdecampagne.enpc.org/">http://sitesdecampagne.enpc.org/</a></li> 
    <li><a href="http://bds.enpc.org/">http://bds.enpc.org/</a></li>
    <li><a href="http://escrime.enpc.org/">http://escrime.enpc.org/</a></li>
    <li><a href="http://pfc.enpc.org/">http://pfc.enpc.org/</a></li>
    <li><a href="http://prc.enpc.org/">http://prc.enpc.org/</a></li>
    <!-- <li><a href="http://voile.ponts.club.enpc.org/">http://voile.ponts.club.enpc.org/</a></li> -->
    <li><a href="http://bda.enpc.org/">http://bda.enpc.org/</a></li>
    <li><a href="http://clubmusique.enpc.org/">http://clubmusique.enpc.org/</a></li>
    <!-- <li><a href="http://clubsoirees.enpc.org/">http://clubsoirees.enpc.org/</a></li> -->
    <li><a href="http://developponts.enpc.org/">http://developponts.enpc.org/</a></li>
    <li><a href="http://gala.enpc.org/">http://gala.enpc.org/</a></li>
    <li><a href="http://mediatek.enpc.org/">http://mediatek.enpc.org/</a></li>
    <li><a href="http://pep.enpc.org/">http://pep.enpc.org/</a></li>
    <li><a href="http://pic.enpc.org/">http://pic.enpc.org/</a></li>
</ul>

<h3>Le reste des sites :</h3>
<ul>
    <li><a href="http://archi.enpc.org/">http://archi.enpc.org/</a></li>
    <!-- <li><a href="http://club-politique.enpc.org/">http://club-politique.enpc.org/</a></li> -->
    <li><a href="http://composites.enpc.org/">http://composites.enpc.org/</a></li>
    <li><a href="http://gcc.enpc.org/">http://gcc.enpc.org/</a></li>
    <li><a href="http://japon.enpc.org/">http://japon.enpc.org/</a></li>
    <li><a href="http://photo.enpc.org/">http://photo.enpc.org/</a></li>
    <li><a href="http://pontbook.enpc.org/">http://pontbook.enpc.org/</a></li>
    <li><a href="http://ponts-island.enpc.org/">http://ponts-island.enpc.org/</a></li>
    <li><a href="http://refresh.enpc.org/">http://refresh.enpc.org/</a></li>
    <!-- <li><a href="http://shanghai.enpc.org/">http://shanghai.enpc.org/</a></li> -->
    <!-- <li><a href="http://vet.enpc.org/">http://vet.enpc.org/</a></li> -->
    <!-- <li><a href="http://voyagegi.enpc.org/">http://voyagegi.enpc.org/</a></li> -->
</ul>

<h1> Contacts </h1>
   <table class="up-table" up-col="90%">
        <thead>
            <tr>
                <th> Service </th>
                <th> Nom </th>
                <th> Mail </th>
                <th> Bureau </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Bureau de la vie étudiante </td>
                <td> Véronique OSTROWSKI & Patricia PIAT </td>
                <td> accueil-vie-etudiante@enpc.fr </td>
                <td> </td>
            </tr>
            <tr>
                <td> Bureau des admissions et de la scolarité </td>
                <td> Evelyne THIÉCHART-POUPON </td>
                <td> missionscolarite@enpc.fr </td>
                <td> </td>
            </tr>
            <tr>
                <td> Secrétariat Direction de l'enseignement </td>
                <td> Virginie CHASSIN </td>
                <td> virginie.chassin@enpc.fr </td>
                <td>  </td>
            </tr>
            <tr>
                <td> Inspectrices des études </td>
                <td> Viroutam MAYOURA - Dept 1A </td>
                <td> viroutam.mayoura@enpc.fr </td>
                <td>  </td>
            </tr>
            <tr>
                <td> </td>
                <td> Sandrine CALVARY - Dept SEGF/GMM </td>
                <td> sandrine.calvary@enpc.fr </td>
                <td>  </td>
            </tr>
            <tr>
                <td> </td>
                <td> Soazig CRUAUD - Dept GCC </td>
                <td> soazig.cruaud@enpc.fr </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> Laurence DODIN - Dept VET/SHS </td>
                <td> laurence.dodin@enpc.fr </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> Sandrine GUILLERM - Dept IMI/GI </td>
                <td> sandrine.guillerm@enpc.fr </td>
                <td> </td>
            </tr>
            <tr>
                <td> Responsables académiques </td>
                <td> N. - Dept 1A </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> Abdelkader SLIFI - Dept SEGF </td>
                <td> abdelkader.slifi@enpc.fr </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> Frédéric TAYEB - Dept GMM </td>
                <td> frederic.tayeb@enpc.fr </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> Aurélie DELEMARLE - Dept GI </td>
                <td> aurelie.delemarle@enpc.fr </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> Mohammed EL RHABI - Dept IMI </td>
                <td> mohammed.el-rhabi@enpc.fr </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> Marie KRIER - Dept VET </td>
                <td> marie.krier@enpc.fr </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> Aphrodite MICHALI - Dept GCC </td>
                <td> aphrodite.michali@enpc.fr </td>
                <td> </td>
            </tr>
            <tr>
                <td> Service Stages et Orientation Professionnelle </td>
                <td> Valérie JOLY </td>
                <td> valerie.joly@enpc.fr </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> Chantal DEKEYSER </td>
                <td> chantal.dekeyser@enpc.fr </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> Catherine PRAGNERE-KABALA </td>
                <td> catherine.pragnere-kabala@enpc.fr </td>
                <td> </td>
            </tr>
            <tr>
                <td> Département de la formation linguistique </td>
                <td> Monique SCHUMACHER </td>
                <td> monique.schumacher@enpc.fr </td>
                <td> </td>
            </tr>
            <tr>
                <td> Direction des relations internationales </td>
                <td> Alma CATALA-LUNA </td>
                <td> alma.catala-luna@enpc.fr </td>
                <td> </td>
            </tr>
            <tr>
                <td> Agence comptable </td>
                <td> Eric VALETTE </td>
                <td> eric.valette@enpc.fr </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> Odile LE MER </td>
                <td> odile.lemer@enpc.fr </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> Stéphanie LECLERC </td>
                <td> stephanie.leclerc@enpc.fr </td>
                <td> </td>
            </tr>
        </tbody>
    </table>

<h4>Missions de chaque service</h4>
  <ul>
    <li><b> Bureau de la vie étudiante</b> : Inscriptions administratives (certificat de scolarité, sécurité sociale, carte étudiante….), logement, bourses, titres de séjours ;</li>
    <li><b> Bureau des admissions et de la scolarité</b> : Coordination des emplois du temps, infos CER, duplicata et retrait des diplômes, élection des représentants des élèves aux CA et CER ;</li>
    <li><b> Secrétariat Direction de l'enseignement </b> : Relevés de notes, gradués en ingénierie, attestation de diplôme, prise de rendez-vous avec la Directrice de l'enseignement ;</li>
    <li><b> Inspectrices des études</b> : Élaboration des contrats de formation, suivi de la scolarité ;</li>
    <li><b> Responsables académiques</b> : Construction de cursus, accompagnement projet professionnel, orientation 3A</li>
    <li><b> Service Stages et Orientation Professionnelle</b> : Stages, programme d'orientation professionnelle (POP), partenariat entreprises Focus Métiers ;</li>
    <li><b> Département de la formation linguistique</b> : Inscriptions aux cours de langues, suivi TOEIC ;</li>
    <li><b> Direction des relations internationales</b> : Suivi des étudiants internationaux, information, orientation et suivi sur les mobilités à l'étranger, bourses de mobilité (Erasmus, Eiffel, Fitec, AMIE…) ;</li>
    <li><b> Agence comptable</b> : Paiement des droits d'inscription, des frais de scolarité et de sécurité sociale.</li>
  </ul>

</div>
