<div class="up-ticket">
    <h1>{{ course.name }}</h1>

    <strong>Département :</strong> {{ course.department }}<br>
    <span ng-if="course.semester"><strong>Semestre :</strong> S{{ course.semester }}</span><br>
    <strong>Horaires* :</strong> {{ course.start_date | courseHour }} - {{ course.end_date | courseHour }}<br>
    <br>

    <h2>Annales</h2>

    <table class="up-table" up-col="90%">
        <thead>
            <tr>
                <th><a ng-click="predicate = 'exercice.name'; reverse=!reverse">Nom</a></th>
                <th><a ng-click="predicate = 'exercice.uploader.nick'; reverse=!reverse">Uploader</a></th>
                <th><a ng-click="predicate = 'exercice.date'; reverse=!reverse">Date</a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="exercice in filtered =  (exercices | orderBy:predicate:reverse)">
                <td>
                    <a title="Télécharger le fichier" target="_blank" ng-href="{{ 'courses/' + course.slug + '/exercices/' + exercice.slug + '/download' | urlFile }}">{{ exercice.name }}</a>
                    <i class="fa fa-remove up-clickable" ng-if="exercice.uploader.username == $root.me.username || $root.isAdmin" ng-click="removeExercice(course, exercice)"></i>
                </td>
                <td><span up-user user="exercice.uploader">{{ exercice.uploader.nick }}</span></td>
                <td>{{ exercice.date | formatDate }}</td>
            </tr>
            <tr ng-hide="filtered.length">
                <td>Rien à afficher</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <div ng-if="!$root.isAdmissible">
        <h3>Uploader une annale</h3>
        Le fichier doit être au format PDF.<br><br>
        <form up-row padded space-between wrap ng-submit="submitExercice(name)" autocomplete="off">
            <input up-col-xs="100%" up-col-sm="100%" up-col="30%" type="text" ng-model="name" placeholder="Final 016, Partiel 017, Exercice..."/>

            <input up-col-xs="100%" up-col-sm="100%" up-col="30%" type="file" name="file" id="fileUpload" onchange="angular.element(this).scope().uploadFile(this.files)"/>

            <button up-col-xs="100%" up-col-sm="100%" up-col="30%" class="up-btn up-btn-lg up-btn-default">Envoyer</button>
        </form>
    </div>

    <p style="text-align: center"><small>* Ces horaires sont déterminés automatiquement, pour avoir les horaires exacts se référer à l'emploi du temps</small></p>
    <div up-likes objet="course" url="'courses/' + course.slug"></div>
</div>

<div ng-if="$root.isAdmin" class="up-ticket">
    <h3>Modifier le cours</h3>

    <form up-row padded left wrap ng-submit="submitCourse(course, groups)" autocomplete="off">
        <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
            <i class="fa fa-graduation-cap"></i>
            Semestre
        </div>
        <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
            <select ng-model="course.semester">
                <!-- Attention le select retourne un string alors que le champs est un integer -->
                <option value="1" ng-selected="course.semester == 1">S1</option>
                <option value="2" ng-selected="course.semester == 2">S2</option>
                <option value="3" ng-selected="course.semester == 3">S3</option>
                <option value="4" ng-selected="course.semester == 4">S4</option>
                <option value="5" ng-selected="course.semester == 5">S5</option>
                <option value="6" ng-selected="course.semester == 6">S6</option>
            </select>
        </div>

        <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
            <i class="fa fa-institution"></i>
            Département
        </div>
        <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
            <select ng-model="course.department">
                <option ng-repeat="item in $root.departments">{{ item }}</option>
            </select>
        </div>

        <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
            <i class="fa fa-users"></i>
            Groupes
        </div>
        <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
            <input class="up-col-xs-12" type="text" ng-model="groups" placeholder="Groupes 1,2,3..."/>
        </div>

        <div up-col="100%" up-row right>
            <button up-col-xs="100%" up-col-sm="100%" up-col="25%" class="up-btn up-btn-lg up-btn-default">Modifier !</button>
        </div>
    </form>
</div>
