<nav up-pane title="Recherche">
    <div up-row wrap padded>
        <div up-col="100%"><i class="fa fa-block fa-institution"></i> Département</div>
        <div up-col="100%">
            <select ng-model="search.department" ng-change="reload(search)">
                <option value="all">Tous</option>
                <option ng-repeat="item in $root.departments">{{ item }}</option>
                <option>SHS</option>
                <option>DFL</option>
            </select>
        </div>
    </div>

    <div up-row wrap padded>
        <div up-col="100%"><i class="fa fa-block fa-graduation-cap"></i> Période</div>
        <div up-col="100%">
            <select ng-model="search.semester" ng-change="reload(search)">
                <option value="all">Toutes</option>
                <option>Ouverture</option>
                <option>1er Semestre</option>
                <option>2nd Semestre</option>
                <option>Année complète</option>
            </select>
        </div>
    </div>

    <div up-row wrap padded>
        <div up-col="100%"><i class="fa fa-block fa-dollar"></i> ECTS</div>
        <div up-col="100%">
            <select ng-model="search.ects" ng-change="reload(search)">
                <option value="all">Tous</option>
                <!-- Attention le select retourne un string alors que le champs est un integer -->
                <option>1</option>
                <option>1,5</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
        </div>
    </div>
</nav>

<div class="up-ticket">
    <button class="up-btn up-btn-default" ng-if="$root.isAdmin" ng-class="{'disabled': !modo}" ng-click="toggleModo()" style="float:right">Mode modo</button>
    <h1>Liste des cours</h1>

    <h2>Cours suivis</h2>

    <div ng-show="followed === null">Aucun cours à afficher</div>
    <div up-row left wrap padded>
        <div ng-repeat="course in followed" class="up-course-item" up-col-xs="50%" up-col-sm="50%" up-col-md="50%" up-col="33%" ng-hide="modo">
            <div class="up-course-container up-course-active" up-col="100%" up-row>
                <div class="up-course-details" up-col="80%">
                    <h3 class="up-clickable" ui-sref="root.users.resources.courses.simple({slug: course.slug})">{{ course.name }}</h3>
                </div>
                <div up-col="20%" up-row wrap left>
                    <div class="up-likes up-clickable" ng-click="upvote(course);" ng-class="{active : course.like, admissibles : $root.isAdmissible || $root.isExterieur}" up-col="50%">
                        <i class="fa fa-thumbs-o-up"></i> {{ course.likes >= 0 ? course.likes : 0 }}
                    </div>

                    <div ng-if="!$root.isExterieur" class="up-likes up-clickable" ng-click="downvote(course);" ng-class="{active : course.dislike, admissibles : $root.isAdmissible || $root.isExterieur}" up-col="50%">
                        <i class="fa fa-thumbs-o-down"></i> {{ course.dislikes >= 0 ? course.dislikes : 0 }}
                    </div>

                    <div class="up-likes" ng-class="{admissibles : $root.isAdmissible}" up-col="50%">
                        <i class="fa fa-comment"></i> {{ course.comments }}
                    </div>

                    <div class="up-likes up-clickable active" title="Suivre le cours" ng-class="{admissibles : $root.isAdmissible}" up-col="50%" ng-click="leave(course)">
                        <i class="fa fa-eye"></i> {{ followedIds[course.slug] !== true ? followedIds[course.slug] : '' }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>Autres cours</h2>

    <div up-row left wrap padded infinite-scroll="next()" infinite-scroll-distance="3" infinite-scroll-disabled="$root.infiniteLoading">
        <div ng-repeat="course in courses.data" class="up-course-item" up-col-xs="50%" up-col-sm="50%" up-col-md="50%" up-col="33%" ng-show="modo || (course.active && followedIds[course.slug] === undefined)">
            <div class="up-course-container" ng-class="{'up-course-active': modo && course.active}" up-col="100%" up-row>
                <div class="up-course-details" up-col="80%">
                    <h3 class="up-clickable" ui-sref="root.users.resources.courses.simple({slug: course.slug})">{{ course.name }}</h3>
                </div>
                <div up-col="20%" up-row wrap left ng-show="!modo">
                    <div class="up-likes up-clickable" ng-click="upvote(course);" ng-class="{active : course.like, admissibles : $root.isAdmissible || $root.isExterieur}" up-col="50%">
                        <i class="fa fa-thumbs-o-up"></i> {{ course.likes >= 0 ? course.likes : 0 }}
                    </div>

                    <div ng-if="!$root.isExterieur" class="up-likes up-clickable" ng-click="downvote(course);" ng-class="{active : course.dislike, admissibles : $root.isAdmissible || $root.isExterieur}" up-col="50%">
                        <i class="fa fa-thumbs-o-down"></i> {{ course.dislikes >= 0 ? course.dislikes : 0 }}
                    </div>

                    <div class="up-likes" ng-class="{admissibles : $root.isAdmissible}" up-col="50%">
                        <i class="fa fa-comment"></i> {{ course.comments }}
                    </div>

                    <div class="up-likes up-clickable" title="Suivre le cours" ng-class="{admissibles : $root.isAdmissible}" up-col="50%" ng-click="attend(course)">
                        <i class="fa fa-eye"></i>
                    </div>
                </div>
                <div up-col="20%" up-row wrap left ng-show="modo">
                    <div class="up-likes up-clickable" ng-click="toggleCourse(course);" ng-class="{active : course.active}" style="font-size:2em" up-col="100%">
                        <i class="fa" ng-class="{'fa-toggle-on': course.active, 'fa-toggle-off': !course.active}"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
