<div class="up-zone-picker up-ticket">
    <div up-row left>
        <a ui-sref="root.users.resources.courses.list" up-state-active="root.users.resources.courses">Cours</a>
        <a ui-sref="root.users.resources.tutorials.list" up-state-active="root.users.resources.tutorials">Tutoriels</a>
        <!--<a ui-sref="root.users.resources.administration" up-state-active>Administration</a>-->
        <!--<a ui-sref="root.users.resources.moderation" up-state-active>Modération</a>-->
        <a ui-sref="root.users.resources.upont" up-state-active>uPont</a>
    </div>
</div>

<div ui-view root-state="root.users.resources" autoscroll="false"></div>
