<div class="padded" row="space-between start">
    <div class="btn-group">
        <button
            class="btn btn-primary"
            mwl-date-modifier
            date="calendarDay"
            decrement="calendarView">
            <i class="fa fa-chevron-left"></i>
        </button>

        <button
            class="btn btn-default"
            mwl-date-modifier
            date="calendarDay"
            set-to-today>
            <i class="fa fa-clock-o"></i>
        </button>

        <button
            class="btn btn-primary"
            mwl-date-modifier
            date="calendarDay"
            increment="calendarView">
          <i class="fa fa-chevron-right"></i>
        </button>
    </div>

    <h3 style="margin:0 auto; margin-top: 5px;">
        {{ calendarTitle | ucfirst }}
    </h3>

    <div class="btn-group pull-right">
        <label class="btn btn-primary" ng-class="{'active': calendarView === 'year'}"  ng-click="calendarView = 'year'">
            Année
        </label>
        <label class="btn btn-primary" ng-class="{'active': calendarView === 'month'}" ng-click="calendarView = 'month'">
            Mois
        </label>
        <label class="btn btn-primary" ng-class="{'active': calendarView === 'week'}"  ng-click="calendarView = 'week'">
            Semaine
        </label>
        <label class="btn btn-primary" ng-class="{'active': calendarView === 'day'}"   ng-click="calendarView = 'day'">
            Jour
        </label>
    </div>
</div>

<mwl-calendar
    view="calendarView"
    view-date="calendarDay"
    events="calendarEvents"
    view-title="calendarTitle"
    day-view-start="08:00"
    day-view-end="23:59"
    day-view-split="60"
    auto-open="true">
</mwl-calendar>
