<div class="padded" row="space-between start" wrap>
	<section flex="100" flex-md="66">
		<div class="Ticket">
			<h2>Paniers Fruits et Légumes</h2>

			<p>Les paniers sont à chercher tous les jeudis !</p>
		</div>

        <form ng-submit="post(firstName, lastName, email, phone)" flex="100">
            <section class="Ticket" flex="100">
                <table class="Table Table--center" flex="100">
                    <thead>
                        <tr>
                            <th>Panier</th>
                            <th ng-repeat="day in dates">{{ day.date_retrieve | dvpDate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="basket in baskets">
                            <td>{{ basket.name }} </td>
                            <td ng-repeat="day in dates">
                                <input type="checkbox"
                                       ng-model="basketOrders[basket.slug][day.id]"
                                >
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <div row="end stretch" flex="100">
                <button class="Button">Commander</button>
            </div>
        </form>
	</section>

	<div flex="100" flex-md="33">
        <section class="Ticket">
            <h2>Les paniers</h2>

            <div ng-repeat="item in baskets" flex="100">
                <hr>
                <div class="padded">
                    <h3>{{ item.name }}</h3>
                    <p>{{ item.content }}</p>

                    <div row="end stretch">Prix : {{ item.price }} €</div>
                </div>
            </div>
        </section>

        <section class="Ticket">
            <h2>Mes commandes à venir</h2>

            <div ng-repeat="order in orders | filter:after | orderBy:'date_retrieve'" flex="100">
                <hr>
                <div class="padded">
                    <h3>{{ order.basket.name }}</h3>
                    <p>À retirer le <b>{{ order.date_retrieve.date_retrieve | dvpDate }}</b></p>
                    <p>Payé : {{ order.paid ? 'Oui' : 'Non' }}</p>
                </div>
            </div>
        </section>

        <section class="Ticket">
            <h2>Mes commandes passées</h2>

            <div ng-repeat="order in orders | filter:before | orderBy:'date_retrieve':reverse" flex="100">
                <hr>
                <div class="padded">
                    <h3>{{ order.basket.name }}</h3>
                    <p>À retirer le <b>{{ order.date_retrieve.date_retrieve | dvpDate }}</b></p>
                    <p>Payé : {{ order.paid ? 'Oui' : 'Non' }}</p>
                </div>
            </div>
        </section>
	</div>
</div>
