<div class="padded" row wrap>
    <section class="padded" flex="100" flex-lg="50">
        <section class="Ticket">
            <h2>La Playlist</h2>

            <p>Tu peux dès maintenant voter pour la playlist du Foyer ! Publie un lien YouTube de ce que t'as envie d'écouter.</p>

            <form row wrap ng-submit="post(link)" autocomplete="off">
                <div class="padded" flex="100" flex-md="50">
                    <input class="Input" ng-model="link" placeholder="Du bon gros son" autofocus>
                </div>
                <div class="padded" flex="100" flex-md="50">
                    <button class="Button" flex="100">Envoyer !</button>
                </div>
            </form>
        </section>

        <article class="Ticket" ng-repeat="item in youtube.data">
            <div row>
                <youtube-video video-url="item.url"></youtube-video>
            </div>
            <p ng-if="$root.username == item.user.username || $root.hasClub('foyer')">
                 <a class="Link" title="Supprimer la video" ng-click="delete(item)">Supprimer</a>
            </p>
            <div up-likes objet="item" url="'youtubes/' + item.slug"></div>
        </article>
    </section>

    <section class="padded" flex="100" flex-lg="50">
        <section class="Ticket">
            <h2>Hall Of Fame</h2>

            <p>Ici sont recensés les plus gros buveurs... attention, seuls les méritants <em>(c'est à dire ceux avec un compte Foyer en positif...)</em> pourront rentrer dans ce classement prestigieux !</p>

            <table class="Table" flex="90">
                <thead>
                    <tr>
                        <th><a ng-click="predicate = 'liters'; reverse=!reverse">Litres bus</a></th>
                        <th><a ng-click="predicate = 'user.nick'; reverse=!reverse">Élève</a></th>
                        <th><a ng-click="predicate = 'user.promo'; reverse=!reverse">Promo</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="competitor in stats.hallOfFame | orderBy:predicate:reverse">
                        <td>{{ competitor.liters }}</td>
                        <td><span up-user user="competitor.user">{{ competitor.user.nick }}</span></td>
                        <td>{{ competitor.user.promo }}</td>
                    </tr>
                    <tr ng-hide="stats.hallOfFame">
                        <td>Rien à afficher</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
</div>
