<div class="padded" up-row wrap>
    <div up-col-xs="100%" up-col-sm="100%" up-col-md="100%" up-col="50%">
        <div class="Ticket">
            <h2>La Playlist</h2>

            Tu peux dès maintenant voter pour la playlist du Foyer ! Publie un lien YouTube de ce que t'as envie d'écouter.<br>
            <br>
            <form class="publish-container" ng-submit="post(link)" up-row wrap padded autocomplete="off">
                <input up-col-xs="100%" up-col="50%" ng-model="link" placeholder="Du bon gros son" id="focus-input" />
                <button up-col-xs="100%" up-col="50%" class="up-btn up-btn-default">Envoyer !</button>
            </form>
        </div>

        <div class="Ticket" ng-repeat="item in youtube.data">
            <div up-row center>
                <youtube-video video-url="item.url"></youtube-video>
            </div>
            <div ng-if="$root.me.username == item.user.username || $root.hasClub('foyer')" up-row right padded>
                 <a title="Supprimer la video" ng-click="delete(item)">Supprimer</a><br>
            </div>
            <div up-likes objet="item" url="'youtubes/' + item.slug"></div>
        </div>
    </div>

    <div up-col-xs="100%" up-col-sm="100%" up-col-md="100%" up-col="50%">
        <div class="Ticket">
            <h2>Hall Of Fame</h2>

            Ici sont recensés les plus gros buveurs... attention, seuls les méritants <em>(c'est à dire ceux avec un compte Foyer en positif...)</em> pourront rentrer dans ce classement prestigieux !<br>

            <table class="up-table" up-col="90%">
                <thead>
                    <tr>
                        <th><a ng-click="predicate = 'liters'; reverse=!reverse">Litres bus</a></th>
                        <th><a ng-click="predicate = 'user.nick'; reverse=!reverse">Élève</a></th>
                        <th><a ng-click="predicate = 'user.promo'; reverse=!reverse">Promo</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="competitor in stats.hallOfFame | orderBy:predicate:reverse">
                        <td>{{ competitor.liters }}</td>
                        <td><span up-user user="competitor.user">{{ competitor.user.nick }}</span></td>
                        <td>{{ competitor.user.promo }}</td>
                    </tr>
                    <tr ng-hide="stats.hallOfFame">
                        <td>Rien à afficher</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
