<div class="padded" up-row left wrap>
    <div class="up-assos" up-col="25%" up-col-md="33%" up-col-sm="50%" up-col-xs="100%"
         ui-sref="root.users.assos.simple.presentation({slug: club.slug})"
         ng-repeat="club in clubs" ng-if="club.active">
        <div class="Ticket" style="height: 100%">
            <div up-row space-around>
                <div up-col="40%" class="up-image-container">
                    <div class="up-image" ng-style="{ 'background-image' : 'url({{ club.image_url | thumb | urlFile }})' }"></div>
                </div>
                <div up-col="50%">
                    <h3>{{ club.full_name }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
