<div up-row wrap left ng-if="!club.administration">
    <div up-col="60%" up-col-xs="100%" up-col-sm="100%" up-col-md="100%">
        <div class="Ticket up-assos-container" ng-hide="edit">
            <div up-col="100%" ng-bind-html="presentation">
            </div>
            <div up-col="100%" up-row center ng-if="isAdmin || $root.hasClub(club.slug)">
                <button ng-click="editPresentation()" class="up-btn up-btn-default up-btn-lg">Modifier</button>
            </div>
        </div>

        <div up-row padded wrap class="Ticket" ng-if="edit">
            <div up-col="100%">
                <textarea ng-model="presentation" redactor></textarea>
            </div>
            <div up-col="100%" up-row center>
                <button ng-click="modify(presentation)" class="up-btn up-btn-default up-btn-lg">Envoyer</button>
            </div>
        </div>
    </div>
    <div up-col-xs="100%" up-col-sm="100%" up-col-md="100%" up-col="40%" padded>
        <div class="Ticket centering">
            <h2>Membres - {{ club.full_name }} </h2>

            <table class="up-table" up-col="90%">
                <thead>
                    <tr>
                        <th><a ng-click="predicate = 'user.promo'; reverse=!reverse">Promo</a></th>
                        <th><a ng-click="predicate = 'user.first_name+user.last_name'; reverse=!reverse">Élève</a></th>
                        <th><a ng-click="predicate = 'role'; reverse=!reverse">Rôle</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="member in filtered =  (members | promoFilter: promo | orderBy:predicate:reverse)">
                        <td>{{ member.user.promo }}</td>
                        <td><span up-user user="member.user">{{ member.user.first_name }} {{ member.user.last_name }}</span></td>
                        <td>{{ member.role }}</td>
                    </tr>
                    <tr ng-hide="filtered.length">
                        <td>Rien à afficher</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <select ng-model="promo">
                <option ng-selected="promoItem == promo" ng-repeat="promoItem in $root.promos | reverse"
                        value="{{ promoItem }}">Année '{{ promoItem }}</option>
            </select>
        </div>
    </div>
</div>
