<nav class="Navbar">
    <div class="Navbar__image Image" ng-if="club.banner_url">
        <div class="Image__filler" ng-style="{ 'background-image' : 'url({{ club.banner_url | urlFile }})' }"></div>
    </div>
    <div row>
        <a class="Navbar__link" ui-sref-active="active" ui-sref="root.users.assos.simple.presentation">{{ club.full_name }} <span ng-if="club.full_name !== club.name">({{ club.name }})</span></a>
        <a class="Navbar__link" ui-sref-active="active" ng-if="(isAdmin || $root.hasClub(club.slug) || club.presentation !== undefined) && !club.administration" ui-sref="root.users.assos.simple.publications">Activité</a>
        <a class="Navbar__link" ui-sref-active="active" ng-if="club.slug == 'ki'" ui-sref="root.users.assos.ki">Dépannage</a>
        <a class="Navbar__link" ui-sref-active="active" ng-if="club.slug == 'foyer'" ui-sref="root.users.assos.foyer">C'est TON Foyer</a>
        <a class="Navbar__link" ui-sref-active="active" ng-if="isAdmin || $root.hasClub(club.slug)" ui-sref="root.users.assos.simple.modify">Gestion</a>
    </div>
</nav>

<div class="padded" ui-view up-spinner autoscroll="false"></div>
