// Règles générales sur le body
body {
    margin: 0;
    position: relative;

    overflow-y: scroll;
    word-break: break-word; // Non standard for webkit
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    font-family: 'Open Sans';
    font-size: 16px;
    color: @col-font;

    background-color: @col-bckgnd;
    background-size: auto auto;
}

// Titres
h1 { font-size: 2em;    }
h2 { font-size: 1.5em;  }
h3 { font-size: 1.17em; }
h4 { font-size: 0.83em; }
h5 { font-size: 0.75em; }
h6 { font-size: 0.6em;  }

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.1em;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: @col-ticket-border;
}

a, a:hover, a:visited, a:active, a:focus {
    text-decoration: none;
    outline: none;
}
a, a:hover, a:active, a:focus {
    color: inherit;
}

input, select, textarea {
    outline: none;
}

label {
    font-weight: normal;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}
