/web/bundles/
/web/libs
/web/uploads
/web/maintenance.lock
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/coverage/
/composer.phar
cache
app/SymfonyRequirements.php
app/var/jwt/private.pem
app/var/jwt/public.pem
