/web/bundles/
/web/libs/
/web/uploads/*
!/web/uploads/tests/*
/web/maintenance.lock
/app/spool/*
/build/
/vendor/
/coverage/
/phpdoc/
/app/var/jwt/private.pem
/app/var/jwt/public.pem

/var/*
!/var/cache/
/var/cache/*
!var/cache/.gitkeep
!/var/logs/
/var/logs/*
!var/logs/.gitkeep
!/var/sessions/
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
