/web/bundles/
/web/libs
/web/uploads
/web/maintenance.lock
/app/config/parameters.yml
/app/spool/*
/build/
/vendor/
/coverage/
/composer.phar
/app/var/jwt/private.pem
/app/var/jwt/public.pem

/var/
!var/cache/.gitkeep
!var/logs/.gitkeep
