<section row="end center">
    <div class="Link Link--reverse padded" ng-click="upvote(url);" ng-class="{'Link--active' : objet.like, admissibles : $root.isAdmissible || $root.isExterieur}">
        <i class="fa fa-thumbs-o-up"></i> {{ objet.likes >= 0 ? objet.likes : 0 }}
    </div>

    <div class="Link Link--reverse padded" ng-if="!$root.isExterieur" ng-click="downvote(url);" ng-class="{'Link--active' : objet.dislike, admissibles : $root.isAdmissible || $root.isExterieur}">
        <i class="fa fa-thumbs-o-down"></i> {{ objet.dislikes >= 0 ? objet.dislikes : 0 }}
    </div>

    <div class="Link Link--reverse padded" ng-click="show=!show">
        <i class="fa fa-comment"></i> {{ objet.comments }}
    </div>
</section>

<hr ng-if="(!$root.isAdmissible || comments.length > 0) && show">

<section ng-if="show">
    <!-- Commentaires -->
    <div class="padded" row="start center" ng-repeat="comment in comments | orderBy: date" ng-mouseover="showModify=true" ng-mouseleave="showModify=false">
        <div class="Image  Image--thumb  Image--margin">
            <div class="Image__filler" ng-style="{ 'background-image' : 'url({{ comment.author.image_url | thumb | urlFile }})' }"></div>
        </div>

        <div>
            <strong ng-if="!$root.isExterieur"><span up-user user="comment.author">{{ comment.author.nick }}</span> : </strong>
            <strong ng-if="$root.isExterieur">{{ comment.author.first_name }} {{ comment.author.last_name }} : </strong>

            <span ng-bind-html="comment.text | trustAsHtml"></span><br>

            <footer>
                {{ comment.date | fromNow }}

                <span class="Link  Link--reverse" ng-class="{'Link--active' : comment.like, admissibles : $root.isAdmissible || $root.isExterieur}" ng-click="likeComment(comment)">
                    <i class="fa  fa-thumbs-o-up"></i> {{ comment.likes >= 0 ? comment.likes : 0 }}
                </span>

                <span class="Link  Link--reverse" ng-class="{'Link--active' : comment.dislike, admissibles : $root.isAdmissible || $root.isExterieur}" ng-if="!$root.isExterieur" ng-click="dislikeComment(comment)">
                    <i class="fa  fa-thumbs-o-down"></i> {{ comment.dislikes >= 0 ? comment.dislikes : 0 }}
                </span>

                <span class="Link  Link--reverse" title="Modifier le commentaire" ng-show="comment.author.username == $root.username && showModify" ng-click="modifyComment(comment)">
                    <i class="fa  fa-pencil"></i>
                </span>

                <span class="Link  Link--reverse  Link--danger" title="Supprimer le commentaire" ng-show="comment.author.username == $root.username && showModify" ng-click="deleteComment(comment)">
                    <i class="fa  fa-trash"></i>
                </span>
            </footer>
        </div>
    </div>

    <!-- Publier un commentaire -->
    <form row="space-around center" autocomplete="off" ng-if="!$root.isAdmissible">
        <div class="Image  Image--thumb  Image--margin">
            <div class="Image__filler" ng-style="{ 'background-image' : 'url({{ $root.me.image_url | thumb | urlFile }})' }"></div>
        </div>
            <textarea class="Input" rows="1" ng-model="commentText" placeholder="Ajouter un commentaire" ng-keydown="submitComment($event, commentText) ? commentText = '' : null"></textarea>
    </form>
</section>
