<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <base href="/front/">
    <title>Bienvenue sur uPont</title>
    <link rel="stylesheet" href="style.min.css">
    <link rel="stylesheet" href="libs/fontawesome/css/font-awesome.min.css">

    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-i18n/angular-locale_fr-fr.js"></script>
    <script src="libs/angular-animate/angular-animate.js"></script>
    <script src="libs/angular-sanitize/angular-sanitize.js"></script>
    <script src="libs/angular-strap/dist/angular-strap.min.js"></script>
    <script src="libs/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="libs/angular-resource/angular-resource.min.js"></script>
    <script src="libs/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="libs/angular-jwt/dist/angular-jwt.min.js"></script>
    <script src="libs/moment/min/moment-with-locales.min.js"></script>
    <script src="libs/scheduler/codebase/dhtmlxscheduler.js"></script>
    <script src="libs/scheduler/codebase/locale/locale_fr.js"></script>
    <script src="libs/js-base64/base64.min.js"></script>
    <script src="upont.min.js"></script>
</head>

<body ng-app="upont" ng-class="theme?'theme-dark':'theme-clear'">
    <div class="up-row">
        <div  class="up-col-xs-4 up-col-sm-2 up-row">
            <div ng-if="isLogged" ng-include="'views/misc/aside.html'" class="up-aside up-col-xs-4 up-col-sm-2 "></div>
        </div>
        <div class="up-main-content" ng-class="{'up-col-xs-8 up-col-sm-10':isLogged, 'up-col-xs-12':!isLogged}">
            <header class="up-container up-row">
                <div class="up-col-sm-6 up-col-xs-3">
                    <a class="up-main-title" ui-sref="home"></a>
                </div>
                <div class="up-col-sm-2 up-col-xs-3">
                    <a ng-click="publishModal = !publishModal" ng-show="isAdmin" class="up-navbar-link">Publier</a>
                    <a ui-sref="admin" ui-sref-active="active" class="up-navbar-link" ng-show="isAdmin">Admin</a>
                </div>
                <div class="up-col-sm-3 up-col-xs-3">
                    <a ui-sref="profil" ui-sref-active="active" class="up-navbar-link">
                        <img style="background-image: url('{{ url + me.image_url }}')" class="up-profile-picture" />
                        {{ me.nick }}
                    </a>
                </div>
            </header>
            <div ui-view autoscroll="false" class="up-main-view" up-fill-window ></div>
        </div>
    </div>

    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//upont.enpc.fr/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="//upont.enpc.fr/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
</body>

</html>
