<div class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">×</button>
                <h1>{{ name }}</h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4"><img class="img-responsive" src="{{image_url | urlFile }}" alt=""/></div>
                    <div class="col-sm-8 left">
                        <p>{{ description }}</p>
                        <ul>
                            <li ng-if="type">Type : {{ type }}</li>
                            <li ng-if="size">Taille : {{ size | formatSize }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" ng-click="$hide()" href="{{ lien || '#' }}">Télécharger</a>
                <button class="btn btn-default" ng-click="$hide()">Fermer</button>
            </div>
        </div>
    </div>
</div>