<aside class="up-aside">
    <div class="up-aside-header">
        <div class="centering up-logo">
            <a ng-hide="$root.surprise" class="up-logo-link" ui-sref="root.users.publications.index"></a>
            <a ng-show="$root.surprise" class="up-logo-link pr0n" target="_blank" href="http://www.youporn.com"></a>
        </div>
        <label for="global-search" style="cursor: text">
            <div class="up-searchbar" ng-class="{focused:displaySearch}">
                <i class="fa fa-search"></i>
                <input class="search" type="text" placeholder="Rechercher"
                       ng-change="doSearch(searchValue)" ng-model="searchValue"
                       ng-focus="displaySearch=true" ng-blur="displaySearch=false"
                       ng-init="displaySearch=false;hoverSearch=false" id="global-search"/>
            </div>
        </label>
        <div id="global-search-results" class="up-searchbar-results"
             ng-mouseenter="hoverSearch=true" ng-mouseleave="hoverSearch=false"
             ng-show="(displaySearch || hoverSearch) && (searchResults.posts.length || searchResults.clubs.length || searchResults.files.length || searchResults.users.length || searchResults.courses.length)">
            <div class="up-searchbar-section" up-row ng-if="searchResults.clubs.length">
                <div class="up-searchbar-cell up-searchbar-title" up-col="25%">CLUBS</div>
                <div class="up-searchbar-cell" up-col="75%">
                    <div class="up-searchbar-item" ng-repeat="club in searchResults.clubs | limitTo:4"
                         ui-sref="{{ redirect(club) }}" ng-click="resetSearch()">
                        <img class="up-profil-picture" ng-src="{{ club.image_url | thumb | urlFile}}" alt="Logo de l'assos"/>
                        {{ club.name }}
                    </div>
                </div>
            </div>
            <div class="up-searchbar-section" up-row ng-if="searchResults.users.length">
                <div class="up-searchbar-cell up-searchbar-title" up-col="25%">ÉLÈVES</div>
                <div class="up-searchbar-cell" up-col="75%">
                    <div class="up-searchbar-item" ng-repeat="user in searchResults.users | limitTo:4"
                         ui-sref="{{ redirect(user) }}" ng-click="resetSearch()">
                        <img ng-if="user.image_url" class="up-profil-picture" ng-src="{{ user.image_url | thumb | urlFile}}" alt="Image de profil"/>
                        <i ng-if="!user.image_url" class="fa fa-user"></i>
                        {{user.name}}
                    </div>
                </div>
            </div>
            <div class="up-searchbar-section" up-row ng-if="searchResults.files.length">
                <div class="up-searchbar-cell up-searchbar-title" up-col="25%">PONTHUB</div>
                <div class="up-searchbar-cell" up-col="75%">
                    <div class="up-searchbar-item" ng-repeat="file in searchResults.files | limitTo:4"
                         ui-sref="{{ redirect(file) }}" ng-click="resetSearch()">
                        <img ng-if="file.image_url" class="up-profil-picture" ng-src="{{ file.image_url | thumb | urlFile}}" alt="Image du fichier"/>
                        <i ng-if="!file.image_url" class="fa fa-{{ icon(file) }}"></i>
                        {{ file.name }}
                    </div>
                </div>
            </div>
            <div class="up-searchbar-section" up-row ng-if="searchResults.courses.length">
                <div class="up-searchbar-cell up-searchbar-title" up-col="25%">COURS</div>
                <div class="up-searchbar-cell" up-col="75%">
                    <div class="up-searchbar-item" ng-repeat="course in searchResults.courses | limitTo:4"
                         ui-sref="{{ redirect(course) }}" ng-click="resetSearch()">
                        <i class="fa fa-graduation-cap"></i>
                        {{ course.name }}
                    </div>
                </div>
            </div>
            <div class="up-searchbar-section" up-row ng-if="searchResults.posts.length">
                <div class="up-searchbar-cell up-searchbar-title" up-col="25%">POSTS</div>
                <div class="up-searchbar-cell" up-col="75%">
                    <div class="up-searchbar-item" ng-repeat="post in searchResults.posts | limitTo:4"
                         ui-sref="{{ redirect(post) }}" ng-click="resetSearch()">
                        <img class="up-profil-picture" ng-src="{{ post.image_url | thumb | urlFile}}" alt="Publication"/> {{ post.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="up-aside-middle">
        <div class="up-aside-menu">
            <div><a ui-sref="root.users.publications.index" up-state-active><i class="fa fa-comment"></i> News</a></div>
            <div class="up-invisible-md up-invisible-lg">
                <a ui-sref="root.users.messages" up-state-active><i class="fa fa-comments"></i> Messages</a>
            </div>
            <div><a ui-sref="root.users.calendar" up-state-active><i class="fa fa-calendar"></i> Calendrier</a></div>
            <div><a ui-sref="root.users.assos.list" up-state-active="root.users.assos"><i class="fa fa-thumbs-o-up"></i> Assos</a></div>
            <div><a ui-sref="root.users.students.list" up-state-active="root.users.students" id="link-students"><i class="fa fa-graduation-cap"></i> Élèves</a></div>
            <div><a ui-sref="root.users.resources.courses.list" up-state-active="root.users.resources"><i class="fa fa-suitcase"></i> Ressources</a></div>
            <div><a ui-sref="root.users.ponthub.category.list" up-state-active="root.users.ponthub"><i class="fa fa-film"></i> PontHub</a></div>
            <div ng-if="!$root.isAdmissible">
                <a ui-sref="root.users.students.modify" up-state-active><i class="fa fa-star"></i> Profil</a>
            </div>
            <div ng-if="$root.isAdmin">
                <a ui-sref="root.users.admin.students" up-state-active="root.users.admin"><i class="fa fa-wrench"></i> Zone Admin</a>
            </div>
        </div>

        <hr>

        <div class="up-aside-infos">
            <a ng-if="!$root.isAdmissible" ui-sref="root.users.assos.ki"
               title="Faire une remarque sur uPont">
                <i class="fa fa-bullhorn"></i> Aide-nous et donne ton avis
            </a>
            <div ng-hide="foyer == null"><i class="fa fa-beer"></i> Compte Foyer : {{ foyer }}<i class="fa fa-euro"></i></div>
            <i class="fa fa-child"></i> En ligne :
            <span ng-repeat="user in online">
                <span ng-if="$index < 10" up-user user="user">{{ user.nick }}<span ng-if="$index != online.length-1 && $index < 9">,</span></span>
            </span>
            <span ng-if="online.length > 10">et {{ online.length - 10 }} autre{{ online.length == 11 ? ' utilisateur' : 's utilisateurs' }}.</span>
        </div>
    </div>
    <div class="up-aside-footer">
        <div>
            <span class="unbold" ng-click="$root.switchTheme()" style="cursor: pointer">
                <input type="checkbox" ng-checked="$root.theme == 'dark'">&nbsp;Thème sombre
            </span> - <a ui-sref="root.users.assos.ki" title="Contacter le KI">Help !</a>
        </div>
        <div class="up-version">
            <a target="_blank" href="https://trello.com/b/a7pIk6zk/upont" title="Board Trello de uPont">
                <i class="fa fa-trello"></i>
                uPont {{ version.version }}.{{ version.major }}.{{ version.minor }}
            </a>
            &nbsp;&nbsp;-&nbsp;&nbsp;
            <a ng-click="logout()" title="Se déconnecter">
                <i class="fa fa-sign-out"></i> Déconnexion
            </a><br>

            <a target="_blank" title="Repo GitHub de uPont"
            ng-href="https://github.com/KIClubinfo/upont/commit/{{ version.build }}">
                <i class="fa fa-github"></i> Build {{ version.build }}
            </a>
            ({{ version.date | formatDate }})
        </div>
    </div>
</aside>
