<ons-page ng-controller="LoginController">
    <ons-navigator animation="slide" var="nav">
        <ons-toolbar fixed-style>
            <div class="center">Connexion</div>
        </ons-toolbar>

        <!--<div class="up-logo-container"><svg-image src="images/icon.svg" class="svg up-logo"></svg-image></div>-->

        <form class="login-form" ng-submit="signIn(username, password)">
            <input ng-model="username" type="text" class="text-input--underbar" placeholder="Identifiant" ngMinlength="1" required>
            <input ng-model="password" type="password" class="text-input--underbar" placeholder="Mot de passe" ngMinlength="1" required>
            <br><br>
            <button modifier="large" class="login-button ng-isolate-scope button effeckt-button button--large slide-left" type="submit">Se connecter</button>
            <br><br>
            <ons-button modifier="quiet" class="forgot-password" ng-click="nav.pushPage('reset.html')">Mot de passe oublié ?</ons-button>
        </form>
    </ons-navigator>
</ons-page>

<ons-template id="reset.html">
    <ons-page>
        <ons-toolbar fixed-style>
            <div class="center">Réinitialisation</div>
            <div class="right"><ons-toolbar-button ng-click="nav.popPage()">Retour</ons-toolbar-button></div>
        </ons-toolbar>

        <form class="login-form" ng-submit="reset(username)">
            <input ng-model="username" type="text" class="text-input--underbar" placeholder="Identifiant" ngMinlength="1" required>
            <br><br>
            <button modifier="large" class="login-button ng-isolate-scope button effeckt-button button--large slide-left" type="submit">Réinitialiser</button>
        </form>
    </ons-page>
</ons-template>
