<ons-page ng-controller="MenuController" modifier="menu-page">
    <ons-toolbar modifier="transparent"></ons-toolbar>

    <ons-list class="menu-list">
        <ons-list-item class="menu-item" ng-click="menu.setMainPage('views/events.html', {closeMenu: true})">
            <ons-icon icon="fa-calendar"></ons-icon>
            Événements<!-- <div class="notification menu-notification">3</div>-->
        </ons-list-item>

        <ons-list-item class="menu-item" ng-click="menu.setMainPage('views/news.html', {closeMenu: true})">
            <ons-icon icon="fa-bookmark"></ons-icon>
            News
        </ons-list-item>

        <ons-list-item class="menu-item" ng-click="menu.setMainPage('views/users.html', {closeMenu: true})">
            <ons-icon icon="fa-user"></ons-icon>
            Élèves
        </ons-list-item>
    </ons-list>

    <br>

    <ons-list class="bottom-menu-list">
        <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('views/settings.html', {closeMenu: true})">
            Réglages
        </ons-list-item>
    </ons-list>
</ons-page>
