<ons-page ng-controller="NewsController" data-ng-init="init()">
    <ons-navigator animation="slide" var="nav">
        <ons-toolbar fixed-style>
            <div class="left">
                <ons-toolbar-button ng-click="menu.toggle()">
                    <ons-icon icon="fa-bars" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">News</div>
        </ons-toolbar>

        <ons-pull-hook ng-action="init($done)" var="loader">
            <span ng-switch="loader.getCurrentState()">
                <span ng-switch-when="initial">
                    <ons-icon size="35px" icon="fa-arrow-down"></ons-icon>
                    Tirer pour actualiser
                </span>
                <span ng-switch-when="preaction">
                    <ons-icon size="35px" icon="fa-arrow-up"></ons-icon>
                    Relacher pour actualiser
                </span>
                <span ng-switch-when="action">
                    <ons-icon size="35px" spin="true" icon="fa-spinner"></ons-icon>
                    Chargement...
                </span>
            </span>
        </ons-pull-hook>

        <ons-list class="timeline" modifier="inset">
            <ons-list-item modifier="tappable" ng-repeat="new in news.data.concat(messages.data) | orderBy:'date':true" ng-click="load(new.slug)">
                <ons-row>
                    <ons-col width="50px">
                        <img ng-if="new.name != 'message'" style="background-image: url('{{ url + '/' + new.image_url | thumb }}')" class="image">
                        <img ng-if="new.name == 'message'" style="background-image: url('{{ url + '/' + new.author_user.image_url | thumb }}')" class="image">
                    </ons-col>

                    <ons-col>
                        <div class="date">{{ new.date | readableDate }}</div>
                        <div class="from" ng-if="new.name != 'message'">
                            <span class="name">{{ new.name }}</span>
                            <span class="id">{{ new.author_club.name }}</span>
                        </div>
                        <div class="from" ng-if="new.name == 'message'">
                            <span class="id">{{ new.author_user.nick }}</span>
                        </div>

                        <div class="message">
                            {{ cut(new.text) }}
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>

            <ons-list-item modifier="tappable" ng-click="next()" style="padding: 15px; opacity: 0.8; text-align: center;">
                <ons-row>
                    <ons-col>
                        Charger plus de publications...
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </ons-navigator>
</ons-page>











<ons-template id="new.html">
    <ons-page modifier="shop-details">
        <ons-toolbar fixed-style>
            <div class="left">
                <ons-toolbar-button ng-click="menu.toggle()">
                    <ons-icon icon="fa-bars" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">News</div>
            <div class="right"><ons-toolbar-button ng-click="nav.popPage()">Retour</ons-toolbar-button></div>
        </ons-toolbar>

        <div class="card news" style="background-image: url({{ url + '/' + newItem.image_url }});">
            <div class="name">{{ newItem.name }}</div>
            <div class="desc">
                {{ newItem.date | readableDate }}
            </div>
        </div>

        <div class="card-label">
            <div class="label">
                <ons-icon ng-if="newItem.author_club.icon" icon="fa-{{ newItem.author_club.icon }}"></ons-icon>
                {{ newItem.author_club.name }}
            </div>
        </div>

        <ons-list style="border-top: none"><ons-list-item style="line-height: 1; padding: 0;"><ons-row class="action">
            <ons-col class="action" up-active="newItem.like" ng-click="likeClick()">
                <div class="icon"><ons-icon icon="fa-thumbs-up"></ons-icon></div>
                <div class="label">Like</div> <div class="notification like-badge tab-badge">{{ newItem.likes }}</div>
            </ons-col>

            <ons-col class="action" up-active="newItem.dislike" ng-click="dislikeClick()">
                <div class="icon"><ons-icon icon="fa-thumbs-down"></ons-icon></div>
                <div class="label">Dislike</div> <div class="notification like-badge tab-badge">{{ newItem.dislikes }}</div>
            </ons-col>
        </ons-row></ons-list-item></ons-list>

        <p class="content" ng-bind-html="newItem.text | text"></p>

        <ons-list style="margin-top: 12px;">
            <ons-list-item modifier="chevron" ng-click="loadComments()">
                <div class="desc">
                    <ons-icon icon="fa-comments"></ons-icon>
                    {{ newItem.comments }} commentaire{{ newItem.comments == 1 ? '' : 's' }}
                </div>
            </ons-list-item>
        </ons-list>
    </ons-page>
</ons-template>












<ons-template id="message.html">
    <ons-page>
        <ons-toolbar fixed-style>
            <div class="left">
                <ons-toolbar-button ng-click="menu.toggle()">
                    <ons-icon icon="fa-bars" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">Message</div>
            <div class="right"><ons-toolbar-button ng-click="nav.popPage()">Retour</ons-toolbar-button></div>
        </ons-toolbar>

        <ons-row class="message-content">
            <ons-col width="60px">
                <img class="image" style="background-image: url('{{ url + '/' + newItem.author_user.image_url }}')">
            </ons-col>

            <ons-col>
                <span class="name">{{ newItem.author_user.nick }}</span>
                <span class="desc" ng-bind-html="newItem.text | text"></span>
            </ons-col>
        </ons-row>

        <ons-list><ons-list-item style="line-height: 1; padding: 0;"><ons-row class="action">
            <ons-col class="action" up-active="newItem.like" ng-click="likeClick()">
                <div class="icon"><ons-icon icon="fa-thumbs-up"></ons-icon></div>
                <div class="label">Like</div> <div class="notification like-badge tab-badge">{{ newItem.likes >= 0 ? newItem.likes : 0 }}</div>
            </ons-col>

            <ons-col class="action" up-active="newItem.dislike" ng-click="dislikeClick()">
                <div class="icon"><ons-icon icon="fa-thumbs-down"></ons-icon></div>
                <div class="label">Dislike</div> <div class="notification like-badge tab-badge">{{ newItem.dislikes >= 0 ? newItem.dislikes : 0 }}</div>
            </ons-col>
        </ons-row></ons-list-item></ons-list>

        <ons-list style="margin-top: 12px;">
            <ons-list-item modifier="chevron" ng-click="loadComments()">
                <div class="desc">
                    <ons-icon icon="fa-comments"></ons-icon>
                    {{ newItem.comments }} commentaire{{ newItem.comments == 1 ? '' : 's' }}
                </div>
            </ons-list-item>
        </ons-list>
    </ons-page>
</ons-template>
