.Image {
    position: relative;
    display: block;
    max-width: 100%;

    &:before{
        content: "";
        display: innline-block;
        padding-top: 100%;
    }

    &--portrait:before  { padding-top: 130%; }
    &--landscape:before { padding-top: 55%;  }
    &--fa {
        .huge;
        text-align: center;
        padding-top: 20px;
    }

    &__filler {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    &--thumb {
        min-width: 40px;
    }

    &--margin {
        margin-right: 0.5em;
    }

    &--round {
        border-radius: 50%;
    }

    &--radius {
        border-radius: 0.5em;
    }

    &--grey {
        filter: grayscale(1);
        transition: all 0.4s ease-in-out 0s;

        &:hover {
            filter: grayscale(0);
        }
    }
}
