.Media {
    color: @col-font;
    background: @col-ticket;

    &--main {
        color: white;
        background: @col-main;
    }

    &--alt {
        color: white;
        background: gray;
    }

    &--radius {
        border-radius: 0.5em;
    }
}
