<!-- <div class="col-md-3 col-xs-12" ng-repeat-start="matiere in matieres">
    <div class="up-ticket">
        <h1>{{ matiere.nom }}</h1>
        <ul>
            <li ng-repeat="fichier in matiere.fichiers"><a href="{{ '/api/exercices/'+fichier.slug+'/download' }}" class="up-ticket-link">{{ fichier.name }}</a></li>
        </ul>
    </div>
</div> -->
<div class="up-row">
    <div class="up-col-md-3 up-col-xs-12" ng-repeat="exercice in exercices">
        <div class="up-ticket ">
            <h1>{{ exercice.name }}</h1>
            <h3>Publié par {{exercice.uploader.first_name+' '+exercice.uploader.last_name}}</h3>
            <a href="{{'/api/exercices/'+exercice.slug+'/download'}}">Télécharger</a>
        </div>
    </div>
    <div ng-if="!exercices.length" class="up-col-xs-12">
        <div class="up-ticket">
            <h1>Pas d'annales à afficher</h1>
        </div>
    </div>
</div>
