<div class="up-column up-zone-picker up-ticket">
    <div class="up-zp-image"><img src="img/cours.jpg" />
    </div>
    <div class="up-row left">
        <a ui-sref="root.zone_eleves.cours.section({section: '1a'})" up-state-active="root.cours.section" up-state-active-params="{section: '1a'}">1A</a>
        <a ui-sref="root.zone_eleves.cours.section({section: 'gcc'})" up-state-active="root.cours.section" up-state-active-params="{section: 'gcc'}">GCC</a>
        <a ui-sref="root.zone_eleves.cours.section({section: 'gi'})" up-state-active="root.cours.section" up-state-active-params="{section: 'gi'}">GI</a>
        <a ui-sref="root.zone_eleves.cours.section({section: 'gmm'})" up-state-active="root.cours.section" up-state-active-params="{section: 'gmm'}">GMM</a>
        <a ui-sref="root.zone_eleves.cours.section({section: 'segf'})" up-state-active="root.cours.section" up-state-active-params="{section: 'segf'}">SEGF</a>
        <a ui-sref="root.zone_eleves.cours.section({section: 'imi'})" up-state-active="root.cours.section" up-state-active-params="{section: 'imi'}">IMI</a>
        <a ui-sref="root.zone_eleves.cours.section({section: 'vet'})" up-state-active="root.cours.section" up-state-active-params="{section: 'vet'}">VET</a>
        <a ui-sref="root.zone_eleves.cours.section({section: 'autres'})" up-state-active="root.cours.section" up-state-active-params="{section: 'autres'}">Autres</a>
    </div>
</div>

<div uig-view root-state="root.cours" autoscroll="false"></div>
