@import '../css-themes/themes/classic.less';

.Loading {
    width: 50%;
    margin: auto;
    padding: 100px;

    &__image {
        height: 200px;
        width: 200px;
        display: block;
        margin: auto;
    }

    &__element {
        text-align: center;
    }
}