<!doctype html>
<html lang="en" ng-app="upont" ng-controller="MainController">
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <title>uPont Mobile</title>

        <link rel="stylesheet" href="libs/onsenui/build/css/onsenui.css">
        <link rel="stylesheet" href="styles/onsen-light-theme.min.css" ng-if="!$root.dark">
        <link rel="stylesheet" href="styles/light-theme.min.css" ng-if="!$root.dark">
        <link rel="stylesheet" href="styles/onsen-dark-theme.min.css" ng-if="$root.dark">
        <link rel="stylesheet" href="styles/dark-theme.min.css" ng-if="$root.dark">

        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="PushNotification.js"></script>

        <script type="text/javascript" src="libs/angular/angular.min.js"></script>
        <script type="text/javascript" src="libs/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="libs/onsenui/build/js/onsenui.min.js"></script>
        <script type="text/javascript" src="libs/moment/min/moment-with-locales.min.js"></script>
        <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="libs/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>

        <script src="upont.min.js"></script>
    </head>

    <body>
        <ons-sliding-menu
            menu-page="views/menu.html" main-page="views/events.html" side="left"
            var="menu" type="reveal" max-slide-distance="260px" swipable="true">
        </ons-sliding-menu>
    </body>
</html>
