<nav up-panel title="Filtres" row wrap>
    <div class="padded" flex="100">
        <i class="fa  fa-block  fa-volume-up"></i> Bande son
    </div>
    <div class="padded" flex="100">
            <input type="checkbox" ng-model="filters.vo">&nbsp;VO
    </div>
    <div class="padded" flex="100">
            <input type="checkbox" ng-model="filters.vost">&nbsp;VOST
    </div>
    <div class="padded" flex="100">
            <input type="checkbox" ng-model="filters.vf">&nbsp;VF
    </div>

    <div class="padded" flex="100">
        <i class="fa  fa-block  fa-television"></i> Qualité vidéo
    </div>
    <div class="padded" flex="100">
            <input type="checkbox" ng-model="filters.hd">&nbsp;HD
    </div>
</nav>

<section row wrap class="Ticket" infinite-scroll="next()" infinite-scroll-distance="3" infinite-scroll-disabled="$root.infiniteLoading">
        <div class="padded" col="start center" ng-class="{ 'flex-100pct flex-sm-50pct flex-md-33pct': category == 'jeux', 'flex-50pct flex-sm-33pct flex-md-25pct flex-lg-20pct': category != 'jeux'}"  ng-repeat="element in (filteredElements = (elements.data | filter : ponthubFilter))">
        <div class="Ticket  Ticket--nopadding Ticket--shadow  Ticket--link" flex="100"
             title="{slug: element.name}"
             ui-sref="root.users.ponthub.category.simple({slug: element.slug})">
            <div class="Image  clickable"
                 ng-class="{'Image--portrait': category == 'films' || category == 'series', 'Image--landscape': category == 'jeux'}" >
                <div class="Image__filler" ng-style="{ 'background-image' : 'url({{ element.image_url | urlFile }})' }" ng-if="element.image_url"></div>
                <div class="Image__filler  Image--fa  fa  {{ icon }}" ng-if="!element.image_url"></div>
            </div>


            <!-- Eventuels ribbons -->
            <up-ribbon class="Ribbon--yellow  Ribbon--ponthub" ng-if="popular(element.downloads) && element.added < lastWeek">POPULAIRE</up-ribbon>
            <up-ribbon class="Ribbon--violet  Ribbon--ponthub" ng-if="element.added > lastWeek && !popular(element.downloads)">NOUVEAU</up-ribbon>
            <up-ribbon class="Ribbon--red     Ribbon--ponthub" ng-if="element.added > lastWeek && popular(element.downloads)">HOT</up-ribbon>
        </div>
        <h3 class="text-center">{{ element.name }}</h3>
    </div>
    <div ng-if="!elements.data.length">
        <h2>Il n'y a rien dans cette section...</h2>
        <p>Ajoute des demandes aux jardiniers pour corriger cela !</p>
    </div>
</section>
