<article class="Ticket" col="start center">
    <header class="clickable" flex="100" col="start center" ng-click="showPresentation=!showPresentation">
        <div class="Image" flex="25">
            <div class="Image--filler" ng-style="{ 'background-image' : 'url({{ club.image_url | thumb | urlFile }})' }"></div>
        </div>
        <h2 class="padded">{{ club.full_name }}</h2>
    </header>

    <p class="wysiwyg-data" ng-show="showPresentation" ng-if="club.presentation !== undefined" ng-bind-html="club.presentation"></p>
    <p ng-show="showPresentation" ng-if="club.presentation === undefined"><em>{{ club.assos ? 'Cette asso' : 'Ce club' }} n'a pas encore fourni de présentation</em></p>
</article>
