<div class="padded" row="space-between start" wrap>
    <section flex="100" flex-md="66">
        <div class="Ticket">
            <h2>Paniers Fruits et Légumes</h2>

            <p>Les paniers sont à chercher tous les jeudis !</p>
        </div>

        <form ng-submit="post(firstName, lastName, email, phone)" flex="100">
            <section class="Ticket" flex="100">
                <table class="Table Table--center" flex="100">
                    <thead>
                    <tr>
                        <th>Panier</th>
                        <th ng-repeat="day in thursdays">{{ day.format('ddd DD MMM YYYY') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="basket in baskets">
                        <td>{{ basket.name }}</td>
                        <td ng-repeat="day in thursdays">
                            <input type="checkbox"
                                   ng-model="basketOrders[basket.slug][day.format('YYYY-MM-DD')].ordered"
                                   ng-disabled="basketOrders[basket.slug][day.format('YYYY-MM-DD')].disabled"
                            >
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>

            <section class="Ticket" flex="100">
                <h3>Informations personnelles</h3>
                <br>

                <div row wrap>
                    <div class="padded" flex="50" flex-md="25">
                        Prénom
                    </div>
                    <div class="padded" flex="50" flex-md="25">
                        <input class="Input" type="text" ng-model="firstName">
                    </div>

                    <div class="padded" flex="50" flex-md="25">
                        Nom
                    </div>
                    <div class="padded" flex="50" flex-md="25">
                        <input class="Input" type="text" ng-model="lastName">
                    </div>

                    <div class="padded" flex="50" flex-md="25">
                        Email
                    </div>
                    <div class="padded" flex="50" flex-md="25">
                        <input class="Input" type="text" ng-model="email" placeholder="prenom.nom@eleves.enpc.fr">
                    </div>

                    <div class="padded" flex="50" flex-md="25">
                        Téléphone
                    </div>
                    <div class="padded" flex="50" flex-md="25">
                        <input class="Input" type="text" ng-model="phone"
                               placeholder="06.xx.xx.xx.xx, +336.xx.xx.xx.xx">
                    </div>
                </div>

            </section>

            <div row="end stretch" flex="100">
                <button class="Button">Commander</button>
            </div>
        </form>
    </section>

    <div flex="100" flex-md="33">
        <section class="Ticket">
            <h2>Les paniers</h2>

            <div ng-repeat="item in baskets" flex="100">
                <hr>
                <div class="padded">
                    <h3>{{ item.name }}</h3>
                    <p>{{ item.content }}</p>

                    <div row="end stretch">Prix : {{ item.price }} €</div>
                </div>
            </div>
        </section>

        <section class="Ticket">
            <form ng-submit="loadOrders(email)" class="padded">
                <p>Entre ton email pour voir tes commandes.</p>
                <input class="Input" type="text" ng-model="email" placeholder="prenom.nom@eleves.enpc.fr"/>
                <br><br>
                <div row="end stretch" flex="100">
                    <button class="Button">Chercher</button>
                </div>
            </form>
        </section>

        <section class="Ticket">
            <h2>Mes commandes à venir</h2>

            <div ng-repeat="order in orders | filter:after | orderBy:'date_retrieve'" flex="100">
                <hr>
                <div class="padded">
                    <h3>{{ order.basket.name }}</h3>
                    <p>À retirer le <b>{{ order.date_retrieve.format('dddd DD MMMM YYYY') }}</b></p>
                    <p>Payé : {{ order.paid ? 'Oui' : 'Non' }}</p>
                </div>
            </div>
        </section>

        <section class="Ticket">
            <h2>Mes commandes passées</h2>

            <div ng-repeat="order in orders | filter:before | orderBy:'date_retrieve':reverse" flex="100">
                <hr>
                <div class="padded">
                    <h3>{{ order.basket.name }}</h3>
                    <p>À retirer le <b>{{ order.date_retrieve.format('dddd DD MMMM YYYY') }}</b></p>
                    <p>Payé : {{ order.paid ? 'Oui' : 'Non' }}</p>
                </div>
            </div>
        </section>
    </div>
</div>

