<div class="padded" wrap>
	<section flex="100">
		<article class="Ticket">
			<h1>Paniers fruits et légumes</h1>

			<p>Les paniers fruits et légumes sont disponibles tous les jeudis dans le local de Dévelop'Ponts</p>
		</article>

		<section row wrap ng-if="!ordering">
			<div class="Ticket" ng-repeat="item in baskets" flex="100" flex-md="50">
				<h3>{{ item.name }}</h3>
				<p>{{ item.content }}</p>
				<div row="end stretch">Prix : {{ item.price }} €</div>
			</div>

			<div row="end stretch" flex="100">
	        	<button class="Button" ng-click="order()">Commander</button>
	        </div>
		</section>

		<form ng-show="ordering" ng-submit="post(firstName, lastName, email, phone)" flex="100" row wrap>
			<section class="Ticket" flex="100" flex-md="50" ng-repeat="day in thursdays track by $index">
				<h3>Jeudi {{ day.getDate() }} {{ months[day.getMonth()] }} {{ day.getFullYear() }}</h3>

				<br>
				<div ng-repeat="item in baskets">
					<input type="checkbox" value="item.slug" ng-model="basketOrders[$parent.$index][$index]"> {{ item.name }} <i>({{ item.price }} €)</i></input><br>
				</div>
			</section>


	        <section class="Ticket" flex="100">
	        	<h2>Informations personnelles</h2>
	        	<br>

	        	<article row wrap>
		        	<div class="padded" flex="50" flex-md="25">
	            		Prénom
	        		</div>
			        <div class="padded" flex="50" flex-md="25">
			            <input class="Input" type="text" ng-model="firstName">
			        </div>

			        <div class="padded" flex="50" flex-md="25">
	            		Nom
	        		</div>
			        <div class="padded" flex="50" flex-md="25">
			            <input class="Input" type="text" ng-model="lastName">
			        </div>

			        <div class="padded" flex="50" flex-md="25">
	            		Email
	        		</div>
			        <div class="padded" flex="50" flex-md="25">
			            <input class="Input" type="text" ng-model="email" placeholder="prenom.nom@eleves.enpc.fr">
			        </div>

			        <div class="padded" flex="50" flex-md="25">
	            		Téléphone
	        		</div>
			        <div class="padded" flex="50" flex-md="25">
			            <input class="Input" type="text" ng-model="phone" placeholder="06.xx.xx.xx.xx, +336.xx.xx.xx.xx">
			        </div>
			    </article>

	        </section>

			<div row="end stretch" flex="100">
	        	<button class="Button">Commander</button>
	        </div>
		</form>
	</section>
</div>
