<div class="Page__landing" col="space-between stretch">
    <header row="space-around stretch">
        <div flex="45" flex-md="20">
        </div>
        <div flex="45" flex-md="20" col>
            <a class="Button" ui-sref="root.public.assos" title="La vie associative des Ponts">
               <strong>Clubs &amp; assos</strong>
           </a>
        </div>
    </header>
    <div col="center stretch" class="Page__landing--public">
        <section flex="100" flex-sm="85" flex-md="70" flex-lg="60" row="center stretch" wrap>
            <aside class="Page__landing--left padded" flex="100" flex-sm="35">
                <div row="center stretch">
                    <svg-image flex="40" src="img/icon.svg" class="svg up-logo"></svg-image>
                </div>
                <section class="padded  small">
                    <h1>Bienvenue sur uPont</h1>
                    <p>uPont est l'intranet étudiant de l'École des Ponts ParisTech.</p>
                </section>
            </aside>
            <section class="Page__landing--right padded" flex="100" flex-sm="65">
                <h1 class="padded">Connecte-toi !</h1>
                <form class="padded" row wrap ng-submit="login(pseudo, password)" autocomplete="off" ng-if="formLogin">
                    <div class="padded" flex="100">
                        <input class="Input" ng-model="pseudo" type="text" placeholder="Identifiant DSI" autofocus>
                    </div>
                    <div class="padded" flex="100">
                        <input class="Input" ng-model="password" type="password" placeholder="Mot de passe" />
                    </div>
                    <div class="padded" flex="100" row="end stretch">
                        <button class="Button" flex="50" title="Se connecter">
                            Connecte-toi !
                        </button>
                    </div>
                </form>
                <div class="padded" row wrap autocomplete="off" ng-if="!formLogin">
                    <div class="padded" flex="100" row="end stretch">
                        <button class="Button" flex="50" title="Se connecter" ng-click="login('sso', 'sso')" >
                            Connexion SSO
                        </button>
                    </div>
                </div>
                <footer class="padded" flex="100" row="end stretch">
                    <a class="Link  Link--reverse" title="Connexion par formulaire"
                       ng-click="switchLoginMethod()"
                       ng-if="!formLogin"
                    >
                        Connexion directe
                    </a>
                    <a class="Link  Link--reverse" title="Connexion par SSO CAS des Ponts"
                       ng-click="loginSSO()"
                       ng-if="formLogin"
                    >
                        Connexion SSO (beta)
                    </a>
                    &nbsp;&nbsp;-&nbsp;&nbsp;
                    <a class="Link  Link--reverse" title="Réinitialiser le mot de passe" ui-sref="root.request">Mot de passe oublié ?</a>
                </footer>
            </section>
        </section>
    </div>
</div>
