<section row="center center" class="padded">
    <div class="Ticket" flex="100" flex-md="50">
        <h2 flex="100" class="padded  text-center">Réinitialisation</h2>
        <p class="padded">
            Tu peux maintenant choisir un nouveau mot de passe. Essaye de ne pas l'oublier cette fois ;-)
        </p>

        <form row="start center" wrap ng-submit="reset(password, check)">
            <div class="padded" flex="100">
                <input class="Input" ng-model="password" type="password" placeholder="Mot de passe" autofocus>
            </div>
            <div class="padded" flex="100">
                <input class="Input" ng-model="check" type="password" placeholder="Confirmation">
            </div>

            <div class="padded" flex="100" row="center stretch">
                <button class="Button" flex="100" flex-md="33">Modifier le mot de passe</button>
            </div>
        </form>
    </div>
</section>
