<main class="full-height  padded" col="center center">
    <div class="padded" flex="100" flex-md="70" row="center center" wrap>
        <aside class="padded" flex="100" flex-md="60">
            <h1>Réinitialisation</h1>
            <p>Tu peux maintenant choisir un nouveau mot de passe. Essaye de ne pas l'oublier cette fois ;-)</p>
        </aside>
        <section class="padded" flex="100" flex-md="40">
            <form row wrap ng-submit="reset(password, check)" autocomplete="off">
                <div class="padded" flex="100">
                    <input class="Input" ng-model="password" type="password" placeholder="Mot de passe" autofocus>
                </div>
                <div class="padded" flex="100">
                    <input class="Input" ng-model="check" type="password" placeholder="Confirmation">
                </div>
                <div class="padded" flex="100">
                    <button class="Button" title="Réinitialiser le mot de passe">Modifier le mot de passe</button>
                </div>
            </form>
        </section>
    </div>
</main>
