<div up-row ng-if="!isExterieur" class="up-page-publication">
    <div up-col-md="60%" up-col-lg="60%" up-col="100%">
        <div ng-include="'views/users/publications/post.html'"></div>
        <div ng-include="'views/users/publications/list.html'" class="transition"></div>
    </div>

    <div class="up-invisible-sm up-invisible-xs" up-col-md="40%" up-col-lg="40%">
        <div ng-if="!$root.isAdmissible" class="up-ticket centering">
            <div up-row center>
                <div class="btn-group pull-right">
                    <label class="btn btn-primary" ng-click="today()">Aujourd'hui</label>
                    <label class="btn btn-primary" ng-click="tomorrow()">Demain</label>
                </div>
            </div>

            <div up-row center>
                <mwl-calendar
                    style="width:100%"
                    view="calendarView"
                    current-day="calendarDay"
                    events="calendarEvents"
                    view-title="calendarTitle"
                    day-view-start="08:00"
                    day-view-end="23:00"
                    day-view-split="60"
                    on-event-click="eventClicked(calendarEvent)"
                    on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                    edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                    delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                    on-edit-event-click="eventEdited(calendarEvent)"
                    on-delete-event-click="eventDeleted(calendarEvent)"
                    auto-open="true">
                </mwl-calendar>
            </div>
        </div>

        <div ng-if="$root.isAdmissible" class="up-ticket centering">
            <h3>Ceci est uPont, l'intranet des Ponts !</h3>
            <p class="justify">
                Cher admissible, tu as le privilège de pouvoir accéder à ce site !<br>
                Ainsi, tu pourras parcourir la plupart des pages et explorer les nombreuses fonctionnalités de uPont (en lecture seule, tout de même).<br>
                Regarde notamment les news et le calendrier pour te tenir au courant des événements durant ta série d'oraux !<br>
                <br>
                Sache aussi qu'il y a aussi une application Android (réservée aux élèves), bientôt disponible sur iOS et Windows Phone...
            </p>
        </div>

        <div ng-include="'views/users/publications/post-messages.html'"></div>
        <div ng-include="'views/users/publications/list-messages.html'"></div>
    </div>
</div>

<div ng-if="$root.isExterieur" ng-include="'views/users/administration.html'"></div>
