<div ng-controller="Publications_List_Ctrl" ng-inject="{events: events, newsItems: newsItems}">
    <div infinite-scroll="next()" infinite-scroll-distance="2" infinite-scroll-disabled="$root.infiniteLoading">
        <div class="up-ticket divided rounded-top" ng-class="'color{{ publication.slug.length%5+1 }}'" ng-repeat="publication in events.data | concat: newsItems.data | orderBy: 'date' | reverse">
            <div class="up-ticket-header">
                <div class="up-img-home" ng-style="{'background-image': 'url({{ publication.image_url | urlFile }})'}" ></div>
                <div class="background" ng-style="{'background': 'linear-gradient(to bottom , transparent, rgba(0, 0, 0, 0.6)), url({{ publication.author_club.image_url | urlFile }}) no-repeat center center'}"></div>
            </div>
            <div class="up-ticket-body">
                <div class="up-news-icon">
                    <i class="fa fa-{{ publication.author_club.icon ? publication.author_club.icon : 'envelope'}}"></i>
                </div>
                <div up-row space-between>
                    <div class="up-ticket-title">
                        <h1>{{ publication.name }}</h1>
                    </div>
                    <div class="up-ticket-date">
                        <h2 style="margin:0">
                            &nbsp;<i ng-show="$root.hasRight(publication.author_club.slug)"
                                     class="fa fa-trash up-clickable up-delete-button"
                                     ng-click="delete(publication)"></i>
                        </h2>
                        <span class="up-invisible-xs">{{ publication.date*1000 | date : 'd MMMM yyyy' }}</span>
                        <span class="up-invisible-sm up-invisible-md up-invisible-lg">{{ publication.date*1000 | date : 'd/mm/yyyy' }}</span><br>
                    </div>
                </div>
                <div up-row space-between class="up-ticket-title">
                    <a ui-sref="root.users.assos.simple.publications({slug: publication.author_club.slug})"
                    title="Lien vers la page du club">
                        Par {{ publication.author_club.name }}
                    </a>

                    <a class="up-shotgun-link" title="Lien vers la page de shotgun"
                    ng-if="publication.start_date && publication.entry_method == 'Shotgun'"
                    ui-sref="root.users.shotgun({slug: publication.slug})"
                    ng-class="{admissibles : $root.isAdmissible}">
                        Shotgun : {{ publication.shotgun_date | formatDate }}
                    </a>
                </div>
                <p ng-if="publication.start_date">
                    <strong>Début :</strong> {{ publication.start_date | formatDate }}<br>
                    <strong>Fin :</strong> {{ publication.end_date | formatDate }}<br>
                    <a title="Afficher les participants"
                       ng-show="publication.attendees > 0"
                       ng-click="showAttendees(publication)">
                        {{ publication.attendees }}
                        {{ publication.attendees == 1 ? 'personne y participe' : 'personnes y participent' }}
                    </a>
                </p>
                <p up-publi-text string="publication.text"></p>
                <div ng-if="publication.start_date && !publication.shotgun_date" up-row right>
                    <span class="up-likes up-clickable" ng-click="attend(publication)" ng-class="{active : publication.attend, admissibles : $root.isAdmissible}">
                        <i class="fa fa-check"></i> {{ publication.attend ? 'Ne pas participer' : 'Participer' }}
                    </span>
                    &nbsp;&nbsp;&nbsp;
                    <span class="up-likes up-clickable" ng-click="pookie(publication)" ng-class="{active : publication.pookie, admissibles : $root.isAdmissible}">
                        <i class="fa fa-times"></i> Masquer
                    </span>
                </div>
                <div up-likes objet="publication"
                     url="(publication.start_date ? 'events/' : 'newsitems/') + publication.slug"></div>
            </div>
        </div>
    </div>
</div>
