<div ng-controller="Publications_Post_Messages_Ctrl" class="up-publish up-ticket" ng-if="!$root.isAdmissible">
    <form class="publish-container" ng-submit="post(msg, postPicture)" up-row wrap right autocomplete="off">
        <div up-col="100%" class="bottom-box-container">
            <textarea ng-focus="focus=true" ng-init="focus=false" ng-model="msg.text"
                      placeholder="Quoi de neuf ?" msd-elastic></textarea>

            <!-- Toolbar du bas -->
            <div class="type-container" ng-show="focus">
                <div style="float: right">
                    <!-- Ajout d'une image -->
                    <div class="type fileupload" ng-class="{active: postPicture.filename}">
                        <span><i class="fa fa-file-image-o"></i> {{ postPicture.filename ? postPicture.filename : 'Image' }}</span>
                        <input type="file" ng-model="postPicture" base-sixty-four-input>
                    </div>
                    <button class="up-btn up-btn-default">Publier !</button>
                </div>
            </div>
        </div>
    </form>
</div>
