<div class="up-ticket" ng-hide="event.entry_method != 'Shotgun'">
    <h1>{{ event.name }} - Shotgun - {{ event.shotgun_date | formatDate }}</h1>

    <!-- Si on a pas shotgunné -->
    <div ng-hide="shotgunned || shotgun.position" class="up-shotgun centering" up-row wrap left>
        <div up-col-xs="100%" up-col-sm="100%" up-col="50%" class="status">
            <p><i class="fa fa-bolt"></i></p>
            <p>Shotgun !<br>
            (attention, uPont ne soigne pas le shotgun précoce)</p>
        </div>

        <div up-col-xs="100%" up-col-sm="100%" up-col="50%">
            <form ng-submit="shotgunEvent()" class="center" autocomplete="off">
                <textarea placeholder="Ta motivation ici" rows="5"
                ng-model="motivation" ngMinlength="1" required></textarea>
            </form>
            <br>
            <button class="up-btn up-btn-lg up-btn-default" ng-click="shotgunEvent()">Shotgunner !</button>
        </div>
    </div>

    <!-- Si on a shotgunné -->
    <div ng-show="shotgunned || shotgun.position" class="up-shotgun centering" up-row wrap left>

        <!-- Si le shotgun a réussi -->
        <div ng-hide="!shotgun.status" up-col="100%" class="status">
            <p><i class="fa fa-smile-o"></i></p>
            <p>Shotgun réussi !<br>
            Tu arrives en {{ shotgun.position | formatPosition }} position !<br>
            Un petit mot de la part de l'organisateur :<br><br>
            {{ shotgun.shotgunText }}</p>
            <button class="up-btn up-btn-lg up-btn-primary" ng-click="deleteShotgun()">Annuler le shotgun</button>
        </div>

        <!-- Si le shotgun a été fait trop tôt -->
        <div ng-hide="shotgun.status || shotgun.position != 0" up-col-xs="100%" up-col-sm="100%" up-col="50%" class="status">
            <p><i class="fa fa-frown-o"></i></p>
            <p>Shotgun raté !<br>
            En voulant aller trop vite, tu as répondu trop tôt...</p>
        </div>

        <!-- Si on arrive sur liste d'attente -->
        <div ng-hide="shotgun.status || shotgun.position === 0" up-col="100%" class="status">
            <p><i class="fa fa-meh-o"></i></p>
            <p>Shotgun raté !<br>
            Tu n'as pas répondu à temps, mais tu es quand même en {{ shotgun.waitingList | formatPosition }} position sur la liste d'attente.</p>
            <button class="up-btn up-btn-lg up-btn-primary" ng-click="deleteShotgun()">Annuler le shotgun</button>
        </div>
    </div>
</div>

<div class="up-ticket" ng-show="shotgun.success">
    <h1>Résultats de ce shotgun</h1>

    <div up-row wrap left>
        <div up-col="100%">
            <h2>Réussites</h2>

            <table class="up-table" up-col="90%">
                <thead ng-show="shotgun.success.length">
                    <tr>
                        <th>Place</th>
                        <th>Personne</th>
                        <th>Décalage</th>
                        <th>Motivation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in shotgun.success">
                        <td># {{ $index+1 }}</td>
                        <td>{{ item.user.first_name }} {{ item.user.last_name }}</td>
                        <td>+{{ item.date - event.shotgun_date | formatDuration }}</td>
                        <td>{{ item.motivation }}</td>
                    </tr>
                    <tr ng-hide="shotgun.success.length">
                        Aucune personne à afficher.
                    </tr>
                </tbody>
            </table>
        </div>
        <div up-col="100%">
            <h2>Liste d'attente</h2>

            <table class="up-table" up-col="90%">
                <thead ng-show="shotgun.fail.length">
                    <tr>
                        <th>Place</th>
                        <th>Personne</th>
                        <th>Décalage</th>
                        <th>Motivation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in shotgun.fail">
                        <td># {{ $index+1 }}</td>
                        <td>{{ item.user.first_name }} {{ item.user.last_name }}</td>
                        <td>+{{ item.date - event.shotgun_date | formatDuration }}</td>
                        <td>{{ item.motivation }}</td>
                    </tr>
                    <tr ng-hide="shotgun.fail.length">
                        Aucune personne à afficher.
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="up-ticket" ng-show="event.entry_method != 'Shotgun'">
    <h1>Impossible de shotgunner cet event !</h1>
</div>

<div class="up-ticket">
    <h1>Classement des meilleurs shotgunners</h1>

    <p>À venir...</p>
</div>
