<main class="padded">
    <section class="Ticket  text-center">
        <h1>La vie associative aux Ponts</h1>

        <p class="padded">
            Être étudiant aux Ponts, c'est être entouré et participer à des myriades de clubs et activités.<br>
            Il n'y a pas de place pour l'ennui ! Tout le monde y trouve son compte : il y a des clubs pour tout.<br><br>

            À leur tête, les assos, justement.<br>
            C'est le summum pour s'impliquer au quotidien dans la vie étudiante des Ponts.<br>
            Ci-dessous, une présentation de chaque asso et de chaque club de l'école...
        </p>
        <p>
            <strong>Clique sur une assos / un club pour voir ce qu'il fait !</strong>
        </p>
    </section>

    <h2 flex="100" class="padded  text-center">Associations</h2>

    <div row wrap>
        <div class="padded" flex="100" flex-md="50" row ng-repeat="club in assos" ng-if="$index%2 === 0 && club.active && !club.administration">
            <div flex="100" ng-include="'controllers/public/assos-simple.html'"></div>
        </div>
        <div class="padded" flex="100" flex-md="50" row ng-repeat="club in assos" ng-if="$index%2 === 1 && club.active && !club.administration">
            <div flex="100" ng-include="'controllers/public/assos-simple.html'"></div>
        </div>
    </div>

    <h2 flex="100" class="padded  text-center">Clubs</h2>

    <div row wrap>
        <div class="padded" flex="100" flex-md="50" row ng-repeat="club in clubs" ng-if="$index%2 === 0 && club.active && !club.administration">
            <div flex="100" ng-include="'controllers/public/assos-simple.html'"></div>
        </div>
        <div class="padded" flex="100" flex-md="50" row ng-repeat="club in clubs" ng-if="$index%2 === 1 && club.active && !club.administration">
            <div flex="100" ng-include="'controllers/public/assos-simple.html'"></div>
        </div>
    </div>
</main>
