<div class="up-ticket">
    <div up-row wrap padded>
        <!-- Stacked columns des plus gros downloaders -->
        <up-chart up-col="100%" config="chartDownloaders"></up-chart>
        <!-- Histogramme drilldown des plus gros fichiers téléchargés -->
        <up-chart up-col="100%" config="chartDownloads"></up-chart>
        <!-- Répartition stackée des téléchargements par promo au cours du temps -->
        <!-- <up-chart up-col="100%" config="chartTimeline"></up-chart>
        <!-- Tree map des fichiers dispos -->
        <up-chart up-col-xs="100%" up-col-sm="100%" up-col-md="100%" up-col="50%" config="chartPonthub"></up-chart>
        <!-- Pyramide des années (films, jeux) -->
        <up-chart up-col-xs="100%" up-col-sm="100%" up-col-md="100%" up-col="50%" config="chartYears"></up-chart>
    </div>
</div>
