<div class="up-admissibles-intro">
    <div class="up-admissibles-banner">
        <div class="up-admissibles-banner-overlay"></div>
        <img src="img/admissibles/5.jpg" alt=""/>
        <div class="up-admissibles-banner-text">
            <div class="up-admissibles-banner-logo up-clickable" ng-click="goTo('bienvenue')">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <h1>Espace Admissibles</h1>
        </div>
    </div>
    <div class="up-admissibles-intro-text">
        <h1 class="up-admissibles-intro-title" id="bienvenue">Bienvenue !</h1>
        <p>Admissible, cette page est pour toi ! Tout d’abord, félicitations. Si tu es en MP, tu vas avoir la joie, entre mi-juin et mi-juillet, de passer une semaine d’oraux dans notre splendide École. À cette occasion, le <a href="https://www.facebook.com/bdedesponts" title="Page Facebook du BDE" class="up-link">BDE DesPontsRados</a> tout de rouge vêtu, te recevra, t’aidera à trouver les salles d’examen, à éviter l’hypoglycémie via un stand bien approvisionné et à te mettre à l’aise entre deux oraux !<br>
La page des admissibles vient d'ouvrir, plus d'infos seront disponibles très prochainement.<br>
<strong>Toutefois, les réservations pour les logements ne commencent que Mardi 15 Juin à 20h précises (date d'attribution des séries d'oraux).<br>
Cela ce fera au moyen d'un formulaire au bas de cette page.</strong>
<br><br><br><br><br><br></p>
    </div>

    <div up-row center>
        <div up-col="20%" title="Logo du BDE" class="up-image-container">
            <div class="up-image" style="background-image: url('img/admissibles/bde.jpg'); border-radius: 10%"></div>
        </div>
    </div>

    <div up-row center>
        <h2 up-col="25%" class="up-assos-name"><span class="bckgnd">Bravo !</span></h2>
    </div>
    <div class="up-admissibles-intro-text">
        <p>
            Bravo à toi, cher admissible, d’être arrivé jusqu’ici, et on espère que tu iras encore plus loin !<br>
            Le BDE sera là pour toi afin que tes oraux aux Ponts se déroulent dans les meilleures conditions possibles. Découvre sur ce site tout ce que l’on peut faire pour toi, et si nous n’avons pas été assez minutieux, n’hésite pas à nous contacter via <a href="https://www.facebook.com/bdedesponts" title="Page Facebook du BDE" class="up-link">Facebook</a> ou envoie un mail à <a href="mailto:bde@enpc.org" class="up-link">bde@enpc.org</a>.<br><br>
            <youtube-video video-url="campuschannel"></youtube-video>
            <br><br><br>

            <!--<h1><a ng-href="download" target="_blank" class="up-link" title="La plaquette alpha au format PDF">Télécharge la plaquette alpha !</a></h1>

            <br><br><br>-->

            <div up-row center padded >
                <div class="up-admissibles-banner-text" up-col="30%">
                    <div class="up-admissibles-banner-logo up-clickable" ng-click="goTo('guide')">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <h1>Guide</h1>
                </div>
                <div class="up-admissibles-banner-text" up-col="30%">
                    <div class="up-admissibles-banner-logo up-clickable" ng-click="goTo('evenements')">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <h1>Évenements</h1>
                </div>
                <div class="up-admissibles-banner-text" up-col="30%">
                    <div class="up-admissibles-banner-logo up-clickable" ng-click="goTo('logement')">
                        <i class="fa fa-home"></i>
                    </div>
                    <h1>Logement</h1>
                </div>
            </div>

            <br><br><br>
        </p>
    </div>
</div>

<div class="up-admissibles-block up-block-3" id="guide">
    <div class="up-admissibles-block-title">
        Guide
    </div>
    <div class="up-admissibles-block-text">
        Nous sommes tous passés par là et l’on sait l’état dans lequel tu es peut être : fais donc confiance aux membres du BDE, qui finissent leur Première Année, n’ont pas encore tout à fait oublié cette période et feront tout pour te la faciliter. Pour nous repérer, c’est simple : on est en <strong style="color:red;">polo rouge</strong>.<br>
        Nous sommes là pour t’aider lors de cette semaine, que ce soit pour répondre à tes questions ou t’aider à passer un bon moment pour te détendre entre deux oraux. Et bien sûr, te motiver à nous rejoindre l’an prochain !<br>
        Voici en quelques mots le petit guide de l’admissible aux Ponts...
    </div>
</div>

<div class="up-admissibles-block up-block-7">
    <div class="up-admissibles-block-title">
        Accès
    </div>
    <div class="up-admissibles-block-text">
        En RER A, arrêt Noisy Champs.<br>
        <br>
        <strong>Temps de trajet :</strong>
        <ul>
            <li>25 minutes de RER depuis Châtelet</li>
            <li>5 minutes à pied (le parcours jusqu’à l’École sera fléché)</li>
        </ul>
        <strong>Conseil :</strong> Attention à bien sortir à l’avant du train pour ne pas te perdre (sortie Campus Descartes) ...
    </div>
</div>

<div class="up-admissibles-block up-block-6">
    <div class="up-admissibles-block-title">
        Pour déjeuner
    </div>
    <div class="up-admissibles-block-text">
        <ul>
            <li><strong>La cantine :</strong> située en face de l’Ecole, elle est ouverte de 11h30 à 14h00. Self-service, choix important.</li>
            <li><strong>La cafét’ :</strong> dans le Hall de l’Ecole, on y mange des sandwiches, paninis, salades pour 3-4€...</li>
            <li><strong>Le stand BDE :</strong> chaque jour, le BDE met à ta disposition des petites douceurs au stand.</li>
        </ul>

        Comment en profiter ? Un « abonnement » à la semaine te permettra de prendre à manger, et de profiter des événements organisés (barbecue, etc.).
    </div>
</div>

<div class="up-admissibles-block up-block-4">
    <div class="up-admissibles-block-title">
        Pour patienter entre deux oraux
    </div>
    <div class="up-admissibles-block-text">
        On espère pour toi que tu as eu de la chance, que tes oraux sont bien répartis et que tu n’auras pas trop de temps à tuer. Dans le cas contraire ou si tu as pris cinq heures d’avance pour le RER, vois le bon côté des choses : tu auras encore plus de temps pour profiter de tout ce que l’on aura mis en place pour toi !
        <ul>
            <li>Le stand BDE au centre du Hall (et dans la fosse) regorge de provisions pour tous les goûts et est GRATUIT. La gorge un peu sèche ? Viens l’hydrater. Un peu déprimé/ en hypoglycémie ? Nous avons de quoi te requinquer.</li>
            <li>Il fera sans doute beau, et ça tombe bien : il y a plein d’endroits tranquilles dehors où l’herbe est verte, pour se poser et faire une sieste.</li>
            <li>Faire une sieste ne te tente pas plus que ça ? C’est compréhensible, et nous te proposons de te changer les idées au coin lecture où les canapés sont confortables à souhait.</li>
            <li>Nous mettons aussi à ta disposition les infrastructures sportives situées devant l’Ecole (terrain de foot « urban » , tennis, basket...) et pouvons te prêter du matériel.</li>
        </ul>
    </div>
</div>

<div class="up-admissibles-block up-block-9" id="evenements">
    <div class="up-admissibles-block-title">
        Bracelet
    </div>
    <div class="up-admissibles-block-text">
        Envie de faciliter tes oraux ? De déstresser tranquillement le soir ? Ou simplement de déguster les grillades du vendredi midi gratuitement ? Pinte de bière, pizza, terrain de sport, oeno-charcuto, barbecues à volonté ?<br>
    <br>
    Pour un avant-goût du foyer des Ponts, viens savourer l’ambiance délicieuse au premier étage de l’Ecole, autour d’une bière à 2€ la pinte (ou gratuite si tu es en possession du bracelet « admissibles »), assis dans les canapés à écouter du bon son, ou à nous montrer ton talent au babyfoot ou au billard.
    </div>
</div>

<div class="up-admissibles-block up-block-8">
    <div class="up-admissibles-block-title">
        Évenements
    </div>
    <div class="up-admissibles-block-text">
        Le bracelet te permettra de profiter de ces incroyables évenements :
        <ul>
            <li>Barbecues</li>
            <li>Petits-déjeuners</li>
            <li>Pizza et ciné-club du mardi</li>
            <li>Oeno-charcuto du mercredi</li>
            <li>Infrastructures et équipements sportifs</li>
            <li>Pintes de bière à volonté</li>
        </ul>
    </div>
</div>

<div class="up-admissibles-block up-block-2" id="logement">
    <div class="up-admissibles-block-title">
        Résidence Meunier
    </div>
    <div class="up-admissibles-block-text">
        <em>C'est quoi ?</em><br>
        <br>
        C’est la résidence des Première Année dont la grande majorité se la coule douce en stage sur les plages du Brésil, d’Espagne et d’autres destinations sympathiques et, information plus pertinente, a laissé des chambres vacantes.<br>

         Il y a trois possibilités de logements dans cette résidence :
        <ul>
            <li><strong>Chambre simple :</strong> entre 18,5m² et 20m²</li>
            <li><strong>Chambre double (32-34m²) :</strong> une grande chambre séparée en deux compartiments grâce au mobilier (armoires et rangements), partagée avec un autre admissible.</li>
            <li><strong>Chambre binômée (21-23m²) :</strong> comme une chambre double d’une taille moindre. La séparation entre les deux lits est moins nette.</li>
        </ul>
    </div>
</div>

<div class="up-admissibles-block up-block-1">
    <div class="up-admissibles-block-title">
        Détails
    </div>
    <div class="up-admissibles-block-text">
        <i class="fa fa-star"></i> Date de la location : une semaine à partir du dimanche précédent les oraux.<br>
        <i class="fa fa-star"></i> Temps de trajet jusqu’aux Ponts : 2 minutes.<br>
        <i class="fa fa-star"></i> Modalités de location : Les chambres sont louées avec le mobilier et un ensemble de couvert. Il faut cependant apporter du linge de lit et de salle de bain.<br>
        <i class="fa fa-star"></i> Tarifs toutes charges comprises (compter en plus 25€ de frais de dossier, qui comprennent ton accueil par le BDE, la répartition des chambres et qui te donneront également droit au bracelet « admissibles » et te permettront de profiter de tous les événements organisés en ton honneur en toute gratuité).<br>

        <ul>
            <li>190€/semaine pour la chambre simple</li>
            <li>160€/semaine pour la chambre double</li>
            <li>140€/semaine pour la chambre binômée</li>
        </ul>
    </div>
</div>

<!--
<div up-row center>
    <div up-col="90%" style="text-align:center; font-size:1.3em">
        <br><br><br><br>
        <h2 id="reservation">Réservation</h2>
        <p>
            Pour réserver ta chambre à Meunier, c’est ici !<br>
            Il te suffit, pour cela, de remplir le formulaire ci-joint avec : tes nom et prénom, ton numéro SCEI, et ta préférence sur le type de logement (simple – 190€, double – 160€, ou binômé – 140€).<br>
            Nous te conseillons de faire vite car le nombre de chambres est limité !
        </p>

        <form up-row padded left wrap ng-submit="submit(admissible)" autocomplete="off" style="text-align:right;">
            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                Nom
            </div>
            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input class="up-col-xs-12" type="text" ng-model="admissible.lastName" placeholder="Nom"/>
            </div>

            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                Prénom
            </div>
            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input class="up-col-xs-12" type="text" ng-model="admissible.firstName" placeholder="Prénom"/>
            </div>

            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                Numéro SCEI
            </div>
            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input class="up-col-xs-12" type="text" ng-model="admissible.scei" placeholder="Numéro SCEI"/>
            </div>

            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                Adresse mail
            </div>
            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input type="text" class="up-col-xs-12" ng-model="admissible.contact" placeholder="Adresse mail" />
            </div>

            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                Série
            </div>
            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <select ng-model="admissible.serie">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>

            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                Chambre
            </div>
            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <select ng-model="admissible.room">
                    <option>Simple</option>
                    <option>Double</option>
                    <option>Binômée</option>
                </select>
            </div>

            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                Détails
            </div>
            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input type="text" class="up-col-xs-12" ng-model="admissible.details" placeholder="Toute autre information utile..."/>
            </div>

            <div up-row center up-col="100%">
                <button up-col-xs="100%" up-col-sm="100%" up-col="25%" class="up-btn up-btn-lg up-btn-default">Envoyer !</button>
            </div>
        </form>
        <p><small><em><i class="fa fa-warning"></i> En répondant à ce formulaire tu certifies venir de MP et être admissible au concours Mines-Ponts 2015</em></small></p>
        <br><br><br><br>
    </div>
</div>
-->
