<div class="up-admissibles-intro">
    <div class="up-admissibles-banner">
        <div class="up-admissibles-banner-overlay"></div>
        <img src="img/admissibles/5.jpg" alt=""/>
        <div class="up-admissibles-banner-text">
            <div class="up-admissibles-banner-logo up-clickable" ng-click="goTo('bienvenue')">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <h1>Espace Admissibles</h1>
        </div>
    </div>
    <div class="up-admissibles-intro-text">
        <h1 class="up-admissibles-intro-title" id="bienvenue">Bienvenue !</h1>
        <p>Admissible, cette page est pour toi ! Tout d’abord, félicitations. Si tu es en MP, tu vas avoir la joie, entre mi-juin et mi-juillet, de passer une semaine d’oraux dans notre splendide École. À cette occasion, le <a href="https://www.facebook.com/bdedesponts" title="Page Facebook du BDE" class="up-link">BDE DesPontsRados</a> tout de rouge vêtu, te recevra, t’aidera à trouver les salles d’examen, à éviter l’hypoglycémie via un stand bien approvisionné et à te mettre à l’aise entre deux oraux !<br>
La page des admissibles vient d'ouvrir, plus d'infos seront disponibles très prochainement.<br>
<strong>Toutefois, les réservations pour les logements ne commencent que Mardi 9 Juin à 20h précises.</strong>
<br><br><br><br><br><br></p>
    </div>

    <div up-row center>
        <div up-col="20%" title="Logo du BDE" class="up-image-container">
            <div class="up-image" style="background-image: url('img/admissibles/bde.jpg'); border-radius: 10%"></div>
        </div>
    </div>

    <div up-row center>
        <h2 up-col="25%" class="up-assos-name"><span class="bckgnd">Bravo !</span></h2>
    </div>
    <div class="up-admissibles-intro-text">
        <p>Bravo à toi, cher admissible, d’être arrivé jusqu’ici, et on espère que tu iras encore plus loin !<br>
Le BDE sera là pour toi afin que tes oraux aux Ponts se déroulent dans les meilleures conditions possibles. Découvre sur ce site tout ce que l’on peut faire pour toi, et si nous n’avons pas été assez minutieux, n’hésite pas à nous contacter via <a href="https://www.facebook.com/bdedesponts" title="Page Facebook du BDE" class="up-link">Facebook</a> ou envoie un mail à <a href="mailto:bde@enpc.org" class="up-link">bde@enpc.org</a>.</p>
    </div>
    <!--
    <div class="up-admissibles-intro-selector" ng-init="admissibleIntroSelector=0">
        <div class="up-admissibles-intro-selector-imgs">
            <div class="up-admissibles-intro-selector-img" ng-if="admissibleIntroSelector==0" style="background-image:url('img/castor-403.jpg')" />
            <div class="up-admissibles-intro-selector-img" ng-if="admissibleIntroSelector==1" style="background-image:url('img/castor-500.jpg')" />
            <div class="up-admissibles-intro-selector-img" ng-if="admissibleIntroSelector==2" style="background-image:url('img/castor-503.jpg')" />
        </div>
        <div up-row>
            <div up-col="33%" class="up-admissibles-intro-selector-switch" ng-click="admissibleIntroSelector=0">
                Zone 1
            </div>
            <div up-col="33%" class="up-admissibles-intro-selector-switch" ng-click="admissibleIntroSelector=1">
                Zone 2
            </div>
            <div up-col="33%" class="up-admissibles-intro-selector-switch" ng-click="admissibleIntroSelector=2">
                Zone 3
            </div>
        </div>
        <div class="up-admissibles-intro-selector-text">
            <div ng-if="admissibleIntroSelector==0">Texte 1</div>
            <div ng-if="admissibleIntroSelector==1">Texte 2</div>
            <div ng-if="admissibleIntroSelector==2">Texte 3</div>
        </div>
    </div>
</div>

<div class="up-admissibles-block up-block-3">
    <div class="up-admissibles-block-title">
        Titre
    </div>
    <div class="up-admissibles-block-text">
        But I must explain to you how all this mistaken idea of denouncing of a pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
    </div>
</div>
<div class="up-admissibles-block up-block-2">
    <div class="up-admissibles-block-title">
        Titre
    </div>
    <div class="up-admissibles-block-text">
        But I must explain to you how all this mistaken idea of denouncing of a pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
        Texte
    </div>
</div>
<div class="up-admissibles-block up-block-1">
    <div class="up-admissibles-block-title">
        Titre
    </div>
    <div class="up-admissibles-block-text">
        Texte
        But I must explain to you how all this mistaken idea of denouncing of a pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?

    </div>
</div>
<div class="up-admissibles-block up-block-4">
    <div class="up-admissibles-block-title">
        Titre
    </div>
    <div class="up-admissibles-block-text">
        Texte
        But I must explain to you how all this mistaken idea of denouncing of a pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
    </div>
</div>
<div class="up-admissibles-block up-block-6">
    <div class="up-admissibles-block-title">
        Titre
    </div>
    <div class="up-admissibles-block-text">
        Texte
        But I must explain to you how all this mistaken idea of denouncing of a pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
    </div>
</div>
<div class="up-admissibles-block up-block-7">
    <div class="up-admissibles-block-title">
        Titre
    </div>
    <div class="up-admissibles-block-text">
        Texte
        But I must explain to you how all this mistaken idea of denouncing of a pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
    </div>
</div>
<div class="up-admissibles-block up-block-8">
    <div class="up-admissibles-block-title">
        Titre
    </div>
    <div class="up-admissibles-block-text">
        Texte
        But I must explain to you how all this mistaken idea of denouncing of a pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
    </div>
</div>
<div class="up-admissibles-block up-block-9">
    <div class="up-admissibles-block-title">
        Titre
    </div>
    <div class="up-admissibles-block-text">
        Texte
        But I must explain to you how all this mistaken idea of denouncing of a pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
    </div>
</div>-->
