<nav class="Navbar">
    <div class="Navbar__image Image" ng-if="family.banner_url">
        <div class="Image__filler" ng-style="{ 'background-image' : 'url({{ family.banner_url | urlFile }})' }"></div>
    </div>
    <div row>
        <a class="Navbar__link" ui-sref-active="active" ui-sref="root.users.students.family.presentation">{{ family.full_name }} <span ng-if="family.full_name !== family.name">({{ family.name }})</span></a>
        <a class="Navbar__link" ui-sref-active="active" ui-sref="root.users.students.family.modify">Gestion</a>
    </div>
</nav>

<div class="padded" ui-view up-spinner autoscroll="false"></div>
