<div row="space-between start" ng-if="!club.administration">
    <section class="Ticket" flex="100" flex-md="66">
        <div ng-hide="edit">
            <p flex="100" ng-bind-html="presentation"></p>

            <div row="center center" flex="100" ng-if="isAdmin || $root.hasClub(club.slug)">
                <button class="Button" ng-click="editPresentation()">Modifier</button>
            </div>
        </div>

        <div ng-if="edit">
            <div flex="100">
                <textarea ng-model="presentation" redactor></textarea>
            </div>
            <div flex="100" row="end start">
                <button class="Button" ng-click="modify(presentation)">Envoyer</button>
            </div>
        </div>
    </section>

    <section class="Ticket" flex="100" flex-md="33">
        <h2>Membres - {{ club.full_name }}</h2>

        <table class="Table" flex="90">
            <thead>
                <tr>
                    <th>Élève</th>
                    <th>Rôle</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="member in filtered =  (members | promoFilter: promo | orderBy:orderBy:['priority'])">
                    <td><span up-user user="member.user">{{ member.user.first_name }} {{ member.user.last_name }}</span></td>
                    <td>{{ member.role }}</td>
                </tr>
                <tr ng-hide="filtered.length">
                    <td>Rien à afficher</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <select class="Input" ng-model="promo">
            <option ng-selected="promoItem == promo" ng-repeat="promoItem in $root.promos | reverse"
                    value="{{ promoItem }}">Année '{{ promoItem }}</option>
        </select>
    </section>
</div>
