<div ng-submit="ContactKI(type, contenu)">
    <div class="up-ticket up-column padded">
        <div up-row center>
            <label up-col="15%" up-col-xs="50%" for="contact_type">Type :</label>
            <div up-col="35%" up-col-xs="50%">
                <select ng-model="type" id="contact_type">
                    <option value=""></option>
                    <optgroup label="--- YouPont ---"></optgroup>
                    <option value="1">Rapporter un bug</option>
                    <option value="2">Demande de fonctionnalité</option>
                    <option value="3">Demande de création de page/club</option>
                    <option value="4">Changement de nom/prénom</option>
                    <option value="5">Autre</option>
                    <optgroup label="--- Dépannage ---"></optgroup>
                    <option value="6">Internet ne marche pas</option>
                    <option value="7">Problème logiciel</option>
                    <option value="8">Problème matériel</option>
                    <option value="9">Autre</option>
                    <optgroup label="------"></optgroup>
                    <option value="10">Ou juste envoyer un message au KI :D</option>
                </select>
            </div>
        </div>
        <div up-row center>
            <label up-col="15%" up-col-xs="50%" for="contact_contenu">Message :</label>
            <div up-col="35%" up-col-xs="50%">
                <textarea ng-model="contenu" id="contact_contenu"></textarea>
            </div>
        </div>
        <div class="centering">
            <button type="button" class="btn btn-default">Envoyer</button>
        </div>
    </div>
</div>
