<section class="Page__admissibles">
    <header class="Page__admissibles--header">
        <div class="Page__admissibles--overlay"></div>
        <img flex="100" src="img/admissibles/5.jpg" alt="Bâtiment des Ponts"/>
        <div class="Page__admissibles--intro  text-center" flex="100">
            <div class="Page__admissibles--logo" ng-click="goTo('bienvenue')">
                <i class="fa  fa-graduation-cap"></i>
            </div>
            <h1>Espace Admissibles</h1>
        </div>
    </header>

    <section class="padded">
        <h1 class="padded  text-center" flex="100" id="bienvenue">Bienvenue !</h1>

        <p class="padded">
            Admissible, cette page est pour toi ! Tout d’abord, félicitations. Si tu es en MP, tu vas avoir la joie, entre mi-juin et mi-juillet, de passer une semaine d’oraux dans notre splendide École. À cette occasion, le <a href="https://www.facebook.com/bdedesponts" title="Page Facebook du BDE" class="up-link">BDE Ras'Ponts'ine</a> tout de violet vêtu, te recevra, t’aidera à trouver les salles d’examen, à éviter l’hypoglycémie via un stand bien approvisionné et à te mettre à l’aise entre deux oraux !<br><br>

            Les réservations pour les logements ont déjà commencé via un formulaire au bas de cette page.
        </p>
    </section>

    <div flex="100" row="center stretch">
        <div class="Image" flex="20" title="Logo du BDE">
            <div class="Image__filler" style="background-image: url('img/admissibles/logo-bde.jpg'); border-radius: 10%"></div>
        </div>
    </div>

    <section class="padded">
        <h2 class="padded  text-center" flex="100">Bravo !</h2>
        <p class="padded">
            Bravo à toi, cher admissible, d’être arrivé jusqu’ici, et on espère que tu iras encore plus loin !<br>
            Le BDE sera là pour toi afin que tes oraux aux Ponts se déroulent dans les meilleures conditions possibles.<br>
            Découvre sur ce site tout ce qu’on peut faire pour toi, et, si nous n’avons pas été assez minutieux, n’hésite pas à nous contacter via <a href="https://www.facebook.com/bdedesponts" title="Page Facebook du BDE" class="up-link">Facebook</a> ou envoie un mail à <a href="mailto:bde@enpc.org" class="up-link">bde@enpc.org</a>.
        </p>

        <div flex="100" row="center stretch"><youtube-video video-url="campuschannel"></youtube-video></div>

        <h1 class="padded  text-center" flex="100">
            <a class="Link  Link--reverse" title="La plaquette alpha au format PDF" ng-href="{{ download }}" target="_blank">Télécharge la plaquette alpha !</a>
        </h1>

        <nav class="padded  text-center" flex="100" row="space-around stretch" wrap>
            <div flex="100" flex-md="25">
                <div class="Page__admissibles--logo" ng-click="goTo('guide')">
                    <i class="fa  fa-map-marker"></i>
                </div>
                <h1>Guide</h1>
            </div>
            <div flex="100" flex-md="25">
                <div class="Page__admissibles--logo" ng-click="goTo('evenements')">
                    <i class="fa  fa-calendar"></i>
                </div>
                <h1>Événements</h1>
            </div>
            <div flex="100" flex-md="25">
                <div class="Page__admissibles--logo" ng-click="goTo('logement')">
                    <i class="fa  fa-home"></i>
                </div>
                <h1>Logement</h1>
            </div>
        </nav>
    </section>
</section>

<section class="Page__admissibles--block  Page__admissibles--block-3" row="start start" id="guide">
    <div class="Ticket" flex="100" flex-md="60">
        <h2 flex="100" class="padded  text-center">Guide</h2>
        <p class="padded">
            Nous sommes tous passés par là et on connaît l’état dans lequel tu es peut-être : fais donc confiance aux membres du BDE, qui finissent leur première année, n’ont pas encore tout à fait oublié cette période et feront tout pour te la faciliter. Pour nous repérer, c’est simple : on est en <strong style="color:blueviolet;">polo violet</strong>.<br><br>

            Nous sommes là pour t’aider lors de cette semaine, que ce soit pour répondre à tes questions ou t’aider à passer un bon moment pour te détendre entre deux oraux. Et bien sûr, te motiver à nous rejoindre l’an prochain !<br>
            Voici en quelques mots le petit guide de l’admissible aux Ponts...
        </p>
    </div>
</section>

<section class="Page__admissibles--block  Page__admissibles--block-7" row="end start">
    <div class="Ticket" flex="100" flex-md="60">
        <h2 flex="100" class="padded  text-center">Accès</h2>
        <p class="padded">
            En RER A, arrêt Noisy Champs.<br>
            <br>
            <strong>Temps de trajet :</strong>
            <ul>
                <li>25 minutes de RER depuis Châtelet</li>
                <li>5 minutes à pied (le parcours jusqu’à l’École sera fléché)</li>
            </ul>
            <strong>Conseil :</strong> Attention à bien sortir à l’avant du train pour ne pas te perdre (sortie Campus Descartes)...
        </p>
        <img src="img/admissibles/access.jpg" style="max-width: 100%;">
    </div>
</section>

<section class="Page__admissibles--block  Page__admissibles--block-6" row="start start">
    <div class="Ticket" flex="100" flex-md="60">
        <h2 flex="100" class="padded  text-center">Pour déjeuner</h2>
        <p class="padded">
            <ul>
                <li><strong>La cantine :</strong> située en face de l’Ecole, elle est ouverte de 11h30 à 14h00. Self-service, choix important.</li>
                <li><strong>La cafét’ :</strong> dans le Hall de l’Ecole, on y mange des sandwiches, paninis, salades pour 3-4€...</li>
                <li><strong>Le stand BDE :</strong> chaque jour, le BDE met à ta disposition des petites douceurs au stand.</li>
            </ul>

            Comment en profiter ? Un « abonnement » à la semaine te permettra de prendre à manger, et de profiter des événements organisés (barbecue, etc.).
        </p>
    </div>
</section>

<section class="Page__admissibles--block  Page__admissibles--block-4" row="end start">
    <div class="Ticket" flex="100" flex-md="60">
        <h2 flex="100" class="padded  text-center">Pour patienter entre deux oraux</h2>
        <p class="padded">
            On espère pour toi que tu as eu de la chance, que tes oraux sont bien répartis et que tu n’auras pas trop de temps à tuer. Dans le cas contraire, ou si tu as pris cinq heures d’avance pour le RER, vois le bon côté des choses : tu auras encore plus de temps pour profiter de tout ce qu’on aura mis en place pour toi !
            <ul>
                <li>Le stand BDE au centre du Hall (et dans la fosse) regorge de provisions pour tous les goûts et est GRATUIT. La gorge un peu sèche ? Viens l’hydrater. Un peu déprimé/ en hypoglycémie ? Nous avons de quoi te requinquer.</li>
                <li>Il fera sans doute beau, et ça tombe bien : il y a plein d’endroits tranquilles dehors où l’herbe est verte, pour se poser et faire une sieste.</li>
                <li>Faire une sieste ne te tente pas plus que ça ? C’est compréhensible, et nous te proposons de te changer les idées au coin lecture où les canapés sont confortables à souhait.</li>
                <li>Nous mettons aussi à ta disposition les infrastructures sportives situées devant l’École (terrain de foot « urban » , tennis, basket...) et pouvons te prêter du matériel.</li>
            </ul>
        </p>
    </div>
</section>

<section class="Page__admissibles--block  Page__admissibles--block-9" row="start start" id="evenements">
    <div class="Ticket" flex="100" flex-md="60">
        <h2 flex="100" class="padded  text-center">Bracelet</h2>
        <p class="padded">
            Envie de faciliter tes oraux ? De déstresser tranquillement le soir ? Ou simplement de déguster les grillades du vendredi midi gratuitement ? Pinte de bière, pizza, terrain de sport, oeno-charcuto, barbecues à volonté ?<br><br>

            Pour un avant-goût du foyer des Ponts, viens savourer l’ambiance délicieuse au premier étage de l’École, autour d’une bière à 2€ la pinte (ou gratuite si tu es en possession du bracelet « admissibles »), assis dans les canapés à écouter du bon son, ou à nous montrer ton talent au babyfoot ou au billard.
        </p>
    </div>
</section>

<section class="Page__admissibles--block  Page__admissibles--block-8" row="end start">
    <div class="Ticket" flex="100" flex-md="60">
        <h2 flex="100" class="padded  text-center">Événements</h2>
        <p class="padded">
            Le bracelet te permettra de profiter de ces incroyables événements :
            <ul>
                <li>Barbecues</li>
                <li>Petit-déjeuners</li>
                <li>Pizza et ciné-club du mardi</li>
                <li>Oeno-charcuto du mercredi</li>
                <li>Infrastructures et équipements sportifs</li>
                <li>Pintes de bière à volonté</li>
            </ul>
        </p>
    </div>
</section>

<section class="Page__admissibles--block  Page__admissibles--block-2" row="start start" id="logement">
    <div class="Ticket" flex="100" flex-md="60">
        <h2 flex="100" class="padded  text-center">Résidence Meunier</h2>
        <p class="padded">
            <em>C'est quoi ?</em><br>
            <br>
            C’est la résidence des première année, dont la grande majorité est partie en stage ouvrier et a laissé des chambres vacantes.<br>

             Il y a trois possibilités de logements dans cette résidence :
            <ul>
                <li><strong>Chambre simple :</strong> entre 18,5m² et 20m² ;</li>
                <li><strong>Chambre double (32-34m²) :</strong> une grande chambre séparée en deux compartiments grâce au mobilier (armoires et rangements), partagée avec un autre admissible ;</li>
                <li><strong>Chambre binômée (21-23m²) :</strong> comme une chambre double d’une taille moindre. La séparation entre les deux lits est moins nette.</li>
            </ul>
        </p>
    </div>
</section>

<section class="Page__admissibles--block  Page__admissibles--block-1" row="end start">
    <div class="Ticket" flex="100" flex-md="60">
        <h2 flex="100" class="padded  text-center">Détails</h2>
        <p class="padded">
            <i class="fa fa-star"></i> Date de la location : une semaine à partir du dimanche précédent les oraux.<br>
            <i class="fa fa-star"></i> Temps de trajet jusqu’aux Ponts : 2 minutes.<br>
            <i class="fa fa-star"></i> Modalités de location : Les chambres sont louées avec le mobilier et un ensemble de couverts. Il faut cependant apporter du linge de lit et de salle de bain.<br>
            <i class="fa fa-star"></i> Tarifs toutes charges comprises (compter en plus 25€ de frais de dossier, qui comprennent ton accueil par le BDE, la répartition des chambres et qui te donneront également droit au bracelet « admissibles » et te permettront de profiter de tous les événements organisés en ton honneur en toute gratuité).<br>

            <ul>
                <li>170€/semaine pour la chambre simple ;</li>
                <li>130€/semaine pour la chambre double ;</li>
                <li>110€/semaine pour la chambre binômée.</li>
            </ul>
        </p>
    </div>
</section>


<section class="Page__admissibles--block" row="end start">
    <div class="Ticket" flex="100">
        <h2 flex="100" class="padded  text-center">Détails</h2>
        <p class="padded">
            Pour réserver ta chambre à Meunier, c’est ici !<br>
            Nous te conseillons de faire vite car le nombre de chambres est limité ! Tu recevras un mail de confirmation. Bonne chance :)
        </p>

        <form row="start center" wrap ng-submit="submit(admissible)">
            <div class="padded" flex="25">
                Prénom
            </div>
            <div class="padded" flex="75">
                <input class="Input" type="text" ng-model="admissible.firstName" placeholder="Prénom"/>
            </div>

            <div class="padded" flex="25">
                Nom
            </div>
            <div class="padded" flex="75">
                <input class="Input" type="text" ng-model="admissible.lastName" placeholder="Nom"/>
            </div>

            <div class="padded" flex="25">
                Numéro SCEI
            </div>
            <div class="padded" flex="75">
                <input class="Input" type="text" ng-model="admissible.scei" placeholder="Numéro SCEI"/>
            </div>

            <div class="padded" flex="25">
                Adresse mail
            </div>
            <div class="padded" flex="75">
                <input class="Input" type="text" ng-model="admissible.contact" placeholder="Adresse mail"/>
            </div>

            <div class="padded" flex="50" flex-md="25">
                Série
            </div>
            <div class="padded" flex="50" flex-md="25">
                <select class="Input" ng-model="admissible.serie">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>

            <div class="padded" flex="50" flex-md="25">
                Type de chambre
            </div>
            <div class="padded" flex="50" flex-md="25">
                <select class="Input" ng-model="admissible.room">
                    <option value="simple">Simple - 170 €</option>
                    <option value="double">Double - 130 €</option>
                    <option value="binome">Binômée - 110 €</option>
                </select>
            </div>

            <div class="padded" flex="25">
                Détails
            </div>
            <div class="padded" flex="75">
                <input class="Input" type="text" ng-model="admissible.details" placeholder="Toute autre information utile..."/>
            </div>

            <div class="padded" flex="100" row="center stretch">
                <button class="Button" flex="100" flex-md="25">Envoyer !</button>
            </div>
        </form>
        <p class="padded">
            <small><em><i class="fa fa-warning"></i> En répondant à ce formulaire tu certifies venir de MP et être admissible au concours Mines-Ponts 2016.</em></small>
        </p>
    </div>
</section>
