<div up-row left>
    <div up-col="60%" up-col-xs="100%" up-col-sm="100%" ng-include="'views/home/liste-publis.html'"></div>
    <div up-col="0%" up-col-md="40%" up-col-lg="40%" padded>
        <div class="up-ticket centering">
            <h2>Membres</h2>

            <table class="up-table" up-col="90%">
                <thead>
                    <tr>
                        <th>Élève</th>
                        <th>Rôle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="member in filtered =  (members | filter:promo | orderBy:['user.nick'])">
                        <td>{{ member.user.nick }}</td>
                        <td>{{ member.role }}</td>
                    </tr>
                    <tr ng-hide="filtered.length">
                        <td>Rien à afficher</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <select ng-model="promo">
                <option ng-repeat="promoItem in $root.promos" selected="{{ $index == promos.length-1 }}">{{ promoItem }}</option>
            </select>
        </div>
    </div>
</div>
