<div class="up-ticket">
    <h1>Informations Générales :</h1>

    <div up-row padded center>
        <div up-col-xs="100%" up-col-sm="100%" up-col="50%" class="centering">
            <img ng-src="{{ url + channel.image_url }}" class="up-profile-page-picture">
        </div>
    </div>

    <div class="up-profile-form">
        <form up-row padded left wrap ng-submit="submitClub(channel.name, channel.full_name, channel.icon, profilePicture)">
            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <i class="fa fa-angle-double-right"></i>
                Nom long
            </div>
            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input class="up-col-xs-12" type="text" ng-model="channel.full_name"/>
            </div>

            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <i class="fa fa-angle-right"></i>
                Nom court
            </div>
            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input class="up-col-xs-12" type="text" ng-model="channel.name"/>
            </div>

            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <i class="fa fa-{{ channel.icon || 'file-image-o' }}"></i>
                Icone
            </div>
            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input class="up-col-xs-12" type="text" ng-model="channel.icon" placeholder="Utilisée notamment sur l'appli mobile"/>
            </div>

            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <i class="fa fa-image"></i>
                Logo
            </div>
            <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
                <input type="file" class="up-col-xs-12" ng-model="profilePicture" base-sixty-four-input>
            </div>

            <div up-col="100%" up-row right>
                <button up-col-xs="100%" up-col-sm="100%" up-col="25%" class="up-btn up-btn-default">Modifier !</button>
            </div>
        </form>
    </div>
</div>

<div class="up-ticket">
    <h1>Membres</h1>
    <div up-row>
        <div up-col-xs="100%" up-col-sm="100%" up-col="50%">

        </div>

        <div up-col-xs="100%" up-col-sm="100%" up-col="50%">
            <table class="up-table" up-col="90%">
                <thead>
                    <tr>
                        <th>Élève</th>
                        <th>Rôle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="member in filtered =  (members | filter:promo | orderBy:['user.nick'])">
                        <td>{{ member.user.nick }}</td>
                        <td>{{ member.role }}</td>
                    </tr>
                    <tr ng-hide="filtered.length">
                        <td>Rien à afficher</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <select ng-model="promo">
                <option ng-repeat="promoItem in $root.promos" selected="{{ $index == promos.length-1 }}">{{ promoItem }}</option>
            </select>
        </div>
    </div>
</div>
