<div class="Ticket" ng-hide="edit">
    <div row class="text-center">
    <h1>{{ tuto.name }}</h1>
</div>
    <div ng-bind-html="presentation"></div>
    <br><br>
    <div class="padded" flex="25" row="center stretch" ng-if="isAdmin">
        <button class="Button" flex="100" ng-click="editTuto()">Modifier</button>
    </div>
    <div up-likes objet="tuto" url="'tutos/' + tuto.slug"></div>
</div>

<section class="Ticket" ng-if="edit">
    <div>
        <textarea ng-model="presentation" redactor></textarea>
    </div>

    <form class="padded" row wrap autocomplete="off">
        <div class="padded" flex="50" flex-md="25">
            <i class="fa fa-star"></i>
            Nom
        </div>
        <div class="padded" flex="50" flex-md="25">
            <input class="Input" type="text" ng-model="tuto.name" placeholder="Les Noobs pour les Nuls">
        </div>

        <div class="padded" flex="50" flex-md="25">
            <i class="fa fa-{{ tuto.icon || 'book' }}"></i>
            Icône <a ng-click="switchIcons()">({{ showIcons ? 'masquer' : 'voir' }} les icônes)</a>
        </div>

        <div class="padded" flex="50" flex-md="25">
            <input class="Input" type="text" ng-model="tuto.icon">
        </div>

        <div class="padded" flex="25" row="center stretch">
            <button class="Button" flex="100" ng-click="modify(tuto, presentation)">Envoyer</button>
        </div>

        <div class="padded" flex="25" row="center stretch">
            <button class="Button" flex="100" ng-click="delete()">Supprimer</button>
        </div>
    </form>
</section>

<section class="Ticket" ng-show="showIcons">
    <h2>Icônes <small><a ng-click="switchIcons()">(masquer)</a></small></h2>

    <div class="padded" row wrap>
        <div class="Link  Link--reverse padded" flex="50" flex-sm="33" flex-md="25" ng-repeat="icon in faIcons" ng-click="setIcon(icon)">
            <i class="fa fa-{{ icon }} fa-block"></i> {{ icon }}
        </div>
    </div>
</section>
