<div class="Ticket" ng-hide="edit">
    <div up-col="100%" style="text-align:center">
    <h1>{{ tuto.name }}</h1>
</div>
    <div up-col="100%" class="up-tutos" ng-bind-html="presentation"></div>
    <br><br>
    <div up-col="100%" up-row center ng-if="isAdmin">
        <button ng-click="editTuto()" class="up-btn up-btn-default up-btn-lg">Modifier</button>
    </div>
    <div up-likes objet="tuto" url="'tutos/' + tuto.slug"></div>
</div>

<div up-row padded wrap class="Ticket" ng-if="edit">
    <div up-col="100%">
        <textarea ng-model="presentation" redactor></textarea>
    </div>

    <form up-col="100%" up-row padded left wrap autocomplete="off">
        <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
            <i class="fa fa-star"></i>
            Nom
        </div>
        <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
            <input class="up-col-xs-12" type="text" ng-model="tuto.name" placeholder="Les Noobs pour les Nuls"/>
        </div>

        <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
            <i class="fa fa-{{ tuto.icon || 'book' }}"></i>
            Icône <a ng-click="switchIcons()">({{ showIcons ? 'masquer' : 'voir' }} les icônes)</a>
        </div>
        <div up-col-xs="50%" up-col-sm="50%" up-col="25%">
            <input class="up-col-xs-12" type="text" ng-model="tuto.icon"/>
        </div>
    </form>

    <div up-col="100%" up-row center>
        <button ng-click="modify(tuto, presentation)" class="up-btn up-btn-default up-btn-lg">Envoyer</button>
        <button ng-click="delete()" class="up-btn up-btn-primary up-btn-lg">Supprimer</button>
    </div>
</div>

<div class="Ticket" ng-show="showIcons">
    <h1>Icônes <small><a ng-click="switchIcons()">(masquer)</a></small></h1>
    <div up-row wrap padded>
        <div up-col-xs="50%" up-col-sm="33%" up-col="25%" class="up-clickable"
             ng-repeat="icon in faIcons" ng-click="setIcon(icon)">
            <i class="fa fa-{{ icon }} fa-block"></i> {{ icon }}
        </div>
    </div>
</div>
