<section class="Ticket" flex="100" flex-md="100">
    <div ng-hide="edit">
        <p flex="100" ng-bind-html="club.presentation | trustAsHtml"></p>

        <div row="center center" flex="100">
            <button class="Button" ng-click="editPresentation()">Modifier</button>
        </div>
    </div>

    <div ng-if="edit">
        <div flex="100">
            <textarea ng-model="club.presentation" redactor></textarea>
        </div>
        <div flex="100" row="end start">
            <button class="Button" ng-click="modify(club.presentation)">Envoyer</button>
        </div>
    </div>
</section>
